/**
  *<pre>
  * Statements
  *</pre>
  
  * @Class Name : mighty-1.2.0.css
  * @Description : Login 인증 화면
  * @Modification Information
  * @
  * @  수정일        		 수정자                   수정내용
  * @ -------    --------    ---------------------------
  * @ 2013.03.03    박영찬        최초 생성
  * @
*/

* {margin:0;padding:0;}
* html {height:1px;overflow:hidden}
body {margin:0; padding:0; font-family: '맑은 고딕', 'Malgun Gothic', 'Dotum'; font-size:12px; color:#666; scroll:none; overflow:hidden}
table, tr, td, th {font-family: '맑은 고딕', 'Malgun Gothic', 'Dotum'; font-size:12px; color:#333333;}

caption{visibility:hidden}
.listtd {padding:10px 5px 8px 5px; border-bottom:1px solid #e5e5e5;}
th {background-color:#F3F5E0; background:url(../../images/egovframework/rte/th_bg.gif) 0 0 repeat; height:26px; text-align:center; vertical-align:middle; color:#003366;}
img {border:0; vertical-align:middle;}
p { height:20px; margin:0; padding:5 0 0 0;}
.check ul {margin:0; padding:0; float:left;}
.check li {list-style-type:none; float:left; margin:0 0 0 0; padding:0 0 0 3px;}
.top {vertical-align:top;}

a:link { font-size:12px; font-family: '맑은 고딕', 'Malgun Gothic', 'Dotum'; color:#3A5870; text-decoration:none; line-height:100%;}
a:visited { font-size:12px; font-family: '맑은 고딕', 'Malgun Gothic', 'Dotum'; color:#3A5870; text-decoration:none}
a:active { font-size:12px; font-family: '맑은 고딕', 'Malgun Gothic', 'Dotum'; color:#339999; text-decoration:none;}
a:hover { font-size:12px; font-family: '맑은 고딕', 'Malgun Gothic', 'Dotum'; color:#339999; text-decoration:none;}


/* 정렬 */
.tac {text-align:center;}
.tal {text-align:left;}
.tar {text-align:right;}

/* 넓이 */
.w30 {width:30px;}
.w40 {width:40px;}
.w50 {width:50px;}
.w60 {width:60px;}
.w70 {width:70px;}
.w80 {width:80px;}
.w84 {width:84px;}
.w90 {width:90px;}
.w100 {width:100px;}
.w110 {width:110px;}
.w120 {width:120px;}
.w130 {width:130px;}
.w140 {width:140px;}
.w150 {width:150px;}
.w160 {width:160px;}
.w170 {width:170px;}
.w180 {width:180px;}
.w190 {width:190px;}
.w200 {width:200px;}
.w210 {width:210px;}
.w220 {width:220px;}
.w240 {width:240px;}
.w250 {width:250px;}
.w260 {width:260px;}
.w264 {width:264px;}
.w270 {width:270px;}
.w280 {width:280px;}
.w300 {width:300px;}
.w349 {width:349px;}
.w360 {width:360px;}
.w399 {width:399px;}
.w600 {width:600px;}

/* 옆에 버튼이 있는경우 */
.w120- {width:111px;}

/* 마진값 */
.mt0 {margin-top:0 !important;}
.mt1 {margin-top:1px;}
.mt2 {margin-top:2px;}
.mt3 {margin-top:3px;}
.mt4 {margin-top:4px;}
.mt5 {margin-top:5px;}
.mt6 {margin-top:6px;}
.mt7 {margin-top:7px;}
.mt8 {margin-top:8px;}
.mt9 {margin-top:9px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mb0 {margin-bottom:0 !important;}
.mb1 {margin-bottom:1px;}
.mb2 {margin-bottom:2px;}
.mb3 {margin-bottom:3px;}
.mb4 {margin-bottom:4px;}
.mb5 {margin-bottom:5px;}
.mb6 {margin-bottom:6px;}
.mb7 {margin-bottom:7px;}
.mb8 {margin-bottom:8px;}
.mb9 {margin-bottom:9px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.ml0 {margin-left:0 !important;}
.ml1 {margin-left:1px;}
.ml2 {margin-left:2px;}
.ml3 {margin-left:3px;}
.ml4 {margin-left:4px;}
.ml5 {margin-left:5px;}
.ml6 {margin-left:6px;}
.ml7 {margin-left:7px;}
.ml8 {margin-left:8px;}
.ml9 {margin-left:9px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}
.ml20 {margin-left:20px;}
.mr0 {margin-right:0 !important;}
.mr1 {margin-right:1px;}
.mr2 {margin-right:2px;}
.mr3 {margin-right:3px;}
.mr4 {margin-right:4px;}
.mr5 {margin-right:5px;}
.mr6 {margin-right:6px;}
.mr7 {margin-right:7px;}
.mr8 {margin-right:8px;}
.mr9 {margin-right:9px;}
.mr10 {margin-right:10px;}
.mr15 {margin-right:15px;}
.mr20 {margin-right:20px;}
.iframe_popup{border:0; margin:0; width:100%; height:100%;}


/* 조회 조건 */
div
{
  margin: 0;
  padding: 0;
  font-family: "맑은 고딕, Arial, sans-serif"; 
  font-size: 12px;
  color: #333333;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.grid_div{float:left;}

/* tab */
.tabc_div{float:left; display:none;}
.tabs_div{float:left;}
.tabs_nav{float:left; height:25px;}
.ctab_o {float:left; position:relative; top:-2px; height:21px; padding:1px 6px 2px 6px; margin:0px 0px 0px 3px; text-align:center; color:#999999; border-style: solid; border-radius: 0px 4px 0px 0px; border-width: 1px 1px 1px 1px; border-color: #ccc; cursor:pointer; background-color: #f9f9f9; z-index:1;}
.ctab_o:hover{border-width: 2px 1px 0px 1px; border-color: #df5702; color:#df5702;}
.ctab_o_a{float:left; position:relative; top:-2px; height:22px; padding:1px 6px 2px 6px; margin:0px 0px 0px 3px; font-weight:bold; text-align:center; color:#df5702; border-style: solid; border-radius: 0px 4px 0px 0px; border-width: 2px 2px 0px 2px; border-color: #df5702; cursor:pointer;  background-color: #ffffff; z-index:3;}
.ctab_o_line{float:left; position:relative; top:20px; width:100%; height:2px; width:100%; background-color: #f88b16;  z-index:2;
	background: -webkit-linear-gradient(left, #df5702, #f9f5f5); /* For Safari 5.1 to 6.0 */	/* c72127, ff7a4d ffa64d f88b16*/
	background: -o-linear-gradient(left, #df5702, #f9f5f5); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, #df5702, #f9f5f5); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #df5702, #f9f5f5); /* Standard syntax (must be last) */
}
.option_box
{
	float:left;
  /*min-width:1000px;*/
  overflow:hidden;
  margin-bottom: 6px;
  border-radius: 0px 0px 0px 0px;
  border:1px solid #c6c6c6;
 /*  border-style: solid; */
 /*  border-width: 2px 2px 2px 2px; */
  /* border-color: #6f8698; */
	border-collapse:collapse;  
  background-color: #ffffff;
/*  
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px #ccc;
		 -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px #ccc;
					box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px #ccc;
*/					
}
.option_box2
{
	float:left;
  /*min-width:1000px;*/
  overflow:hidden;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 0px 0px 0px 0px;
  border:1px solid #c6c6c6;
 /*  border-style: solid; */
 /*  border-width: 2px 2px 2px 2px; */
  /* border-color: #6f8698; */
	border-collapse:collapse;  
  background-color: #ffffff;
/*  
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px #ccc;
		 -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px #ccc;
					box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px #ccc;
*/					
}
.option_line
{
	float:left;
	border-top:1px solid #c6c6c6;
	border-collapse:collapse;
  	width:100%;
  	height:0px;
}
.option_line_500px
{
	float:left;
	border-top:1px solid #c6c6c6;
	border-collapse:collapse;
  width:500px;
  height:0px;
}
.option_label
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  width:100px;
  height:25px;
	font-weight:bold;
  text-align:right;
  line-height:25px;
  color:#333333; 
}
.option_label_check
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  width:100px;
  height:25px;
	font-weight:bold;
  text-align:right;
  line-height:25px;
  color:#ff0000; 
} 
.option_label_left
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  width:96px;
  height:25px;
	font-weight:bold;
  text-align:right;
  line-height:25px;
  color:#333333; 
}
.option_label_left_check
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  width:96px;
  height:25px;
	font-weight:bold;
  text-align:right;
  line-height:25px;
  color:#ff0000; 
} 
.option_input_bg
{
  float:left;
  overflow-x: visible;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-color: #c6c6c6;
  background-color: #ffffff; 
  margin:0;
  padding:0;
  height:25px;
  text-align:left;
  line-height:25px;
  color:#999999; 
  position:relative;
}
.option_input
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  text-align:left;
  vertical-align:middle;
  color:#000000; 
}
.option_input_fix
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  vertical-align:middle;
  color:#000000; 
}
.option_input_last
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  text-align:left;
  vertical-align:middle;
  color:#000000; 
} 
.option_input_fix_last
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:3px 3px 3px 3px;
  padding:0px 0px 0px 0px;
  height:17px;
  text-align:left;
  vertical-align:middle;
  color:#000000; 
}
.option_date
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  width:70px;
  text-align:center;
  vertical-align:middle;
  color:#000000; 
}
.option_yyyy
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  width:50px;
  text-align:right;
  vertical-align:middle;
  color:#000000; 
}
.option_yymm
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  width:60px;
  text-align:right;
  vertical-align:middle;
  color:#000000; 
}
.option_amt
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:3px 3px 3px 3px;
  padding:0px 0px 0px 0px;
  height:17px;
  width:120px;
  text-align:right;
  vertical-align:middle;
  color:#000000; 
}
.option_input:focus { border-color: #ff7f50;}
.option_input_fix:focus { border-color: #ff7f50;}
.option_date:focus { border-color: #ff7f50;}
.option_yymm:focus { border-color: #ff7f50;}
.option_yyyy:focus { border-color: #ff7f50;}
.option_amt:focus { border-color: #ff7f50;}
 
.search_input_bg
{
   float:left;
  overflow-x: visible;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-color: #c6c6c6;
  background-color: #ffffff; 
  margin:0;
  padding:3px;
  height:25px;
  text-align:left;
  line-height:25px;
  color:#999999; 
  position:relative;
}
.search_label
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  width:100px;
  height:25px;
	font-weight:bold;
  text-align:right;
  line-height:25px;
  color:#333333; 
}
 
.search_label_check
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  width:100px;
  height:25px;
	font-weight:bold;
  text-align:right;
  line-height:25px;
  color:#ff0000; 
} 

.search_label_left
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  width:96px;
  height:25px;
	font-weight:bold;
  text-align:right;
  line-height:25px;
  color:#333333; 
}
 
.search_label_left_check
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  overflow: hidden;
  border-color: #c6c6c6
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  width:96px;
  height:25px;
	font-weight:bold;
  text-align:right;
  line-height:25px;
  color:#ff0000; 
}
.search_input
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  text-align:left;
  vertical-align:middle;
  color:#000000; 
}
.search_input_fix
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  vertical-align:middle;
  color:#000000; 
}
.search_input_last
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  text-align:left;
  vertical-align:middle;
  color:#000000; 
} 
.search_input_fix_last
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:3px 3px 3px 3px;
  padding:0px 0px 0px 0px;
  height:17px;
  text-align:left;
  vertical-align:middle;
  color:#000000; 
}
.search_date
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  width:70px;
  text-align:right;
  vertical-align:middle;
  color:#000000; 
}
.search_yymm
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  width:60px;
  text-align:right;
  vertical-align:middle;
  color:#000000; 
}
.search_yyyy
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  width:50px;
  text-align:right;
  vertical-align:middle;
  color:#000000; 
}
.search_amt
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:3px 3px 3px 3px;
  padding:0px 0px 0px 0px;
  height:17px;
  width:120px;
  text-align:right;
  vertical-align:middle;
  color:#000000; 
}
.search_input:focus { border-color: #ff7f50;}
.search_input_fix:focus { border-color: #ff7f50;}
.search_date:focus { border-color: #ff7f50;}
.search_yymm:focus { border-color: #ff7f50;}
.search_yyyy:focus { border-color: #ff7f50;}
.search_amt:focus { border-color: #ff7f50;}


/* 임시로 추가(2014.06.09 김양열)============================================ */
.detail_lbl
{
	float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  width:100px;
	height:25px;
	text-align:right;
	line-height:25px;
	font-family:"맑은 고딕"; 
	color:#333333; 
	font-weight:bold;
	font-size:12px;
 }
 
.detail_lbl_check
{
	float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  width:100px;
	height:25px;
	text-align:right;
	line-height:25px;
	font-family:"맑은 고딕"; 
	color:#FF0000; 
	font-weight:bold;
	font-size:12px;
 } 

.detail_lbl_left
{
	float:left;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  width:100px;
	height:25px;
	text-align:right;
	line-height:25px;
	font-family:"맑은 고딕"; 
	color:#333333; 
	font-weight:bold;
	font-size:12px;
 }
 
.detail_lbl_left_check
{
	float:left;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  width:100px;
	height:25px;
	text-align:right;
	line-height:25px;
	font-family:"맑은 고딕"; 
	color:#FF0000; 
	font-size:12px;
 	font-weight:bold;
 } 
/* ================================================================ */
  
/* Freeform 입력 */
.detail_box
{
	float:left;
	border-top:2px solid #7095b2;
	border-bottom:2px solid #b9cbd9;
	border-collapse:collapse;
	auto !important;
}

.detail_line
{
	float:left;
	border-top:1px solid #c6c6c6;
	border-collapse:collapse;
  width:100%;
  height:0px;
}
 
.detail_line_500px
{
	float:left;
	border-top:1px solid #c6c6c6;
	border-collapse:collapse;
  width:500px;
  height:0px;
}
 
.detail_label
{
	float:left;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	overflow: hidden;
	border-color: #c6c6c6;
	background-color: #edeef0; 
	margin:0;
	padding:0 4px;
	min-width:30px;
	height:25px;
	font-weight:bold;
	text-align:right;
	line-height:25px;
	color:#333333; 
}
 
.detail_label_check
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  min-width:30px;
  height:25px;
  font-weight:bold;
  text-align:right;
  line-height:25px;
  color:#ff7200; 
} 

.detail_label_left
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  min-width:30px;
  height:25px;
  font-weight:bold;
  text-align:right;
  line-height:25px;
  color:#333333; 
}
 
.detail_label_left_check
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  min-width:30px;
  height:25px;
  font-weight:bold;
  text-align:right;
  line-height:25px;
  color:#ff7200; 
}
 
.detail_input_bg
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #ffffff; 
  margin:0;
  padding:0px 5px 0px 0px;
  height:25px;
  text-align:left;
  line-height:25px;
  color:#999999; 
  position:relative;
}
.detail_input
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  width:100%;
  height:17px;
  text-align:left;
  vertical-align:middle;
  color:#000000; 
}
.detail_input_fix
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  text-align:left;
  vertical-align:middle;
  color:#000000; 
}
.detail_input_last
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  text-align:left;
  vertical-align:middle;
  color:#000000; 
}
.detail_input_fix_last
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  text-align:left;
  vertical-align:middle;
  color:#000000; 
}
.detail_date
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  width:70px;
  text-align:center;
  vertical-align:middle;
  color:#000000; 
}
.detail_amt
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  /*width:100%;*/
  width:120px;
  text-align:right;
  vertical-align:middle;
  color:#000000; 
}

.detail_float1
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  /*width:100%;*/
  width:120px;
  text-align:right;
  vertical-align:middle;
  color:#000000; 
}

.detail_float2
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  /*width:100%;*/
  width:120px;
  text-align:right;
  vertical-align:middle;
  color:#000000; 
}
.detail_float3
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  /*width:100%;*/
  width:120px;
  text-align:right;
  vertical-align:middle;
  color:#000000; 
}
.detail_float4
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  /*width:100%;*/
  width:120px;
  text-align:right;
  vertical-align:middle;
  color:#000000; 
}

.detail_cust
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  width:70px;
  text-align:right;
  vertical-align:middle;
  color:#000000; 
}

.detail_register
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  width:70px;
  text-align:right;
  vertical-align:middle;
  color:#000000; 
}

.detail_zipcode
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  width:70px;
  text-align:center;
  vertical-align:middle;
  color:#000000; 
}

.detail_hhmm
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #c4c4c4;
  
  background-color: #ffffff; 
  margin:1px 3px 3px 1px;
  padding:0px 0px 0px 0px;
  height:17px;
  width:38px;
  text-align:center;
  vertical-align:middle;
  color:#000000; 
}

.detail_input:focus { border-color: #ff7f50;}
.detail_input_fix:focus { border-color: #ff7f50;}
.detail_date:focus { border-color: #ff7f50;}
.detail_amt:focus { border-color: #ff7f50;}
.detail_hhmm:focus { border-color: #ff7f50;}

input { height:18px; font-family: '맑은 고딕', 'Malgun Gothic', 'Dotum'; font-size:12px; color:#333333; padding:0px 2px 0px 2px; margin:0px 0px 0px 0px;}
input[type="checkbox"] {
  position: relative;
  top: 3px;
}

input[readonly="readonly"], input[readonly] {
  border-color: #d9d9d9;
  background-color: #edeef0; 
}

input[type="text"][disabled="disabled"]{
  border-color: #d9d9d9;
  background-color: #edeef0; 
}

#pageLayout {position:absolute; float:left; left:0; top:0; width:100%; height:100%; background-color:#ffffff; font-size:9pt; color:#5BF9F5; overflow-y:hidden; padding:0px; margin:0px; z-index:1; display:none;}

/* 상단 검색, 버튼 */
#topbar {float:left; position:relative; padding:5px 0 7px 0; width:100%; height:auto; min-width:1000px;}
#xsearch {float:left; *position:relative; display:table-cell; *display:inline-block; padding:5px; width:auto; *width:800px; text-align:left; vertical-align:top; border:1px solid #5c9ccc; border-radius:5px; white-space:nowrap;}
#userxbtns {float:right; height:100%; text-align:right; white-space:nowrap;margin-top:2px;margin-right:3px}
#xbtns {float:right; width:auto; height:100%; text-align:right; white-space:nowrap;margin-top:2px;margin-right:3px}

.search_find_img {cursor:pointer}

/* 그리드 */
#grid {float:left; width:100%;}
#grid_default {float:left; width:100%;height:100%;}
#grid_row_1 {float:left; width:100%;}
#grid_row_2 {float:left; width:100%;}
#grid_row_3 {float:left; width:100%;}
#grid_row_4 {float:left; width:100%;}
#grid_row_5 {float:left; width:100%;}
#grid_row_6 {float:left; width:100%;}
#grid_row_7 {float:left; width:100%;}
#grid_row_8 {float:left; width:100%;}
#grid_row_9 {float:left; width:100%;}
#grid_col_1 {float:left; height:100%;}
#grid_col_2 {float:right; height:100%;}

/* 프리폼 */
/*#freefrom {position:absolute; bottom:0; width:100%; min-width:1000px;}*/
#freeform {float:left; bottom:0; width:100%;}


/* 그리드 여백 조정 */
.grid_row_space {float:left; width:100%;}
.grid_col_space {float:left; height:100%;}

/* 그리드, 프리폼 라인 카운트 */
.grid_line_0 {bottom:0;}
.grid_line_2 {bottom:75px;}
.grid_line_3 {bottom:101px;}
.grid_line_4 {bottom:127px;}
.grid_line_5 {bottom:153px;}
.grid_line_6 {bottom:179px;}
.form_line_2 {height:51px;}
.form_line_3 {height:77px;}
.form_line_4 {height:103px;}
.form_line_5 {height:129px;}
.form_line_6 {height:155px;}


/* 추가 클래스 */
.pr {position:relative;}
.pa {position:absolute; left:0; right:0;}
.ro {background-color:#f9f9f9;}

#buttons{
      padding: 0px;
      list-style: none;
}
#buttons li{
     width: 50px;
     height: 21px;
     padding-right:1px;
     float: left;
}
#buttons li a{
	 display: block;
	 width: 50px;
	 height: 21px;
	 overflow:hidden;
	 text-indent: -999px;
	 background: url(../../images/btn/buttons.png);
}  

#buttons li a.append { background-position: 0 0;  }
#buttons li a.append:hover { background-position: -60px 0;  }
#buttons li a.append:active { background-position:  0 -30px;  }

#buttons li a.close { background-position: -60px -30px; }
#buttons li a.close:hover { background-position: -60px -60px; }
#buttons li a.close:active { background-position: 0 -60px; }

#buttons li a.delete {	background-position: 0 -90px; }
#buttons li a.delete:hover {	background-position: -120px 0; }
#buttons li a.delete:active {	background-position: -60px -90px; }

#buttons li a.duplicate { background-position: -120px -30px; }
#buttons li a.duplicate:hover { background-position: -120px -90px; }
#buttons li a.duplicate:active { background-position: -120px -60px; }

#buttons li a.excel { background-position: 0 -120px; }
#buttons li a.excel:hover { background-position: -120px -120px; }
#buttons li a.excel:active { background-position: -60px -120px; }

#buttons li a.insert { background-position: 0 -150px; }
#buttons li a.insert:hover { background-position:  -120px -150px; }
#buttons li a.insert:active { background-position: -60px -150px; }

#buttons li a.print { background-position: -180px -0; }
#buttons li a.print:hover { background-position: -180px -60px; }
#buttons li a.print:active { background-position: -180px -30px; }

#buttons li a.retrieve {	background-position: -180px -90px; }
#buttons li a.retrieve:hover {	background-position: -180px -150px; }
#buttons li a.retrieve:active {	background-position: -180px -120px; }

#buttons li a.save {	background-position: 0 -180px; }     
#buttons li a.save:hover {	background-position: -120px -180px ; }     
#buttons li a.save:active {	background-position: -60px -180px; } 

.fromdate {float:left; margin-top:1px; margin-left:4px;text-align:center;}
.fromdate input {text-align:center;margin:-4px 0 0 0;}
.fromdate img {border:0; vertical-align:absmiddle; margin-top:-3px;height: 19px;opacity: 0.5;filter: alpha(opacity=50);}
.tilde {border:0; vertical-align:absmiddle;}
.tilde img {border:0; vertical-align:absmiddle; margin:-4px 0 0 1px;height: 16px;opacity: 0.5;filter: alpha(opacity=50);}
.todate {float:left; top:-25px; left:12px; position:relative; margin-top:1px;margin-right:3px;text-align:center;}
.todate input {text-align:center;margin:-4px 0 0 0;}
.todate img {border:0; vertical-align:absmiddle;margin-top:-3px;height: 19px;opacity: 0.5;filter: alpha(opacity=50);}
.basicdate {float:left; margin-top:1px; margin-left:2px;text-align:center;}
.basicdate input {text-align:center;margin:-4px 0 0 0;}
.basicdate img {border:0; vertical-align:absmiddle; margin-top:-3px;height: 19px;opacity: 0.5;filter: alpha(opacity=50);}

textarea { color : #000000; border-color : #9cbed3; border-style : solid; border:1px;font-family: '맑은 고딕', 'Malgun Gothic'}