/**
  *<pre>
  * Statements
  *</pre>
  
  * @Class Name : mighty-1.2.6.css
  * @Description : Login 인증 화면
  * @Modification Information
  * @
  * @  수정일        		 수정자                   수정내용
  * @ -------    --------    ---------------------------
  * @ 2013.03.03    박영찬        최초 생성
  * @
*/

/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}


* {margin:0;padding:0;}
* html {height:1px;overflow:hidden}
html, body, div, span, ul, li, ol, p, img, fieldset, legend, form, input, select, textarea, object, button, a, table, th, td, dl, dt, dd,h1,h2,h3,h4,h5
{margin:0;
padding:0;
font-family:'Nanum Gothic', Dotum, Gulim, verdana, arial, sans-serif; 
font-size:12px;}
html, body{color:#4f4f4f; scroll:none; overflow:hidden}
table, tr, td, th {color:#333333;}

caption{visibility:hidden}
.listtd {padding:10px 5px 8px 5px; border-bottom:1px solid #e5e5e5;}
th {background-color:#F3F5E0; height:26px; text-align:center; vertical-align:middle; color:#003366;}
img {border:0; vertical-align:middle; margin:0; padding:0;}
p { height:20px; margin:0; padding:5 0 0 0;}
.check ul {margin:0; padding:0; float:left;}
.check li {list-style-type:none; float:left; margin:0 0 0 0; padding:0 0 0 3px;}
.top {vertical-align:top;}

a:link {color:#3A5870; text-decoration:none; line-height:100%;}
a:visited {color:#3A5870; text-decoration:none}
a:active {color:#339999; text-decoration:none;}
a:hover {color:#339999; text-decoration:none;}

input.ko {ime-mode:active}
input.en {ime-mode:inactive}

.process_msg {
	font-size:12px;
	font-weight:bold;
	color:#df5702;
}

/* 정렬 */
.tac {text-align:center;}
.tal {text-align:left;}
.tar {text-align:right;}

/* 넓이 */
.w30 {width:30px;}
.w40 {width:40px;}
.w50 {width:50px;}
.w60 {width:60px;}
.w70 {width:70px;}
.w80 {width:80px;}
.w84 {width:84px;}
.w90 {width:90px;}
.w100 {width:100px;}
.w110 {width:110px;}
.w120 {width:120px;}
.w130 {width:130px;}
.w140 {width:140px;}
.w150 {width:150px;}
.w160 {width:160px;}
.w170 {width:170px;}
.w180 {width:180px;}
.w190 {width:190px;}
.w200 {width:200px;}
.w210 {width:210px;}
.w220 {width:220px;}
.w240 {width:240px;}
.w250 {width:250px;}
.w260 {width:260px;}
.w264 {width:264px;}
.w270 {width:270px;}
.w280 {width:280px;}
.w300 {width:300px;}
.w349 {width:349px;}
.w360 {width:360px;}
.w399 {width:399px;}
.w600 {width:600px;}

/* 옆에 버튼이 있는경우 */
.w120- {width:111px;}

/* 마진값 */
.mt0 {margin-top:0 !important;}
.mt1 {margin-top:1px;}
.mt2 {margin-top:2px;}
.mt3 {margin-top:3px;}
.mt4 {margin-top:4px;}
.mt5 {margin-top:5px;}
.mt6 {margin-top:6px;}
.mt7 {margin-top:7px;}
.mt8 {margin-top:8px;}
.mt9 {margin-top:9px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mb0 {margin-bottom:0 !important;}
.mb1 {margin-bottom:1px;}
.mb2 {margin-bottom:2px;}
.mb3 {margin-bottom:3px;}
.mb4 {margin-bottom:4px;}
.mb5 {margin-bottom:5px;}
.mb6 {margin-bottom:6px;}
.mb7 {margin-bottom:7px;}
.mb8 {margin-bottom:8px;}
.mb9 {margin-bottom:9px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.ml0 {margin-left:0 !important;}
.ml1 {margin-left:1px;}
.ml2 {margin-left:2px;}
.ml3 {margin-left:3px;}
.ml4 {margin-left:4px;}
.ml5 {margin-left:5px;}
.ml6 {margin-left:6px;}
.ml7 {margin-left:7px;}
.ml8 {margin-left:8px;}
.ml9 {margin-left:9px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}
.ml20 {margin-left:20px;}
.mr0 {margin-right:0 !important;}
.mr1 {margin-right:1px;}
.mr2 {margin-right:2px;}
.mr3 {margin-right:3px;}
.mr4 {margin-right:4px;}
.mr5 {margin-right:5px;}
.mr6 {margin-right:6px;}
.mr7 {margin-right:7px;}
.mr8 {margin-right:8px;}
.mr9 {margin-right:9px;}
.mr10 {margin-right:10px;}
.mr15 {margin-right:15px;}
.mr20 {margin-right:20px;}
.iframe_popup{border:0; margin:0; width:100%; height:100%;}


/* 조회 조건 */
div
{
  color: #333333;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	/*display:block;*/
}
.grid_div{float:left;}

/* tab */
.tabc_div{float:left; display:none;}
.tabs_div{float:left;}
.tabs_nav{float:left; height:25px;}
.ctab_o {float:left; position:relative; top:-2px; height:21px; padding:2px 6px 3px 6px; margin:0px 0px 0px 3px; text-align:center; color:#999999; border-style: solid; border-radius: 0px 4px 0px 0px; border-width: 1px 1px 1px 1px; border-color: #ccc; cursor:pointer; background-color: #f9f9f9; z-index:1;}
.ctab_o:hover{border-width: 2px 1px 0px 1px; border-color: #df5702; color:#df5702;}
.ctab_o_a{float:left; position:relative; top:-2px; height:22px; padding:2px 6px 3px 6px; margin:0px 0px 0px 3px; font-weight:bold; text-align:center; color:#df5702; border-style: solid; border-radius: 0px 4px 0px 0px; border-width: 2px 2px 0px 2px; border-color: #df5702; cursor:pointer;  background-color: #ffffff; z-index:3;}
.ctab_o_line{float:left; position:relative; top:20px; width:100%; height:2px; width:100%; background-color: #f88b16;  z-index:2;
	background: -webkit-linear-gradient(left, #df5702, #f9f5f5); /* For Safari 5.1 to 6.0 */	/* c72127, ff7a4d ffa64d f88b16*/
	background: -o-linear-gradient(left, #df5702, #f9f5f5); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, #df5702, #f9f5f5); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #df5702, #f9f5f5); /* Standard syntax (must be last) */
}

.option_box
{
	float:left;
  /*min-width:1000px;*/
  overflow:hidden;
  margin-bottom: 6px;
  border-radius: 0px 0px 0px 0px;
  border:1px solid #c6c6c6;
 /*  border-style: solid; */
 /*  border-width: 2px 2px 2px 2px; */
  /* border-color: #6f8698; */
	border-collapse:collapse;  
  background-color: #ffffff;
/*  
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px #ccc;
		 -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px #ccc;
					box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px #ccc;
*/					
}
.option_box2
{
	float:left;
  /*min-width:1000px;*/
  overflow:hidden;
  margin-top: 0px;
  margin-bottom: 4px;
  padding:0 0 10px 0;
  border-radius: 0px 0px 0px 0px;
  /* border: 2px 1px 1px 1px solid #c6c6c6; */
  border-style: solid;
  border-width: 2px 0px 2px 0px;
  /*border-color: #5b9adf #6f8698 #5b9adf #6f8698; */
  border-color: #867f79 #c6c6c6 #aba5a2 #c6c6c6;
	border-collapse:collapse;  
  background-color: #f8f8f8;
/*  
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px #ccc;
		 -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px #ccc;
					box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px #ccc;
*/					
}
.option_line
{
	float:left;
	border-top:1px solid #c6c6c6;
	border-collapse:collapse;
  	width:100%;
  	height:0px;
}
.option_line_500px
{
	float:left;
	border-top:1px solid #c6c6c6;
	border-collapse:collapse;
  width:500px;
  height:0px;
}
.option_label,
.option_label_check,
.option_label_left,
.option_label_left_check
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #c6c6c6;
  /* background-color: #deebfb;  */
	background: url(/images/option_label_bg.gif) repeat 0 0;  
  margin:0;
  padding:0 5px 0 5px;
  /*width:100px;*/
  width:80px;
  height:25px;
  line-height:25px;
	font-weight:bold;
  text-align:right;
  color:#666633; 
}
.option_label_check
{
  color:#ff0000; 
} 
.option_label_left
{
  width:76px;
}
.option_label_left_check
{
  width:76px;
  color:#ff0000; 
}

.search_input_bg,
.option_input_bg
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #f8f8f8; 
  margin:0;  
  padding:0px 3px 0px 3px;
  height:25px;
  line-height:25px;
  text-align:left;
  color:#999999; 
  position:relative;
	/*vertical-align:middle;*/
}

.option_input,
.option_input_fix,
.option_input_last,
.option_input_fix_last,
.option_amt,
.option_date,
.option_yyyy,
.option_yymm,
.search_input,
.search_input_fix,
.search_input_last,
.search_input_fix_last,
.search_amt,
.search_date,
.search_yyyy,
.search_yymm
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #aab2bb;
  /*border-color: #c0dade;*/
  background-color: #ffffff; 
  height:16px;
  margin:0px 0px 0px 0px;
  padding:1px 0px 1px 2px;
  /*margin:0px 0px 2px 1px;  padding:0px 1px 1px 1px;*/
  text-align:left;
  vertical-align:middle;
  color:#000000; 
}
.option_date,
.search_date
{
  width:70px;
  text-align:center;
  padding:1px 1px 1px 1px;
}
.option_yyyy,
.search_yyyy
{
  width:40px;
  text-align:center;
  padding:1px 1px 1px 1px;
}
.option_yymm,
.search_yymm
{

  width:55px;
  text-align:center;
  padding:1px 1px 1px 1px;
}
.option_amt
{
  margin:0px 0px 0px 0px;
  padding:1px 2px 1px 0px;
  width:120px;
  text-align:right;
}
.option_input:focus,
.option_input_fix:focus,
.option_input_last:focus,
.option_input_fix_last:focus,
.option_date:focus,
.option_yyyy:focus,
.option_yymm:focus,
.option_amt:focus,
.search_date:focus,
.search_yyyy:focus,
.search_yymm:focus
{ border-color: #ff7f50;}

  
/* Freeform 입력 */
.detail_box
{
	float:left;
	border-top:2px solid #aab2bb;
	border-bottom:2px solid #b9cbd9;
	border-collapse:collapse;
  margin-top: 0px;
  margin-bottom: 1px;
	auto !important;
}
.detail_line
{
	float:left;
	border-top:1px solid #c6c6c6;
	border-collapse:collapse;
  width:100%;
  height:0px;
}
.detail_line_500px
{
	float:left;
	border-top:1px solid #c6c6c6;
	border-collapse:collapse;
  width:500px;
  height:0px;
}
 
.detail_label,
.detail_label_check,
.detail_label_left,
.detail_label_left_check
{
	float:left;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	overflow: hidden;
	border-color: #c6c6c6;
	/*background-color: #edeef0; */
	background: url(/images/detail_label_bg.gif) repeat 0 0;  	
	margin:0;
  padding:0 5px 0 5px;
	/*padding:0 4px;*/
	min-width:30px;
	height:25px;
	font-weight:bold;
	text-align:right;
	line-height:25px;
	color:#888888; 
}
.detail_label_check
{
  color:#ff7200; 
} 
.detail_label_left
{
  color:#888888; 
}
.detail_label_left_check
{
  color:#ff7200; 
}
 
.detail_input_bg
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #ffffff; 
  margin:0px 0px 0px 0px;
  padding:0px 3px 0px 3px;
  height:25px;
  line-height:25px;
  text-align:left;
  color:#999999; 
  position:relative;
	/*vertical-align:middle;  */
}

.detail_input, 
.detail_input_fix, 
.detail_date, 
.detail_amt, 
.detail_hhmm, 
.detail_float1, 
.detail_float2, 
.detail_float3, 
.detail_float4,
.detail_cust,
.detail_register,
.detail_zipcode,
.detail_hhmm
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;  
  border-color: #aab2bb;
  /*border-color: #c0dade;*/
  background-color: #ffffff; 
  height:16px;
  margin:0px 0px 0px 0px;
  padding:1px 0px 1px 2px;
  /*margin:0px 0px 2px 1px; padding:0px 1px 1px 1px;*/
  text-align:left;
  vertical-align:middle;
  color:#000000; 
}
textarea
{ color : #000000; 
	border-color : #9cbed3; 
	border-style : solid; 
	border:1px;
  padding:2px 0px 0px 2px;
}
 
.detail_date
{
  width:80px;
  text-align:center;
  padding:1px 1px 1px 1px;
}
.detail_amt,
.detail_float1,
.detail_float2,
.detail_float3,
.detail_float4
{
  width:120px;
  text-align:right;
  padding:1px 2px 1px 0px;
}
.detail_cust
{
  width:70px;
  text-align:right;
}
.detail_register
{
  width:70px;
  text-align:right;
}
.detail_zipcode
{
  width:70px;
  text-align:center;
}
.detail_hhmm
{
  width:38px;
  text-align:center;
}

select { 
	height:20px; 
  margin:0px 0px 0px 0px;
  padding:1px 1px 1px 1px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #aab2bb;
  /*border-color: #c0dade;*/  
	/*font-family:arial;*/

}


.detail_input:focus, 
.detail_input_fix:focus, 
.detail_date:focus, 
.detail_amt:focus, 
.detail_hhmm:focus, 
.detail_float1:focus, 
.detail_float2:focus, 
.detail_float3:focus, 
.detail_float4:focus,
.detail_cust:focus,
.detail_register:focus,
.detail_zipcode:focus,
.detail_hhmm:focus,
select:focus { 
	border-color: #ff7f50;
  border-width: 1px 1px 1px 1px;
}

.detail_input:hover, 
.detail_input_fix:hover, 
.detail_date:hover, 
.detail_amt:hover, 
.detail_hhmm:hover, 
.detail_float1:hover, 
.detail_float2:hover, 
.detail_float3:hover, 
.detail_float4:hover,
.detail_cust:hover,
.detail_register:hover,
.detail_zipcode:hover,
.detail_hhmm:hover,
select:hover { 
	border-color: #ff7f50;
  border-width: 1px 1px 1px 1px;
}

input[type="checkbox"] {
  position: relative;
  top: 3px;
}

input[readonly="readonly"], input[readonly], input[disabled],
select[readonly="readonly"], select[readonly], select[disabled],
textarea[readonly="readonly"], textarea[readonly], textarea[disabled],
input[type="text"][disabled],
input[type="text"][disabled="disabled"] {
  border-color: #d9d9d9;
	background: url(/images/input_disable_bg.gif) repeat 0 0;
  color: #222;
}

.option_date[disabled],.option_date[readonly="readonly"],.option_date[disabled],
.option_yyyy[disabled],.option_yyyy[readonly="readonly"],.option_yyyy[disabled],
.option_yymm[disabled],.option_yymm[readonly="readonly"],.option_yymm[disabled],
.option_amt[disabled],.option_amt[readonly="readonly"],.option_amt[disabled],
.search_date[disabled],.search_date[readonly="readonly"],.search_date[disabled],
.search_yyyy[disabled],.search_yyyy[readonly="readonly"],.search_yyyy[disabled],
.search_yymm[disabled],.search_yymm[readonly="readonly"],.search_yymm[disabled]
{
  border-color: #aab2bb;
  /*border-color: #c0dade;*/
}

#pageLayout {position:absolute; float:left; left:0; top:0; width:100%; height:100%; background-color:#ffffff; font-size:9pt; color:#5BF9F5; overflow-y:hidden; padding:7px 0 0 0; margin:0px; z-index:1; display:none;}

/* 상단 검색, 버튼 */
#topbar {float:left; position:relative; padding:5px 0 7px 0; width:100%; height:auto; min-width:1000px;}
#xsearch {float:left; *position:relative; display:table-cell; *display:inline-block; padding:5px; width:auto; *width:800px; text-align:left; vertical-align:top; border:1px solid #5c9ccc; border-radius:5px; white-space:nowrap;}
#userxbtns {float:right; height:25px; text-align:right; white-space:nowrap;margin:2px 3px 2px 0px;}
#xbtns {float:right; width:auto; height:100%; text-align:right; white-space:nowrap;margin-top:2px;margin-right:3px}

.search_find_img {cursor:pointer}
.btn_move {
	margin:1px 0px 1px 0px; 
	cursor:pointer
}
  


/* 그리드 */
#grid {float:left; width:100%;}
#grid_default {float:left; width:100%;height:100%;}
#grid_row_1 {float:left; width:100%;}
#grid_row_2 {float:left; width:100%;}
#grid_row_3 {float:left; width:100%;}
#grid_row_4 {float:left; width:100%;}
#grid_row_5 {float:left; width:100%;}
#grid_row_6 {float:left; width:100%;}
#grid_row_7 {float:left; width:100%;}
#grid_row_8 {float:left; width:100%;}
#grid_row_9 {float:left; width:100%;}
#grid_col_1 {float:left; height:100%;}
#grid_col_2 {float:right; height:100%;}

/* 프리폼 */
/*#freefrom {position:absolute; bottom:0; width:100%; min-width:1000px;}*/
#freeform {float:left; bottom:0; width:100%;}

/* 그리드 여백 조정 */
.grid_row_space {float:left; width:100%;}
.grid_col_space {float:left; height:100%;}

/* 그리드, 프리폼 라인 카운트 */
.grid_line_0 {bottom:0;}
.grid_line_2 {bottom:75px;}
.grid_line_3 {bottom:101px;}
.grid_line_4 {bottom:127px;}
.grid_line_5 {bottom:153px;}
.grid_line_6 {bottom:179px;}
.form_line_2 {height:51px;}
.form_line_3 {height:77px;}
.form_line_4 {height:103px;}
.form_line_5 {height:129px;}
.form_line_6 {height:155px;}


/* 추가 클래스 */
.pr {position:relative;}
.pa {position:absolute; left:0; right:0;}
.ro {background-color:#f9f9f9;}

#buttons{
	padding: 0px;
	list-style: none;
}
#buttons li{
   width: 50px;
   height: 21px;
   padding-right:1px;
	 margin-left: 1px;
   float: left;
}

#buttons li a{
	 display: block;
	 width: 50px;
	 height: 21px;
	 overflow:hidden;
	 text-indent: -999px;
	 background: url(../../images/btn/buttons.png);
}

#buttons li a.append { background-position: 0 0;  }
#buttons li a.append:hover { background-position: -60px 0;  }
#buttons li a.append:active { background-position:  0 -30px;  }

#buttons li a.close { background-position: -60px -30px; }
#buttons li a.close:hover { background-position: -60px -60px; }
#buttons li a.close:active { background-position: 0 -60px; }

#buttons li a.delete {	background-position: 0 -90px; }
#buttons li a.delete:hover {	background-position: -120px 0; }
#buttons li a.delete:active {	background-position: -60px -90px; }

#buttons li a.duplicate { background-position: -120px -30px; }
#buttons li a.duplicate:hover { background-position: -120px -90px; }
#buttons li a.duplicate:active { background-position: -120px -60px; }

#buttons li a.excel { background-position: 0 -120px; }
#buttons li a.excel:hover { background-position: -120px -120px; }
#buttons li a.excel:active { background-position: -60px -120px; }

#buttons li a.insert { background-position: 0 -150px; }
#buttons li a.insert:hover { background-position:  -120px -150px; }
#buttons li a.insert:active { background-position: -60px -150px; }

#buttons li a.print { background-position: -180px -0; }
#buttons li a.print:hover { background-position: -180px -60px; }
#buttons li a.print:active { background-position: -180px -30px; }

#buttons li a.retrieve {	background-position: -180px -90px; }
#buttons li a.retrieve:hover {	background-position: -180px -150px; }
#buttons li a.retrieve:active {	background-position: -180px -120px; }

#buttons li a.save {	background-position: 0 -180px; }     
#buttons li a.save:hover {	background-position: -120px -180px ; }     
#buttons li a.save:active {	background-position: -60px -180px; } 

/*
삭제대상(2015.03.15 KYY)
*/

.detail_lbl
{
	float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  width:100px;
	height:25px;
	text-align:right;
	line-height:25px;
	color:#333333; 
	font-weight:bold;
	font-size:12px;
 }
 
.detail_lbl_check
{
	float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  width:100px;
	height:25px;
	text-align:right;
	line-height:25px;
	color:#FF0000; 
	font-weight:bold;
	font-size:12px;
 } 

.detail_lbl_left
{
	float:left;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  width:100px;
	height:25px;
	text-align:right;
	line-height:25px;
	color:#333333; 
	font-weight:bold;
	font-size:12px;
 }
 
.detail_lbl_left_check
{
	float:left;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  width:100px;
	height:25px;
	text-align:right;
	line-height:25px;
	color:#FF0000; 
	font-size:12px;
 	font-weight:bold;
 } 

.search_label
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  width:100px;
  height:25px;
	font-weight:bold;
  text-align:right;
  line-height:25px;
  color:#333333; 
}
 
.search_label_check
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  width:100px;
  height:25px;
	font-weight:bold;
  text-align:right;
  line-height:25px;
  color:#ff0000; 
} 

.search_label_left
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  width:96px;
  height:25px;
	font-weight:bold;
  text-align:right;
  line-height:25px;
  color:#333333; 
}
 
.search_label_left_check
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  overflow: hidden;
  border-color: #c6c6c6
  background-color: #edeef0; 
  margin:0;
  padding:0 5px 0 5px;
  width:96px;
  height:25px;
	font-weight:bold;
  text-align:right;
  line-height:25px;
  color:#ff0000; 
}



button {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
input[type="button"].btn-block {
  width: 100%;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
button {
  align-items: flex-start;
  box-sizing: border-box;
}


.btn{display:inline-block;*display:inline;padding:2px 8px;margin-bottom:0;*margin-left:.3em;font-size:12px;line-height:14px;color:#333;text-align:center;text-shadow:0 1px 1px rgba(255,255,255,0.75);vertical-align:middle;cursor:pointer;background-color:#f5f5f5;*background-color:#e6e6e6;background-image:-moz-linear-gradient(top,#fff,#e6e6e6);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));background-image:-webkit-linear-gradient(top,#fff,#e6e6e6);background-image:-o-linear-gradient(top,#fff,#e6e6e6);background-image:linear-gradient(to bottom,#fff,#e6e6e6);background-repeat:repeat-x;border:1px solid #ccc;*border:0;border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);*zoom:1;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05)}
.btn:hover,.btn:focus,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{color:#333;background-color:#e6e6e6;*background-color:#d9d9d9}
.btn:active,.btn.active{background-color:#ccc ;}
.btn:first-child{*margin-left:0}
.btn:hover,.btn:focus{color:#333;text-decoration:none;background-position:0 -15px;-webkit-transition:background-position .1s linear;-moz-transition:background-position .1s linear;-o-transition:background-position .1s linear;transition:background-position .1s linear}
.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.btn.active,.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05)}
.btn.disabled,.btn[disabled]{cursor:default;background-image:none;opacity:.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.btn-large{padding:11px 19px;font-size:17.5px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}
.btn-large [class^="icon-"],.btn-large [class*=" icon-"]{margin-top:4px}
.btn-small{padding:2px 10px;font-size:11.9px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.btn-small [class^="icon-"],.btn-small [class*=" icon-"]{margin-top:0}
.btn-mini [class^="icon-"],.btn-mini [class*=" icon-"]{margin-top:-1px}
.btn-mini{padding:0 6px;font-size:10.5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.btn-block{display:block;width:100%;padding-right:0;padding-left:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.btn-block+.btn-block{margin-top:5px}
input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block{width:100%}
.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active{color:rgba(255,255,255,0.75)}
.btn-primary{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#006dcc;*background-color:#04c;background-image:-moz-linear-gradient(top,#08c,#04c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image:-webkit-linear-gradient(top,#08c,#04c);background-image:-o-linear-gradient(top,#08c,#04c);background-image:linear-gradient(to bottom,#08c,#04c);background-repeat:repeat-x;border-color:#04c #04c #002a80;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{color:#fff;background-color:#04c;*background-color:#003bb3}
.btn-primary:active,.btn-primary.active{background-color:#039 ;}
.btn-warning{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#faa732;*background-color:#f89406;background-image:-moz-linear-gradient(top,#fbb450,#f89406);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));background-image:-webkit-linear-gradient(top,#fbb450,#f89406);background-image:-o-linear-gradient(top,#fbb450,#f89406);background-image:linear-gradient(to bottom,#fbb450,#f89406);background-repeat:repeat-x;border-color:#f89406 #f89406 #ad6704;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450',endColorstr='#fff89406',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{color:#fff;background-color:#f89406;*background-color:#df8505}
.btn-warning:active,.btn-warning.active{background-color:#c67605 ;}
.btn-danger{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#da4f49;*background-color:#bd362f;background-image:-moz-linear-gradient(top,#ee5f5b,#bd362f);background-image:-webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));background-image:-webkit-linear-gradient(top,#ee5f5b,#bd362f);background-image:-o-linear-gradient(top,#ee5f5b,#bd362f);background-image:linear-gradient(to bottom,#ee5f5b,#bd362f);background-repeat:repeat-x;border-color:#bd362f #bd362f #802420;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b',endColorstr='#ffbd362f',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]{color:#fff;background-color:#bd362f;*background-color:#a9302a}
.btn-danger:active,.btn-danger.active{background-color:#942a25 ;}
.btn-success{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#5bb75b;*background-color:#51a351;background-image:-moz-linear-gradient(top,#62c462,#51a351);background-image:-webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));background-image:-webkit-linear-gradient(top,#62c462,#51a351);background-image:-o-linear-gradient(top,#62c462,#51a351);background-image:linear-gradient(to bottom,#62c462,#51a351);background-repeat:repeat-x;border-color:#51a351 #51a351 #387038;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{color:#fff;background-color:#51a351;*background-color:#499249}
.btn-success:active,.btn-success.active{background-color:#408140 ;}
.btn-info{
	color: #fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	background-color:#49afcd;
	*background-color:#2f96b4;
	background-image:-moz-linear-gradient(top,#5bc0de,#2f96b4);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
	/* background-image:-webkit-linear-gradient(top,#5bc0de,#2f96b4); */
	background-image:-o-linear-gradient(top,#5bc0de,#2f96b4);
	background-image:linear-gradient(to bottom,#5bc0de,#2f96b4);
	/* background-image:linear-gradient(to bottom,#5bc0de,#2f96b4); */
	/* background-repeat:repeat-x; *//* border-color:#2f96b4 #2f96b4 #1f6377; */
	/* border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25); */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',endColorstr='#ff2f96b4',GradientType=0);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
}
.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{color:#fff;background-color:#2f96b4;*background-color:#2a85a0}
.btn-info:active,.btn-info.active{background-color:#24748c ;}
.btn-inverse{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#363636;*background-color:#222;background-image:-moz-linear-gradient(top,#444,#222);background-image:-webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));background-image:-webkit-linear-gradient(top,#444,#222);background-image:-o-linear-gradient(top,#444,#222);background-image:linear-gradient(to bottom,#444,#222);background-repeat:repeat-x;border-color:#222 #222 #000;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444',endColorstr='#ff222222',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
.btn-inverse:hover,.btn-inverse:focus,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled]{color:#fff;background-color:#222;*background-color:#151515}
.btn-inverse:active,.btn-inverse.active{background-color:#080808 ;}
button.btn,input[type="submit"].btn{*padding-top:3px;*padding-bottom:3px}
button.btn::-moz-focus-inner,input[type="submit"].btn::-moz-focus-inner{padding:0;border:0}
button.btn.btn-large,input[type="submit"].btn.btn-large{*padding-top:7px;*padding-bottom:7px}
button.btn.btn-small,input[type="submit"].btn.btn-small{*padding-top:3px;*padding-bottom:3px}
button.btn.btn-mini,input[type="submit"].btn.btn-mini{*padding-top:1px;*padding-bottom:1px}
.btn-link,.btn-link:active,.btn-link[disabled]{background-color:transparent;background-image:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.btn-link{color:#08c;cursor:pointer;border-color:transparent;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.btn-link:hover,.btn-link:focus{color:#005580;text-decoration:underline;background-color:transparent}
.btn-link[disabled]:hover,.btn-link[disabled]:focus{color:#333;text-decoration:none}
.btn-group{position:relative;display:inline-block;*display:inline;*margin-left:.3em;font-size:0;white-space:nowrap;vertical-align:middle;*zoom:1}
.btn-group:first-child{*margin-left:0}
.btn-group+.btn-group{margin-left:5px}
.btn-toolbar{margin-top:10px;margin-bottom:10px;font-size:0}
.btn-toolbar>.btn+.btn,.btn-toolbar>.btn-group+.btn,.btn-toolbar>.btn+.btn-group{margin-left:5px}
.btn-group>.btn{position:relative;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.btn-group>.btn+.btn{margin-left:-1px}
.btn-group>.btn,.btn-group>.dropdown-menu,.btn-group>.popover{font-size:14px}
.btn-group>.btn-mini{font-size:10.5px}
.btn-group>.btn-small{font-size:11.9px}
.btn-group>.btn-large{font-size:17.5px}
.btn-group>.btn:first-child{margin-left:0;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-webkit-border-top-left-radius:4px;border-top-left-radius:4px;-moz-border-radius-bottomleft:4px;-moz-border-radius-topleft:4px}
.btn-group>.btn:last-child,.btn-group>.dropdown-toggle{-webkit-border-top-right-radius:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;-moz-border-radius-topright:4px;-moz-border-radius-bottomright:4px}
.btn-group>.btn.large:first-child{margin-left:0;-webkit-border-bottom-left-radius:6px;border-bottom-left-radius:6px;-webkit-border-top-left-radius:6px;border-top-left-radius:6px;-moz-border-radius-bottomleft:6px;-moz-border-radius-topleft:6px}
.btn-group>.btn.large:last-child,.btn-group>.large.dropdown-toggle{-webkit-border-top-right-radius:6px;border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;border-bottom-right-radius:6px;-moz-border-radius-topright:6px;-moz-border-radius-bottomright:6px}
.btn-group>.btn:hover,.btn-group>.btn:focus,.btn-group>.btn:active,.btn-group>.btn.active{z-index:2}
.btn-group .dropdown-toggle:active,.btn-group.open .dropdown-toggle{outline:0}
.btn-group>.btn+.dropdown-toggle{*padding-top:5px;padding-right:8px;*padding-bottom:5px;padding-left:8px;-webkit-box-shadow:inset 1px 0 0 rgba(255,255,255,0.125),inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 1px 0 0 rgba(255,255,255,0.125),inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 1px 0 0 rgba(255,255,255,0.125),inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05)}
.btn-group>.btn-mini+.dropdown-toggle{*padding-top:2px;padding-right:5px;*padding-bottom:2px;padding-left:5px}
.btn-group>.btn-small+.dropdown-toggle{*padding-top:5px;*padding-bottom:4px}
.btn-group>.btn-large+.dropdown-toggle{*padding-top:7px;padding-right:12px;*padding-bottom:7px;padding-left:12px}
.btn-group.open .dropdown-toggle{background-image:none;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05)}
.btn-group.open .btn.dropdown-toggle{background-color:#e6e6e6}
.btn-group.open .btn-primary.dropdown-toggle{background-color:#04c}
.btn-group.open .btn-warning.dropdown-toggle{background-color:#f89406}
.btn-group.open .btn-danger.dropdown-toggle{background-color:#bd362f}
.btn-group.open .btn-success.dropdown-toggle{background-color:#51a351}
.btn-group.open .btn-info.dropdown-toggle{background-color:#2f96b4}
.btn-group.open .btn-inverse.dropdown-toggle{background-color:#222}
.btn .caret{margin-top:8px;margin-left:0}
.btn-large .caret{margin-top:6px}
.btn-large .caret{border-top-width:5px;border-right-width:5px;border-left-width:5px}
.btn-mini .caret,.btn-small .caret{margin-top:8px}
.dropup .btn-large .caret{border-bottom-width:5px}
.btn-primary .caret,.btn-warning .caret,.btn-danger .caret,.btn-info .caret,.btn-success .caret,.btn-inverse .caret{border-top-color:#fff;border-bottom-color:#fff}
.btn-group-vertical{display:inline-block;*display:inline;*zoom:1}
.btn-group-vertical>.btn{display:block;float:none;max-width:100%;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.btn-group-vertical>.btn+.btn{margin-top:-1px;margin-left:0}
.btn-group-vertical>.btn:first-child{-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0}
.btn-group-vertical>.btn:last-child{-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px}
.btn-group-vertical>.btn-large:first-child{-webkit-border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;border-radius:6px 6px 0 0}
.btn-group-vertical>.btn-large:last-child{-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px}

