html, body { height: 100%; font-family: 'Malgun Gothic', 'NanumGothic'; }
body { width: 100%; margin: 0; padding: 0; }
* {font-family: 'Malgun Gothic', 'NanumGothic';}

body.top-body {
  min-width: 1000px;
}

#w_relogin { position:absolute; left:0px; top:0px; width:100%; height:100%; display:none; background-color:#FFF; z-index:9999; }
#mdimenu { width:100%; z-index:-1000; }
#mdi_main { width:100%; *min-width:1024px; }
#main-mdi-content { width: 100%; height: 100%; z-index:-2000; }

.menu-header {
  width: 100%;
  min-width: 1000px;
}

#main-container {
  width: 100%;
}

.x-mdi-wrap {
  height: 100% !important;
  padding: 6px;
}

.x-mdi-wrap iframe {
  width: 100%;
  height: 100%;
}

.navbar {
  margin-bottom: 0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a {
  padding: 5px 9px;
}

.nav-tabs>li>a .btn-xs, .nav-tabs>li.active>a .btn-xs {
  padding: 1px 1px;
  font-size: 8px;
  line-height: 1;
  border-radius: 2px;
}

.navbar-header {
  float: left;
}

.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-nav>li {
  float: left;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-right {
  float: right!important;
  margin-right: -15px;
}

/* navbar 고정 */
.navbar-toggle {
  display: none;
}

.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-collapse.collapse {
  display: block!important;
  height: auto!important;
  padding-bottom: 0;
  overflow: visible!important;
}

/* dropdown menu 관련 */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 4px;
  -moz-border-radius: 0 4px 4px;
  border-radius: 0 4px 4px 4px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 4px 0 4px 4px;
  -moz-border-radius: 4px 0 4px 4px;
  border-radius: 4px 0 4px 4px;
}

.dropdown-menu {
  font-size: 12px;
}

/* 2depth 메뉴 */


/* form 관련 */
.form-inline .form-group {
    display: inline;
    margin-bottom: 0;
    vertical-align: middle;
}

.form-inline .form-control {
    display: inline;
    width: auto;
    vertical-align: middle;
    padding: 1px;
    border-color: #aab2bb;
}

.input-sm {
  height: 22px;
}

input.form-control.input-sm {
  padding: 1px 6px;
}

select.input-sm {
  height: 22px;
  line-height: 10px;
  padding: 0 10px;
}

.form-group {
  margin-bottom: 6px;
}

.form-horizontal .control-label {
  padding-top: 3px;
  padding-bottom: 4px;
}

ul#buttons {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul#buttons li {
  float: left;
  margin-left: 4px;
  margin-bottom: 8px;
}

#formLoadImg {
  position:absolute; 
  left:50%; 
  top:40%; 
  z-index:10000;
}

/* ie8 bs3 override */


/* x-layout */
#pageLayout {
  overflow: hidden;
}

.x5-wrap, .x5-panel {
  width: 100%;
  height: 100%;
}

.x5-row {
  display: table;
  width: 100%;
}

/* x-layout - grid */
.slick-grid { 
  width: 100%; 
  height: 100% !important; 
}
/*
.slick-header-columns {
  width: 1000px;
}

#grid_1 {
  height: 100% !important;
}

.slick-viewport {
  height: 100% !important;
}

*/

.x5-inner, .x5-ff {
  width: 100%;
  height: 100%;
  padding: 3px;
  background-color: white;
}


.x5-ff table { width: 100%; }
.x5-ff table td { word-break: break-all; }
.x5-ff .form-control { width: 100%; }


.x5-h-1{height:1px;}.x5-h-5{height:5px;}.x5-h-10{height:10px;}.x5-h-15{height:15px;}.x5-h-20{height:20px;}.x5-h-25{height:25px;}.x5-h-30{height:30px;}.x5-h-35{height:35px;}.x5-h-40{height:40px;}.x5-h-45{height:45px;}.x5-h-50{height:50px;}.x5-h-55{height:55px;}.x5-h-60{height:60px;}.x5-h-65{height:65px;}.x5-h-70{height:70px;}.x5-h-75{height:75px;}.x5-h-80{height:80px;}.x5-h-85{height:85px;}.x5-h-90{height:90px;}.x5-h-95{height:95px;}.x5-h-100{height:100px;}.x5-h-105{height:105px;}.x5-h-110{height:110px;}.x5-h-115{height:115px;}.x5-h-120{height:120px;}.x5-h-125{height:125px;}.x5-h-130{height:130px;}.x5-h-135{height:135px;}.x5-h-140{height:140px;}.x5-h-145{height:145px;}.x5-h-150{height:150px;}.x5-h-155{height:155px;}.x5-h-160{height:160px;}.x5-h-165{height:165px;}.x5-h-170{height:170px;}.x5-h-175{height:175px;}.x5-h-180{height:180px;}.x5-h-185{height:185px;}.x5-h-190{height:190px;}.x5-h-195{height:195px;}.x5-h-200{height:200px;}.x5-h-205{height:205px;}.x5-h-210{height:210px;}.x5-h-215{height:215px;}.x5-h-220{height:220px;}.x5-h-225{height:225px;}.x5-h-230{height:230px;}.x5-h-235{height:235px;}.x5-h-240{height:240px;}.x5-h-245{height:245px;}.x5-h-250{height:250px;}.x5-h-255{height:255px;}.x5-h-260{height:260px;}.x5-h-265{height:265px;}.x5-h-270{height:270px;}.x5-h-275{height:275px;}.x5-h-280{height:280px;}.x5-h-285{height:285px;}.x5-h-290{height:290px;}.x5-h-295{height:295px;}.x5-h-300{height:300px;}.x5-h-305{height:305px;}.x5-h-310{height:310px;}.x5-h-315{height:315px;}.x5-h-320{height:320px;}.x5-h-325{height:325px;}.x5-h-330{height:330px;}.x5-h-335{height:335px;}.x5-h-340{height:340px;}.x5-h-345{height:345px;}.x5-h-350{height:350px;}.x5-h-355{height:355px;}.x5-h-360{height:360px;}.x5-h-365{height:365px;}.x5-h-370{height:370px;}.x5-h-375{height:375px;}.x5-h-380{height:380px;}.x5-h-385{height:385px;}.x5-h-390{height:390px;}.x5-h-395{height:395px;}.x5-h-400{height:400px;}.x5-h-405{height:405px;}.x5-h-410{height:410px;}.x5-h-415{height:415px;}.x5-h-420{height:420px;}.x5-h-425{height:425px;}.x5-h-430{height:430px;}.x5-h-435{height:435px;}.x5-h-440{height:440px;}.x5-h-445{height:445px;}.x5-h-450{height:450px;}.x5-h-455{height:455px;}.x5-h-460{height:460px;}.x5-h-465{height:465px;}.x5-h-470{height:470px;}.x5-h-475{height:475px;}.x5-h-480{height:480px;}.x5-h-485{height:485px;}.x5-h-490{height:490px;}.x5-h-495{height:495px;}.x5-h-500{height:500px;}.x5-h-505{height:505px;}.x5-h-510{height:510px;}.x5-h-515{height:515px;}.x5-h-520{height:520px;}.x5-h-525{height:525px;}.x5-h-530{height:530px;}.x5-h-535{height:535px;}.x5-h-540{height:540px;}.x5-h-545{height:545px;}.x5-h-550{height:550px;}.x5-h-555{height:555px;}.x5-h-560{height:560px;}.x5-h-565{height:565px;}.x5-h-570{height:570px;}.x5-h-575{height:575px;}.x5-h-580{height:580px;}.x5-h-585{height:585px;}.x5-h-590{height:590px;}.x5-h-595{height:595px;}.x5-h-600{height:600px;}.x5-h-605{height:605px;}.x5-h-610{height:610px;}.x5-h-615{height:615px;}.x5-h-620{height:620px;}.x5-h-625{height:625px;}.x5-h-630{height:630px;}.x5-h-635{height:635px;}.x5-h-640{height:640px;}.x5-h-645{height:645px;}.x5-h-650{height:650px;}.x5-h-655{height:655px;}.x5-h-660{height:660px;}.x5-h-665{height:665px;}.x5-h-670{height:670px;}.x5-h-675{height:675px;}.x5-h-680{height:680px;}.x5-h-685{height:685px;}.x5-h-690{height:690px;}.x5-h-695{height:695px;}.x5-h-700{height:700px;}.x5-h-705{height:705px;}.x5-h-710{height:710px;}.x5-h-715{height:715px;}.x5-h-720{height:720px;}.x5-h-725{height:725px;}.x5-h-730{height:730px;}.x5-h-735{height:735px;}.x5-h-740{height:740px;}.x5-h-745{height:745px;}.x5-h-750{height:750px;}.x5-h-755{height:755px;}.x5-h-760{height:760px;}.x5-h-765{height:765px;}.x5-h-770{height:770px;}.x5-h-775{height:775px;}.x5-h-780{height:780px;}.x5-h-785{height:785px;}.x5-h-790{height:790px;}.x5-h-795{height:795px;}.x5-h-800{height:800px;}.x5-h-805{height:805px;}.x5-h-810{height:810px;}.x5-h-815{height:815px;}.x5-h-820{height:820px;}.x5-h-825{height:825px;}.x5-h-830{height:830px;}.x5-h-835{height:835px;}.x5-h-840{height:840px;}.x5-h-845{height:845px;}.x5-h-850{height:850px;}.x5-h-855{height:855px;}.x5-h-860{height:860px;}.x5-h-865{height:865px;}.x5-h-870{height:870px;}.x5-h-875{height:875px;}.x5-h-880{height:880px;}.x5-h-885{height:885px;}.x5-h-890{height:890px;}.x5-h-895{height:895px;}.x5-h-900{height:900px;}.x5-h-905{height:905px;}.x5-h-910{height:910px;}.x5-h-915{height:915px;}.x5-h-920{height:920px;}.x5-h-925{height:925px;}.x5-h-930{height:930px;}.x5-h-935{height:935px;}.x5-h-940{height:940px;}.x5-h-945{height:945px;}.x5-h-950{height:950px;}.x5-h-955{height:955px;}.x5-h-960{height:960px;}.x5-h-965{height:965px;}.x5-h-970{height:970px;}.x5-h-975{height:975px;}.x5-h-980{height:980px;}.x5-h-985{height:985px;}.x5-h-990{height:990px;}.x5-h-995{height:995px;}.x5-h-1000{height:1000px;}
.x5-h-rate-1{height:1%;}.x5-h-rate-2{height:2%;}.x5-h-rate-3{height:3%;}.x5-h-rate-4{height:4%;}.x5-h-rate-5{height:5%;}.x5-h-rate-6{height:6%;}.x5-h-rate-7{height:7%;}.x5-h-rate-8{height:8%;}.x5-h-rate-9{height:9%;}.x5-h-rate-10{height:10%;}.x5-h-rate-11{height:11%;}.x5-h-rate-12{height:12%;}.x5-h-rate-13{height:13%;}.x5-h-rate-14{height:14%;}.x5-h-rate-15{height:15%;}.x5-h-rate-16{height:16%;}.x5-h-rate-17{height:17%;}.x5-h-rate-18{height:18%;}.x5-h-rate-19{height:19%;}.x5-h-rate-20{height:20%;}.x5-h-rate-21{height:21%;}.x5-h-rate-22{height:22%;}.x5-h-rate-23{height:23%;}.x5-h-rate-24{height:24%;}.x5-h-rate-25{height:25%;}.x5-h-rate-26{height:26%;}.x5-h-rate-27{height:27%;}.x5-h-rate-28{height:28%;}.x5-h-rate-29{height:29%;}.x5-h-rate-30{height:30%;}.x5-h-rate-31{height:31%;}.x5-h-rate-32{height:32%;}.x5-h-rate-33{height:33%;}.x5-h-rate-34{height:34%;}.x5-h-rate-35{height:35%;}.x5-h-rate-36{height:36%;}.x5-h-rate-37{height:37%;}.x5-h-rate-38{height:38%;}.x5-h-rate-39{height:39%;}.x5-h-rate-40{height:40%;}.x5-h-rate-41{height:41%;}.x5-h-rate-42{height:42%;}.x5-h-rate-43{height:43%;}.x5-h-rate-44{height:44%;}.x5-h-rate-45{height:45%;}.x5-h-rate-46{height:46%;}.x5-h-rate-47{height:47%;}.x5-h-rate-48{height:48%;}.x5-h-rate-49{height:49%;}.x5-h-rate-50{height:50%;}.x5-h-rate-51{height:51%;}.x5-h-rate-52{height:52%;}.x5-h-rate-53{height:53%;}.x5-h-rate-54{height:54%;}.x5-h-rate-55{height:55%;}.x5-h-rate-56{height:56%;}.x5-h-rate-57{height:57%;}.x5-h-rate-58{height:58%;}.x5-h-rate-59{height:59%;}.x5-h-rate-60{height:60%;}.x5-h-rate-61{height:61%;}.x5-h-rate-62{height:62%;}.x5-h-rate-63{height:63%;}.x5-h-rate-64{height:64%;}.x5-h-rate-65{height:65%;}.x5-h-rate-66{height:66%;}.x5-h-rate-67{height:67%;}.x5-h-rate-68{height:68%;}.x5-h-rate-69{height:69%;}.x5-h-rate-70{height:70%;}.x5-h-rate-71{height:71%;}.x5-h-rate-72{height:72%;}.x5-h-rate-73{height:73%;}.x5-h-rate-74{height:74%;}.x5-h-rate-75{height:75%;}.x5-h-rate-76{height:76%;}.x5-h-rate-77{height:77%;}.x5-h-rate-78{height:78%;}.x5-h-rate-79{height:79%;}.x5-h-rate-80{height:80%;}.x5-h-rate-81{height:81%;}.x5-h-rate-82{height:82%;}.x5-h-rate-83{height:83%;}.x5-h-rate-84{height:84%;}.x5-h-rate-85{height:85%;}.x5-h-rate-86{height:86%;}.x5-h-rate-87{height:87%;}.x5-h-rate-88{height:88%;}.x5-h-rate-89{height:89%;}.x5-h-rate-90{height:90%;}.x5-h-rate-91{height:91%;}.x5-h-rate-92{height:92%;}.x5-h-rate-93{height:93%;}.x5-h-rate-94{height:94%;}.x5-h-rate-95{height:95%;}.x5-h-rate-96{height:96%;}.x5-h-rate-97{height:97%;}.x5-h-rate-98{height:98%;}.x5-h-rate-99{height:99%;}.x5-h-rate-100{height:100%;}

.x5-w-5,.x5-w-10,.x5-w-15,.x5-w-20,.x5-w-25,.x5-w-30,.x5-w-35,.x5-w-40,.x5-w-45,.x5-w-50,.x5-w-55,.x5-w-60,.x5-w-65,.x5-w-70,.x5-w-75,.x5-w-80,.x5-w-85,.x5-w-90,.x5-w-95,.x5-w-100,.x5-w-105,.x5-w-110,.x5-w-115,.x5-w-120,.x5-w-125,.x5-w-130,.x5-w-135,.x5-w-140,.x5-w-145,.x5-w-150,.x5-w-155,.x5-w-160,.x5-w-165,.x5-w-170,.x5-w-175,.x5-w-180,.x5-w-185,.x5-w-190,.x5-w-195,.x5-w-200,.x5-w-205,.x5-w-210,.x5-w-215,.x5-w-220,.x5-w-225,.x5-w-230,.x5-w-235,.x5-w-240,.x5-w-245,.x5-w-250,.x5-w-255,.x5-w-260,.x5-w-265,.x5-w-270,.x5-w-275,.x5-w-280,.x5-w-285,.x5-w-290,.x5-w-295,.x5-w-300,.x5-w-305,.x5-w-310,.x5-w-315,.x5-w-320,.x5-w-325,.x5-w-330,.x5-w-335,.x5-w-340,.x5-w-345,.x5-w-350,.x5-w-355,.x5-w-360,.x5-w-365,.x5-w-370,.x5-w-375,.x5-w-380,.x5-w-385,.x5-w-390,.x5-w-395,.x5-w-400,.x5-w-405,.x5-w-410,.x5-w-415,.x5-w-420,.x5-w-425,.x5-w-430,.x5-w-435,.x5-w-440,.x5-w-445,.x5-w-450,.x5-w-455,.x5-w-460,.x5-w-465,.x5-w-470,.x5-w-475,.x5-w-480,.x5-w-485,.x5-w-490,.x5-w-495,.x5-w-500,.x5-w-505,.x5-w-510,.x5-w-515,.x5-w-520,.x5-w-525,.x5-w-530,.x5-w-535,.x5-w-540,.x5-w-545,.x5-w-550,.x5-w-555,.x5-w-560,.x5-w-565,.x5-w-570,.x5-w-575,.x5-w-580,.x5-w-585,.x5-w-590,.x5-w-595,.x5-w-600,.x5-w-605,.x5-w-610,.x5-w-615,.x5-w-620,.x5-w-625,.x5-w-630,.x5-w-635,.x5-w-640,.x5-w-645,.x5-w-650,.x5-w-655,.x5-w-660,.x5-w-665,.x5-w-670,.x5-w-675,.x5-w-680,.x5-w-685,.x5-w-690,.x5-w-695,.x5-w-700,.x5-w-705,.x5-w-710,.x5-w-715,.x5-w-720,.x5-w-725,.x5-w-730,.x5-w-735,.x5-w-740,.x5-w-745,.x5-w-750,.x5-w-755,.x5-w-760,.x5-w-765,.x5-w-770,.x5-w-775,.x5-w-780,.x5-w-785,.x5-w-790,.x5-w-795,.x5-w-800,.x5-w-805,.x5-w-810,.x5-w-815,.x5-w-820,.x5-w-825,.x5-w-830,.x5-w-835,.x5-w-840,.x5-w-845,.x5-w-850,.x5-w-855,.x5-w-860,.x5-w-865,.x5-w-870,.x5-w-875,.x5-w-880,.x5-w-885,.x5-w-890,.x5-w-895,.x5-w-900,.x5-w-905,.x5-w-910,.x5-w-915,.x5-w-920,.x5-w-925,.x5-w-930,.x5-w-935,.x5-w-940,.x5-w-945,.x5-w-950,.x5-w-955,.x5-w-960,.x5-w-965,.x5-w-970,.x5-w-975,.x5-w-980,.x5-w-985,.x5-w-990,.x5-w-995,.x5-w-1000,
.x5-w-rate-1,.x5-w-rate-2,.x5-w-rate-3,.x5-w-rate-4,.x5-w-rate-5,.x5-w-rate-6,.x5-w-rate-7,.x5-w-rate-8,.x5-w-rate-9,.x5-w-rate-10,.x5-w-rate-11,.x5-w-rate-12,.x5-w-rate-13,.x5-w-rate-14,.x5-w-rate-15,.x5-w-rate-16,.x5-w-rate-17,.x5-w-rate-18,.x5-w-rate-19,.x5-w-rate-20,.x5-w-rate-21,.x5-w-rate-22,.x5-w-rate-23,.x5-w-rate-24,.x5-w-rate-25,.x5-w-rate-26,.x5-w-rate-27,.x5-w-rate-28,.x5-w-rate-29,.x5-w-rate-30,.x5-w-rate-31,.x5-w-rate-32,.x5-w-rate-33,.x5-w-rate-34,.x5-w-rate-35,.x5-w-rate-36,.x5-w-rate-37,.x5-w-rate-38,.x5-w-rate-39,.x5-w-rate-40,.x5-w-rate-41,.x5-w-rate-42,.x5-w-rate-43,.x5-w-rate-44,.x5-w-rate-45,.x5-w-rate-46,.x5-w-rate-47,.x5-w-rate-48,.x5-w-rate-49,.x5-w-rate-50,.x5-w-rate-51,.x5-w-rate-52,.x5-w-rate-53,.x5-w-rate-54,.x5-w-rate-55,.x5-w-rate-56,.x5-w-rate-57,.x5-w-rate-58,.x5-w-rate-59,.x5-w-rate-60,.x5-w-rate-61,.x5-w-rate-62,.x5-w-rate-63,.x5-w-rate-64,.x5-w-rate-65,.x5-w-rate-66,.x5-w-rate-67,.x5-w-rate-68,.x5-w-rate-69,.x5-w-rate-70,.x5-w-rate-71,.x5-w-rate-72,.x5-w-rate-73,.x5-w-rate-74,.x5-w-rate-75,.x5-w-rate-76,.x5-w-rate-77,.x5-w-rate-78,.x5-w-rate-79,.x5-w-rate-80,.x5-w-rate-81,.x5-w-rate-82,.x5-w-rate-83,.x5-w-rate-84,.x5-w-rate-85,.x5-w-rate-86,.x5-w-rate-87,.x5-w-rate-88,.x5-w-rate-89,.x5-w-rate-90,.x5-w-rate-91,.x5-w-rate-92,.x5-w-rate-93,.x5-w-rate-94,.x5-w-rate-95,.x5-w-rate-96,.x5-w-rate-97,.x5-w-rate-98,.x5-w-rate-99,.x5-w-rate-100
{ float: left; height: 100%; }
.x5-col-1,.x5-col-2,.x5-col-3,.x5-col-4,.x5-col-5,.x5-col-6,.x5-col-7,.x5-col-8,.x5-col-9,.x5-col-10,.x5-col-11,.x5-col-12
{ float: left; height: 100%; }
td.x5-w-5,td.x5-w-10,td.x5-w-15,td.x5-w-20,td.x5-w-25,td.x5-w-30,td.x5-w-35,td.x5-w-40,td.x5-w-45,td.x5-w-50,td.x5-w-55,td.x5-w-60,td.x5-w-65,td.x5-w-70,td.x5-w-75,td.x5-w-80,td.x5-w-85,td.x5-w-90,td.x5-w-95,td.x5-w-100,td.x5-w-105,td.x5-w-110,td.x5-w-115,td.x5-w-120,td.x5-w-125,td.x5-w-130,td.x5-w-135,td.x5-w-140,td.x5-w-145,td.x5-w-150,td.x5-w-155,td.x5-w-160,td.x5-w-165,td.x5-w-170,td.x5-w-175,td.x5-w-180,td.x5-w-185,td.x5-w-190,td.x5-w-195,td.x5-w-200,td.x5-w-205,td.x5-w-210,td.x5-w-215,td.x5-w-220,td.x5-w-225,td.x5-w-230,td.x5-w-235,td.x5-w-240,td.x5-w-245,td.x5-w-250,td.x5-w-255,td.x5-w-260,td.x5-w-265,td.x5-w-270,td.x5-w-275,td.x5-w-280,td.x5-w-285,td.x5-w-290,td.x5-w-295,td.x5-w-300,td.x5-w-305,td.x5-w-310,td.x5-w-315,td.x5-w-320,td.x5-w-325,td.x5-w-330,td.x5-w-335,td.x5-w-340,td.x5-w-345,td.x5-w-350,td.x5-w-355,td.x5-w-360,td.x5-w-365,td.x5-w-370,td.x5-w-375,td.x5-w-380,td.x5-w-385,td.x5-w-390,td.x5-w-395,td.x5-w-400,td.x5-w-405,td.x5-w-410,td.x5-w-415,td.x5-w-420,td.x5-w-425,td.x5-w-430,td.x5-w-435,td.x5-w-440,td.x5-w-445,td.x5-w-450,td.x5-w-455,td.x5-w-460,td.x5-w-465,td.x5-w-470,td.x5-w-475,td.x5-w-480,td.x5-w-485,td.x5-w-490,td.x5-w-495,td.x5-w-500,td.x5-w-505,td.x5-w-510,td.x5-w-515,td.x5-w-520,td.x5-w-525,td.x5-w-530,td.x5-w-535,td.x5-w-540,td.x5-w-545,td.x5-w-550,td.x5-w-555,td.x5-w-560,td.x5-w-565,td.x5-w-570,td.x5-w-575,td.x5-w-580,td.x5-w-585,td.x5-w-590,td.x5-w-595,td.x5-w-600,td.x5-w-605,td.x5-w-610,td.x5-w-615,td.x5-w-620,td.x5-w-625,td.x5-w-630,td.x5-w-635,td.x5-w-640,td.x5-w-645,td.x5-w-650,td.x5-w-655,td.x5-w-660,td.x5-w-665,td.x5-w-670,td.x5-w-675,td.x5-w-680,td.x5-w-685,td.x5-w-690,td.x5-w-695,td.x5-w-700,td.x5-w-705,td.x5-w-710,td.x5-w-715,td.x5-w-720,td.x5-w-725,td.x5-w-730,td.x5-w-735,td.x5-w-740,td.x5-w-745,td.x5-w-750,td.x5-w-755,td.x5-w-760,td.x5-w-765,td.x5-w-770,td.x5-w-775,td.x5-w-780,td.x5-w-785,td.x5-w-790,td.x5-w-795,td.x5-w-800,td.x5-w-805,td.x5-w-810,td.x5-w-815,td.x5-w-820,td.x5-w-825,td.x5-w-830,td.x5-w-835,td.x5-w-840,td.x5-w-845,td.x5-w-850,td.x5-w-855,td.x5-w-860,td.x5-w-865,td.x5-w-870,td.x5-w-875,td.x5-w-880,td.x5-w-885,td.x5-w-890,td.x5-w-895,td.x5-w-900,td.x5-w-905,td.x5-w-910,td.x5-w-915,td.x5-w-920,td.x5-w-925,td.x5-w-930,td.x5-w-935,td.x5-w-940,td.x5-w-945,td.x5-w-950,td.x5-w-955,td.x5-w-960,td.x5-w-965,td.x5-w-970,td.x5-w-975,td.x5-w-980,td.x5-w-985,td.x5-w-990,td.x5-w-995,td.x5-w-1000,
td.x5-w-rate-1,td.x5-w-rate-2,td.x5-w-rate-3,td.x5-w-rate-4,td.x5-w-rate-5,td.x5-w-rate-6,td.x5-w-rate-7,td.x5-w-rate-8,td.x5-w-rate-9,td.x5-w-rate-10,td.x5-w-rate-11,td.x5-w-rate-12,td.x5-w-rate-13,td.x5-w-rate-14,td.x5-w-rate-15,td.x5-w-rate-16,td.x5-w-rate-17,td.x5-w-rate-18,td.x5-w-rate-19,td.x5-w-rate-20,td.x5-w-rate-21,td.x5-w-rate-22,td.x5-w-rate-23,td.x5-w-rate-24,td.x5-w-rate-25,td.x5-w-rate-26,td.x5-w-rate-27,td.x5-w-rate-28,td.x5-w-rate-29,td.x5-w-rate-30,td.x5-w-rate-31,td.x5-w-rate-32,td.x5-w-rate-33,td.x5-w-rate-34,td.x5-w-rate-35,td.x5-w-rate-36,td.x5-w-rate-37,td.x5-w-rate-38,td.x5-w-rate-39,td.x5-w-rate-40,td.x5-w-rate-41,td.x5-w-rate-42,td.x5-w-rate-43,td.x5-w-rate-44,td.x5-w-rate-45,td.x5-w-rate-46,td.x5-w-rate-47,td.x5-w-rate-48,td.x5-w-rate-49,td.x5-w-rate-50,td.x5-w-rate-51,td.x5-w-rate-52,td.x5-w-rate-53,td.x5-w-rate-54,td.x5-w-rate-55,td.x5-w-rate-56,td.x5-w-rate-57,td.x5-w-rate-58,td.x5-w-rate-59,td.x5-w-rate-60,td.x5-w-rate-61,td.x5-w-rate-62,td.x5-w-rate-63,td.x5-w-rate-64,td.x5-w-rate-65,td.x5-w-rate-66,td.x5-w-rate-67,td.x5-w-rate-68,td.x5-w-rate-69,td.x5-w-rate-70,td.x5-w-rate-71,td.x5-w-rate-72,td.x5-w-rate-73,td.x5-w-rate-74,td.x5-w-rate-75,td.x5-w-rate-76,td.x5-w-rate-77,td.x5-w-rate-78,td.x5-w-rate-79,td.x5-w-rate-80,td.x5-w-rate-81,td.x5-w-rate-82,td.x5-w-rate-83,td.x5-w-rate-84,td.x5-w-rate-85,td.x5-w-rate-86,td.x5-w-rate-87,td.x5-w-rate-88,td.x5-w-rate-89,td.x5-w-rate-90,td.x5-w-rate-91,td.x5-w-rate-92,td.x5-w-rate-93,td.x5-w-rate-94,td.x5-w-rate-95,td.x5-w-rate-96,td.x5-w-rate-97,td.x5-w-rate-98,td.x5-w-rate-99,td.x5-w-rate-100
{ float: none; height: 100%; }
td.x5-col-1,td.x5-col-2,td.x5-col-3,td.x5-col-4,td.x5-col-5,td.x5-col-6,td.x5-col-7,td.x5-col-8,td.x5-col-9,td.x5-col-10,td.x5-col-11,td.x5-col-12
{ float: left; height: 100%; }
.x5-w-fill{ float: left; height: 100%; }

.x5-w-5{width:5px;}.x5-w-10{width:10px;}.x5-w-15{width:15px;}.x5-w-20{width:20px;}.x5-w-25{width:25px;}.x5-w-30{width:30px;}.x5-w-35{width:35px;}.x5-w-40{width:40px;}.x5-w-45{width:45px;}.x5-w-50{width:50px;}.x5-w-55{width:55px;}.x5-w-60{width:60px;}.x5-w-65{width:65px;}.x5-w-70{width:70px;}.x5-w-75{width:75px;}.x5-w-80{width:80px;}.x5-w-85{width:85px;}.x5-w-90{width:90px;}.x5-w-95{width:95px;}.x5-w-100{width:100px;}.x5-w-105{width:105px;}.x5-w-110{width:110px;}.x5-w-115{width:115px;}.x5-w-120{width:120px;}.x5-w-125{width:125px;}.x5-w-130{width:130px;}.x5-w-135{width:135px;}.x5-w-140{width:140px;}.x5-w-145{width:145px;}.x5-w-150{width:150px;}.x5-w-155{width:155px;}.x5-w-160{width:160px;}.x5-w-165{width:165px;}.x5-w-170{width:170px;}.x5-w-175{width:175px;}.x5-w-180{width:180px;}.x5-w-185{width:185px;}.x5-w-190{width:190px;}.x5-w-195{width:195px;}.x5-w-200{width:200px;}.x5-w-205{width:205px;}.x5-w-210{width:210px;}.x5-w-215{width:215px;}.x5-w-220{width:220px;}.x5-w-225{width:225px;}.x5-w-230{width:230px;}.x5-w-235{width:235px;}.x5-w-240{width:240px;}.x5-w-245{width:245px;}.x5-w-250{width:250px;}.x5-w-255{width:255px;}.x5-w-260{width:260px;}.x5-w-265{width:265px;}.x5-w-270{width:270px;}.x5-w-275{width:275px;}.x5-w-280{width:280px;}.x5-w-285{width:285px;}.x5-w-290{width:290px;}.x5-w-295{width:295px;}.x5-w-300{width:300px;}.x5-w-305{width:305px;}.x5-w-310{width:310px;}.x5-w-315{width:315px;}.x5-w-320{width:320px;}.x5-w-325{width:325px;}.x5-w-330{width:330px;}.x5-w-335{width:335px;}.x5-w-340{width:340px;}.x5-w-345{width:345px;}.x5-w-350{width:350px;}.x5-w-355{width:355px;}.x5-w-360{width:360px;}.x5-w-365{width:365px;}.x5-w-370{width:370px;}.x5-w-375{width:375px;}.x5-w-380{width:380px;}.x5-w-385{width:385px;}.x5-w-390{width:390px;}.x5-w-395{width:395px;}.x5-w-400{width:400px;}.x5-w-405{width:405px;}.x5-w-410{width:410px;}.x5-w-415{width:415px;}.x5-w-420{width:420px;}.x5-w-425{width:425px;}.x5-w-430{width:430px;}.x5-w-435{width:435px;}.x5-w-440{width:440px;}.x5-w-445{width:445px;}.x5-w-450{width:450px;}.x5-w-455{width:455px;}.x5-w-460{width:460px;}.x5-w-465{width:465px;}.x5-w-470{width:470px;}.x5-w-475{width:475px;}.x5-w-480{width:480px;}.x5-w-485{width:485px;}.x5-w-490{width:490px;}.x5-w-495{width:495px;}.x5-w-500{width:500px;}.x5-w-505{width:505px;}.x5-w-510{width:510px;}.x5-w-515{width:515px;}.x5-w-520{width:520px;}.x5-w-525{width:525px;}.x5-w-530{width:530px;}.x5-w-535{width:535px;}.x5-w-540{width:540px;}.x5-w-545{width:545px;}.x5-w-550{width:550px;}.x5-w-555{width:555px;}.x5-w-560{width:560px;}.x5-w-565{width:565px;}.x5-w-570{width:570px;}.x5-w-575{width:575px;}.x5-w-580{width:580px;}.x5-w-585{width:585px;}.x5-w-590{width:590px;}.x5-w-595{width:595px;}.x5-w-600{width:600px;}.x5-w-605{width:605px;}.x5-w-610{width:610px;}.x5-w-615{width:615px;}.x5-w-620{width:620px;}.x5-w-625{width:625px;}.x5-w-630{width:630px;}.x5-w-635{width:635px;}.x5-w-640{width:640px;}.x5-w-645{width:645px;}.x5-w-650{width:650px;}.x5-w-655{width:655px;}.x5-w-660{width:660px;}.x5-w-665{width:665px;}.x5-w-670{width:670px;}.x5-w-675{width:675px;}.x5-w-680{width:680px;}.x5-w-685{width:685px;}.x5-w-690{width:690px;}.x5-w-695{width:695px;}.x5-w-700{width:700px;}.x5-w-705{width:705px;}.x5-w-710{width:710px;}.x5-w-715{width:715px;}.x5-w-720{width:720px;}.x5-w-725{width:725px;}.x5-w-730{width:730px;}.x5-w-735{width:735px;}.x5-w-740{width:740px;}.x5-w-745{width:745px;}.x5-w-750{width:750px;}.x5-w-755{width:755px;}.x5-w-760{width:760px;}.x5-w-765{width:765px;}.x5-w-770{width:770px;}.x5-w-775{width:775px;}.x5-w-780{width:780px;}.x5-w-785{width:785px;}.x5-w-790{width:790px;}.x5-w-795{width:795px;}.x5-w-800{width:800px;}.x5-w-805{width:805px;}.x5-w-810{width:810px;}.x5-w-815{width:815px;}.x5-w-820{width:820px;}.x5-w-825{width:825px;}.x5-w-830{width:830px;}.x5-w-835{width:835px;}.x5-w-840{width:840px;}.x5-w-845{width:845px;}.x5-w-850{width:850px;}.x5-w-855{width:855px;}.x5-w-860{width:860px;}.x5-w-865{width:865px;}.x5-w-870{width:870px;}.x5-w-875{width:875px;}.x5-w-880{width:880px;}.x5-w-885{width:885px;}.x5-w-890{width:890px;}.x5-w-895{width:895px;}.x5-w-900{width:900px;}.x5-w-905{width:905px;}.x5-w-910{width:910px;}.x5-w-915{width:915px;}.x5-w-920{width:920px;}.x5-w-925{width:925px;}.x5-w-930{width:930px;}.x5-w-935{width:935px;}.x5-w-940{width:940px;}.x5-w-945{width:945px;}.x5-w-950{width:950px;}.x5-w-955{width:955px;}.x5-w-960{width:960px;}.x5-w-965{width:965px;}.x5-w-970{width:970px;}.x5-w-975{width:975px;}.x5-w-980{width:980px;}.x5-w-985{width:985px;}.x5-w-990{width:990px;}.x5-w-995{width:995px;}.x5-w-1000{width:1000px;}
.x5-w-rate-1{width:1%;}.x5-w-rate-2{width:2%;}.x5-w-rate-3{width:3%;}.x5-w-rate-4{width:4%;}.x5-w-rate-5{width:5%;}.x5-w-rate-6{width:6%;}.x5-w-rate-7{width:7%;}.x5-w-rate-8{width:8%;}.x5-w-rate-9{width:9%;}.x5-w-rate-10{width:10%;}.x5-w-rate-11{width:11%;}.x5-w-rate-12{width:12%;}.x5-w-rate-13{width:13%;}.x5-w-rate-14{width:14%;}.x5-w-rate-15{width:15%;}.x5-w-rate-16{width:16%;}.x5-w-rate-17{width:17%;}.x5-w-rate-18{width:18%;}.x5-w-rate-19{width:19%;}.x5-w-rate-20{width:20%;}.x5-w-rate-21{width:21%;}.x5-w-rate-22{width:22%;}.x5-w-rate-23{width:23%;}.x5-w-rate-24{width:24%;}.x5-w-rate-25{width:25%;}.x5-w-rate-26{width:26%;}.x5-w-rate-27{width:27%;}.x5-w-rate-28{width:28%;}.x5-w-rate-29{width:29%;}.x5-w-rate-30{width:30%;}.x5-w-rate-31{width:31%;}.x5-w-rate-32{width:32%;}.x5-w-rate-33{width:33%;}.x5-w-rate-34{width:34%;}.x5-w-rate-35{width:35%;}.x5-w-rate-36{width:36%;}.x5-w-rate-37{width:37%;}.x5-w-rate-38{width:38%;}.x5-w-rate-39{width:39%;}.x5-w-rate-40{width:40%;}.x5-w-rate-41{width:41%;}.x5-w-rate-42{width:42%;}.x5-w-rate-43{width:43%;}.x5-w-rate-44{width:44%;}.x5-w-rate-45{width:45%;}.x5-w-rate-46{width:46%;}.x5-w-rate-47{width:47%;}.x5-w-rate-48{width:48%;}.x5-w-rate-49{width:49%;}.x5-w-rate-50{width:50%;}.x5-w-rate-51{width:51%;}.x5-w-rate-52{width:52%;}.x5-w-rate-53{width:53%;}.x5-w-rate-54{width:54%;}.x5-w-rate-55{width:55%;}.x5-w-rate-56{width:56%;}.x5-w-rate-57{width:57%;}.x5-w-rate-58{width:58%;}.x5-w-rate-59{width:59%;}.x5-w-rate-60{width:60%;}.x5-w-rate-61{width:61%;}.x5-w-rate-62{width:62%;}.x5-w-rate-63{width:63%;}.x5-w-rate-64{width:64%;}.x5-w-rate-65{width:65%;}.x5-w-rate-66{width:66%;}.x5-w-rate-67{width:67%;}.x5-w-rate-68{width:68%;}.x5-w-rate-69{width:69%;}.x5-w-rate-70{width:70%;}.x5-w-rate-71{width:71%;}.x5-w-rate-72{width:72%;}.x5-w-rate-73{width:73%;}.x5-w-rate-74{width:74%;}.x5-w-rate-75{width:75%;}.x5-w-rate-76{width:76%;}.x5-w-rate-77{width:77%;}.x5-w-rate-78{width:78%;}.x5-w-rate-79{width:79%;}.x5-w-rate-80{width:80%;}.x5-w-rate-81{width:81%;}.x5-w-rate-82{width:82%;}.x5-w-rate-83{width:83%;}.x5-w-rate-84{width:84%;}.x5-w-rate-85{width:85%;}.x5-w-rate-86{width:86%;}.x5-w-rate-87{width:87%;}.x5-w-rate-88{width:88%;}.x5-w-rate-89{width:89%;}.x5-w-rate-90{width:90%;}.x5-w-rate-91{width:91%;}.x5-w-rate-92{width:92%;}.x5-w-rate-93{width:93%;}.x5-w-rate-94{width:94%;}.x5-w-rate-95{width:95%;}.x5-w-rate-96{width:96%;}.x5-w-rate-97{width:97%;}.x5-w-rate-98{width:98%;}.x5-w-rate-99{width:99%;}.x5-w-rate-100{width:100%;}

.x5-col-1 { width: 8.33333333%; }
.x5-col-2 { width: 16.66666667%; }
.x5-col-3 { width: 25%; }
.x5-col-4 { width: 33.33333333%; }
.x5-col-5 { width: 41.66666667%; }
.x5-col-6 { width: 50%; }
.x5-col-7 { width: 58.33333333%; }
.x5-col-8 { width: 66.66666667%; }
.x5-col-9 { width: 75%; }
.x5-col-10 { width: 83.33333333%; }
.x5-col-11 { width: 91.66666667%; }
.x5-col-12 { width: 100%; }


