<!-- #include virtual = "/init.aspx" -->
<%
string url = "callback.htm?callback_func=" + m.request("callback_func");

Form imgForm = new Form("editor_upimage", Request);
imgForm.saveDir = dataDir;
if(m.isPost()){
	FileInfo file = imgForm.saveFile("Filedata");
	if	(file == null){
		m.jsError("파일 저장중 오류가 발생했습니다.");
		return;
	}
	else{
		url += "&bNewLine=true";
		url += "&sFileName=" + f.getFileName("Filedata");
		url += "&sFileURL=" + m.getUploadUrl(f.getFileName("Filedata"));
	}
}

m.redirect(url);
Response.End();
%>
