<?xml version="1.0" encoding="UTF-8" ?>
<taglib xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd" version="2.0">

    <description>Mighty Tag Lib.</description>
    <display-name>Mighty Tag Lib.</display-name>
    <tlib-version>1.1</tlib-version>
    <short-name>html</short-name>
    <uri>/WEB-INF/tlds/mighty.tld</uri>
    
    <tag>
        <description>select box</description>
        <name>select</name>
        <tag-class>xgov.core.web.tags.XSelectTag</tag-class>
        <body-content>JSP</body-content>
        <attribute>
            <name>name</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>id</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>

        <attribute>
            <name>disabled</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>

        <attribute>
            <description>map의  key,  value 의 List 구조</description>
            <name>items</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>size</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>

        <attribute>
            <name>multiple</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>화면에 나타나는 형태 1=code:value, 나머지는 value만 </description>
            <name>dispStyle</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>source</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>공통코드 여부 체크  1 = 사용,0=다른table </description>
            <name>comCodeYn</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>마스터 코드값을 넣습니다.opText에 nm1,nm2,nm3 입력가능 </description>
            <name>codeGroup</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>하나의 코드 중에 option이 포함 된 목록만 구해줌 </description>
            <name>option</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>default(current) value 값 </description>
            <name>selected</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>

        <attribute>
            <description>첫번째 보여줄 Title의 코드</description>
            <name>titleCode</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>

        <attribute>
            <description>조회조건파리미터</description>
            <name>params</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>

        <attribute>
            <description>첫번째에 제목 보여주기(기본값 false 이나 titleCode가 지정되면 자동으로 보여줌) </description>
            <name>showTitle</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        
        <attribute>
            <description>첫번째 보여줄 Title의 값(특별히 기술하지 않을 경우 '', 전체의 경우'%') </description>
            <name>titleValue</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>

        <attribute>
            <description>첫번째 보여줄 Title의 값(특별히 기술하지 않을 경우 '', 전체의 경우'%') </description>
            <name>titleValue</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>

        <dynamic-attributes>true</dynamic-attributes>
    </tag>
    
    <tag>
        <description>option tag</description>
        <name>option</name>
        <tag-class>xgov.core.web.tags.XOptionTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <description>값</description>
            <name>value</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>text</description>
            <name>text</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>curValue</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
        <description>button tag</description>
        <name>button</name>
        <tag-class>xgov.core.web.tags.XButtonTag</tag-class>
        <body-content>JSP</body-content>
        <attribute>
            <description>값</description>
            <name>onClick</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>권한(R:읽기(default), W:쓰기)</description>
            <name>authType</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>icon</description>
            <name>icon</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>id</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>name</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>style</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <name>type</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>다국어 메시지 key(type:BUTTON)</description>
            <name>msg</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>설명</description>
            <name>desc</name>
            <required>false</required>
            <rtexprvalue>false</rtexprvalue>
        </attribute>   
    </tag>

    <tag>
        <description>Main Button</description>
        <name>authbutton</name>
        <tag-class>xgov.core.web.tags.XAuthButtonTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <description>버튼들아이디</description>
            <name>id</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>그리드지정(true:false, default:false)</description>
            <name>gridCall</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>그리드아이디</description>
            <name>grid</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>pgmcode</description>
            <name>pgmcode</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>

    <tag>
        <description>Child Button</description>
        <name>authchildbutton</name>
        <tag-class>xgov.core.web.tags.XAuthChildButtonTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <description>버튼들아이디</description>
            <name>id</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>추가 여부(true:false, default:false)</description>
            <name>append</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>삽입 여부(true:false, default:false)</description>
            <name>insert</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>복제(true:false, default:false)</description>
            <name>duplicate</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>삭제(true:false, default:false)</description>
            <name>delete</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>엑셀여부(true:false, default:false)</description>
            <name>excel</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>조회여부(true:false, default:false)</description>
            <name>retrieve</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>그리드아이디</description>
            <name>grid</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>idHead(inuput id  prefix)</description>
            <name>eventHead</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>pgmcode</description>
            <name>pgmcode</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
 	<tag>
        <name>basicdate</name>
        <tag-class>xgov.core.web.tags.XBasicDateTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <description>id</description>
            <name>id</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>classType(option,search,detail)</description>
            <name>classType</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>dateType(date,month,year,)</description>
            <name>dateType</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>moveBtn(date,month,year,)</description>
            <name>moveBtn</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>idHead(inuput id  prefix)</description>
            <name>idHead</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>readony(true:false(default))</description>
            <name>readOnly</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
   	<tag>
        <name>fromtodate</name>
        <tag-class>xgov.core.web.tags.XFromToDateTag</tag-class>
        <body-content>empty</body-content>
        <attribute>
            <description>id</description>
            <name>id</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>classType(option,search,detail)</description>
            <name>classType</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>dateType(today,yearday,curyear,preyear,year,month,curmonth,thismonth)</description>
            <name>dateType</name>
            <required>true</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>idHead(inuput id  prefix)</description>
            <name>idHead</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>moveBtn(date,month,year,)</description>
            <name>moveBtn</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
        <attribute>
            <description>readony(true:false(default))</description>
            <name>readOnly</name>
            <required>false</required>
            <rtexprvalue>true</rtexprvalue>
        </attribute>
    </tag>
    <tag>
		<name>resource</name>
		<tag-class>xgov.core.web.tags.XResourceTag</tag-class>
        <body-content>JSP</body-content>
	    <attribute>
			<description><![CDATA[]]></description>
			<name>enableTheme</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<description><![CDATA[]]></description>
			<name>enableCache</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
 </taglib>