/**
  *<pre>
  * Statements
  *</pre>

  * @Class Name : mighty-1.2.6.css
  * @Description : Login 인증 화면
  * @Modification Information
  * @
  * @  수정일        		 수정자                   수정내용
  * @ -------    --------    ---------------------------
  * @ 2013.03.03    박영찬        최초 생성
  * @
*/

* {margin:0;padding:0;}
* html {height:1px;overflow:hidden}
html, body, div, span, ul, li, ol, p, img, fieldset, legend, form, input, select, textarea, object, button, a, table, th, td, dl, dt, dd,h1,h2,h3,h4,h5
{margin:0;
padding:0;
font-family:'Nanum Gothic', 'NanumGothic', 'Malgun Gothic', Dotum, Gulim, verdana, arial, sans-serif !important;
font-size:12px;}
html, body{color:#4f4f4f; scroll:none; overflow:hidden}
table, tr, td, th {color:#333333;}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
caption{visibility:hidden}
.listtd {padding:10px 5px 8px 5px; border-bottom:1px solid #e5e5e5;}
th {background-color:#FFFFFF; height:26px; text-align:center; vertical-align:middle; color:#003366;}
img {border:0; vertical-align:middle; margin:0; padding:0;}
/* p { height:20px; margin:0; padding:5 0 0 0;} */
.check ul {margin:0; padding:0; float:left;}
.check li {list-style-type:none; float:left; margin:0 0 0 0; padding:0 0 0 3px;}
.top {vertical-align:top;}

a:link {color:#3A5870; text-decoration:none; line-height:100%;}
a:visited {color:#3A5870; text-decoration:none}
a:active {color:#339999; text-decoration:none;}
a:hover {color:#339999; text-decoration:none;}

input.ko {ime-mode:active}
input.en {ime-mode:inactive}

.process_msg {
	font-size:12px;
	font-weight:bold;
	color:#df5702;
}

/* 정렬 */
.tac {text-align:center !important;}
.tal {text-align:left !important;}
.tar {text-align:right !important;}

/* 넓이(label) - 10px(좌우여백) */
label.w10{width:0px}label.w15{width:5px}
label.w20{width:10px}label.w25{width:15px}
label.w30{width:20px}label.w35{width:25px}
label.w40{width:30px}label.w45{width:35px}
label.w50{width:40px}label.w55{width:45px}
label.w60{width:50px}label.w65{width:55px}
label.w70{width:60px}label.w75{width:65px}
label.w80{width:70px}label.w84{width:74px}label.w85{width:75px}
label.w90{width:80px}label.w95{width:85px}
label.w100{width:90px}label.w105{width:95px}
label.w110{width:100px}label.w115{width:105px}
label.w120{width:110px}label.w125{width:115px}
label.w130{width:120px}label.w135{width:125px}
label.w140{width:130px}label.w145{width:135px}
label.w150{width:140px}label.w155{width:145px}
label.w160{width:150px}label.w165{width:155px}
label.w170{width:160px}label.w175{width:165px}
label.w180{width:170px}label.w185{width:175px}
label.w190{width:180px}label.w195{width:185px}
label.w200{width:190px}label.w205{width:195px}
label.w210{width:200px}label.w215{width:205px}
label.w220{width:210px}label.w225{width:215px}
label.w230{width:220px}label.w235{width:225px}
label.w240{width:230px}label.w245{width:235px}
label.w250{width:240px}label.w255{width:245px}
label.w260{width:250px}label.w264{width:254px}.w265{width:255px}
label.w270{width:260px}label.w275{width:265px}
label.w280{width:270px}label.w285{width:275px}
label.w290{width:280px}label.w295{width:285px}
label.w300{width:290px}label.w305{width:295px}
label.w310{width:300px}label.w315{width:305px}
label.w320{width:310px}label.w325{width:315px}
label.w330{width:320px}label.w335{width:325px}
label.w340{width:330px}label.w345{width:335px}.w349{width:339px}
label.w350{width:340px}label.w355{width:345px}
label.w360{width:350px}label.w365{width:355px}
label.w370{width:360px}label.w375{width:365px}
label.w380{width:370px}label.w385{width:375px}
label.w390{width:380px}label.w395{width:385px}.w399{width:389px}
label.w400{width:390px}label.w405{width:395px}
label.w410{width:400px}label.w415{width:405px}
label.w420{width:410px}label.w425{width:415px}
label.w430{width:420px}label.w435{width:425px}
label.w440{width:430px}label.w445{width:435px}
label.w450{width:440px}label.w455{width:445px}
label.w460{width:450px}label.w465{width:455px}
label.w470{width:460px}label.w475{width:465px}
label.w480{width:470px}label.w485{width:475px}
label.w490{width:480px}label.w495{width:485px}
label.w500{width:490px}label.w505{width:495px}
label.w510{width:500px}label.w515{width:505px}
label.w520{width:510px}label.w525{width:515px}
label.w530{width:520px}label.w535{width:525px}
label.w540{width:530px}label.w545{width:535px}
label.w550{width:540px}label.w555{width:545px}
label.w560{width:550px}label.w565{width:555px}
label.w570{width:560px}label.w575{width:565px}
label.w580{width:570px}label.w585{width:575px}
label.w590{width:580px}label.w595{width:585px}
label.w600{width:590px}label.w605{width:595px}
label.w610{width:600px}label.w615{width:605px}
label.w620{width:610px}label.w625{width:615px}
label.w630{width:620px}label.w635{width:625px}
label.w640{width:630px}label.w645{width:635px}
label.w650{width:640px}label.w655{width:645px}
label.w660{width:650px}label.w665{width:655px}
label.w670{width:660px}label.w675{width:665px}
label.w680{width:670px}label.w685{width:675px}
label.w690{width:680px}label.w695{width:685px}
label.w700{width:690px}label.w705{width:695px}
label.w710{width:700px}label.w715{width:705px}
label.w720{width:710px}label.w725{width:715px}
label.w730{width:720px}label.w735{width:725px}
label.w740{width:730px}label.w745{width:735px}
label.w750{width:740px}label.w755{width:745px}
label.w760{width:750px}label.w765{width:755px}
label.w770{width:760px}label.w775{width:765px}
label.w780{width:770px}label.w785{width:775px}
label.w790{width:780px}label.w795{width:785px}
label.w800{width:790px}label.w805{width:795px}
label.w810{width:800px}label.w815{width:805px}
label.w820{width:810px}label.w825{width:815px}
label.w830{width:820px}label.w835{width:825px}
label.w840{width:830px}label.w845{width:835px}
label.w850{width:840px}label.w855{width:845px}
label.w860{width:850px}label.w865{width:855px}
label.w870{width:860px}label.w875{width:865px}
label.w880{width:870px}label.w885{width:875px}
label.w890{width:880px}label.w895{width:885px}
label.w900{width:890px}label.w905{width:895px}
label.w910{width:900px}label.w915{width:905px}
label.w920{width:910px}label.w925{width:915px}
label.w930{width:920px}label.w935{width:925px}
label.w940{width:930px}label.w945{width:935px}
label.w950{width:940px}label.w955{width:945px}
label.w960{width:950px}label.w965{width:955px}
label.w970{width:960px}label.w975{width:965px}
label.w980{width:970px}label.w985{width:975px}
label.w990{width:980px}label.w995{width:985px}
label.w1000{width:990px}label.w1005{width:995px}

/* 넓이 */
.w10{width:10px}.w15{width:15px}
.w20{width:20px}.w25{width:25px}
.w30{width:30px}.w35{width:35px}
.w40{width:40px}.w45{width:45px}
.w50{width:50px}.w55{width:55px}
.w60{width:60px}.w65{width:65px}
.w70{width:70px}.w75{width:75px}
.w80{width:80px}.w84{width:84px}.w85{width:85px}
.w90{width:90px}.w95{width:95px}
.w100{width:100px}.w105{width:105px}
.w110{width:110px}.w115{width:115px}
.w120{width:120px}.w125{width:125px}
.w130{width:130px}.w135{width:135px}
.w140{width:140px}.w145{width:145px}
.w150{width:150px}.w155{width:155px}
.w160{width:160px}.w165{width:165px}
.w170{width:170px}.w175{width:175px}
.w180{width:180px}.w185{width:185px}
.w190{width:190px}.w195{width:195px}
.w200{width:200px}.w205{width:205px}
.w210{width:210px}.w215{width:215px}
.w220{width:220px}.w225{width:225px}
.w230{width:230px}.w235{width:235px}
.w240{width:240px}.w245{width:245px}
.w250{width:250px}.w255{width:255px}
.w260{width:260px}.w264{width:264px}.w265{width:265px}
.w270{width:270px}.w275{width:275px}
.w280{width:280px}.w285{width:285px}
.w290{width:290px}.w295{width:295px}
.w300{width:300px}.w305{width:305px}
.w310{width:310px}.w315{width:315px}
.w320{width:320px}.w325{width:325px}
.w330{width:330px}.w335{width:335px}
.w340{width:340px}.w345{width:345px}.w349{width:349px}
.w350{width:350px}.w355{width:355px}
.w360{width:360px}.w365{width:365px}
.w370{width:370px}.w375{width:375px}
.w380{width:380px}.w385{width:385px}
.w390{width:390px}.w395{width:395px}.w399{width:399px}
.w400{width:400px}.w405{width:405px}
.w410{width:410px}.w415{width:415px}
.w420{width:420px}.w425{width:425px}
.w430{width:430px}.w435{width:435px}
.w440{width:440px}.w445{width:445px}
.w450{width:450px}.w455{width:455px}
.w460{width:460px}.w465{width:465px}
.w470{width:470px}.w475{width:475px}
.w480{width:480px}.w485{width:485px}
.w490{width:490px}.w495{width:495px}
.w500{width:500px}.w505{width:505px}
.w510{width:510px}.w515{width:515px}
.w520{width:520px}.w525{width:525px}
.w530{width:530px}.w535{width:535px}
.w540{width:540px}.w545{width:545px}
.w550{width:550px}.w555{width:555px}
.w560{width:560px}.w565{width:565px}
.w570{width:570px}.w575{width:575px}
.w580{width:580px}.w585{width:585px}
.w590{width:590px}.w595{width:595px}
.w600{width:600px}.w605{width:605px}
.w610{width:610px}.w615{width:615px}
.w620{width:620px}.w625{width:625px}
.w630{width:630px}.w635{width:635px}
.w640{width:640px}.w645{width:645px}
.w650{width:650px}.w655{width:655px}
.w660{width:660px}.w665{width:665px}
.w670{width:670px}.w675{width:675px}
.w680{width:680px}.w685{width:685px}
.w690{width:690px}.w695{width:695px}
.w700{width:700px}.w705{width:705px}
.w710{width:710px}.w715{width:715px}
.w720{width:720px}.w725{width:725px}
.w730{width:730px}.w735{width:735px}
.w740{width:740px}.w745{width:745px}
.w750{width:750px}.w755{width:755px}
.w760{width:760px}.w765{width:765px}
.w770{width:770px}.w775{width:775px}
.w780{width:780px}.w785{width:785px}
.w790{width:790px}.w795{width:795px}
.w800{width:800px}.w805{width:805px}
.w810{width:810px}.w815{width:815px}
.w820{width:820px}.w825{width:825px}
.w830{width:830px}.w835{width:835px}
.w840{width:840px}.w845{width:845px}
.w850{width:850px}.w855{width:855px}
.w860{width:860px}.w865{width:865px}
.w870{width:870px}.w875{width:875px}
.w880{width:880px}.w885{width:885px}
.w890{width:890px}.w895{width:895px}
.w900{width:900px}.w905{width:905px}
.w910{width:910px}.w915{width:915px}
.w920{width:920px}.w925{width:925px}
.w930{width:930px}.w935{width:935px}
.w940{width:940px}.w945{width:945px}
.w950{width:950px}.w955{width:955px}
.w960{width:960px}.w965{width:965px}
.w970{width:970px}.w975{width:975px}
.w980{width:980px}.w985{width:985px}
.w990{width:990px}.w995{width:995px}
.w1000{width:1000px}.w1005{width:1005px}

/* 넓이 */
.iw10{width:10px !important;}.iw15{width:15px !important;}
.iw20{width:20px !important;}.iw25{width:25px !important;}
.iw30{width:30px !important;}.iw35{width:35px !important;}
.iw40{width:40px !important;}.iw45{width:45px !important;}
.iw50{width:50px !important;}.iw55{width:55px !important;}
.iw60{width:60px !important;}.iw65{width:65px !important;}
.iw70{width:70px !important;}.iw75{width:75px !important;}
.iw80{width:80px !important;}.iw84{width:84px !important;}.iw85{width:85px !important;}
.iw90{width:90px !important;}.iw95{width:95px !important;}
.iw100{width:100px !important;}.iw105{width:105px !important;}
.iw110{width:110px !important;}.iw115{width:115px !important;}
.iw120{width:120px !important;}.iw125{width:125px !important;}
.iw130{width:130px !important;}.iw135{width:135px !important;}
.iw140{width:140px !important;}.iw145{width:145px !important;}
.iw150{width:150px !important;}.iw155{width:155px !important;}
.iw160{width:160px !important;}.iw165{width:165px !important;}
.iw170{width:170px !important;}.iw175{width:175px !important;}
.iw180{width:180px !important;}.iw185{width:185px !important;}
.iw190{width:190px !important;}.iw195{width:195px !important;}
.iw200{width:200px !important;}.iw205{width:205px !important;}
.iw210{width:210px !important;}.iw215{width:215px !important;}
.iw220{width:220px !important;}.iw225{width:225px !important;}
.iw230{width:230px !important;}.iw235{width:235px !important;}
.iw240{width:240px !important;}.iw245{width:245px !important;}
.iw250{width:250px !important;}.iw255{width:255px !important;}
.iw260{width:260px !important;}.iw264{width:264px !important;}.iw265{width:265px !important;}
.iw270{width:270px !important;}.iw275{width:275px !important;}
.iw280{width:280px !important;}.iw285{width:285px !important;}
.iw290{width:290px !important;}.iw295{width:295px !important;}
.iw300{width:300px !important;}.iw305{width:305px !important;}
.iw310{width:310px !important;}.iw315{width:315px !important;}
.iw320{width:320px !important;}.iw325{width:325px !important;}
.iw330{width:330px !important;}.iw335{width:335px !important;}
.iw340{width:340px !important;}.iw345{width:345px !important;}.iw349{width:349px !important;}
.iw350{width:350px !important;}.iw355{width:355px !important;}
.iw360{width:360px !important;}.iw365{width:365px !important;}
.iw370{width:370px !important;}.iw375{width:375px !important;}
.iw380{width:380px !important;}.iw385{width:385px !important;}
.iw390{width:390px !important;}.iw395{width:395px !important;}.iw399{width:399px !important;}
.iw400{width:400px !important;}.iw405{width:405px !important;}
.iw410{width:410px !important;}.iw415{width:415px !important;}
.iw420{width:420px !important;}.iw425{width:425px !important;}
.iw430{width:430px !important;}.iw435{width:435px !important;}
.iw440{width:440px !important;}.iw445{width:445px !important;}
.iw450{width:450px !important;}.iw455{width:455px !important;}
.iw460{width:460px !important;}.iw465{width:465px !important;}
.iw470{width:470px !important;}.iw475{width:475px !important;}
.iw480{width:480px !important;}.iw485{width:485px !important;}
.iw490{width:490px !important;}.iw495{width:495px !important;}
.iw500{width:500px !important;}.iw505{width:505px !important;}
.iw510{width:510px !important;}.iw515{width:515px !important;}
.iw520{width:520px !important;}.iw525{width:525px !important;}
.iw530{width:530px !important;}.iw535{width:535px !important;}
.iw540{width:540px !important;}.iw545{width:545px !important;}
.iw550{width:550px !important;}.iw555{width:555px !important;}
.iw560{width:560px !important;}.iw565{width:565px !important;}
.iw570{width:570px !important;}.iw575{width:575px !important;}
.iw580{width:580px !important;}.iw585{width:585px !important;}
.iw590{width:590px !important;}.iw595{width:595px !important;}
.iw600{width:600px !important;}.iw605{width:605px !important;}
.iw610{width:610px !important;}.iw615{width:615px !important;}
.iw620{width:620px !important;}.iw625{width:625px !important;}
.iw630{width:630px !important;}.iw635{width:635px !important;}
.iw640{width:640px !important;}.iw645{width:645px !important;}
.iw650{width:650px !important;}.iw655{width:655px !important;}
.iw660{width:660px !important;}.iw665{width:665px !important;}
.iw670{width:670px !important;}.iw675{width:675px !important;}
.iw680{width:680px !important;}.iw685{width:685px !important;}
.iw690{width:690px !important;}.iw695{width:695px !important;}
.iw700{width:700px !important;}.iw705{width:705px !important;}
.iw710{width:710px !important;}.iw715{width:715px !important;}
.iw720{width:720px !important;}.iw725{width:725px !important;}
.iw730{width:730px !important;}.iw735{width:735px !important;}
.iw740{width:740px !important;}.iw745{width:745px !important;}
.iw750{width:750px !important;}.iw755{width:755px !important;}
.iw760{width:760px !important;}.iw765{width:765px !important;}
.iw770{width:770px !important;}.iw775{width:775px !important;}
.iw780{width:780px !important;}.iw785{width:785px !important;}
.iw790{width:790px !important;}.iw795{width:795px !important;}
.iw800{width:800px !important;}.iw805{width:805px !important;}
.iw810{width:810px !important;}.iw815{width:815px !important;}
.iw820{width:820px !important;}.iw825{width:825px !important;}
.iw830{width:830px !important;}.iw835{width:835px !important;}
.iw840{width:840px !important;}.iw845{width:845px !important;}
.iw850{width:850px !important;}.iw855{width:855px !important;}
.iw860{width:860px !important;}.iw865{width:865px !important;}
.iw870{width:870px !important;}.iw875{width:875px !important;}
.iw880{width:880px !important;}.iw885{width:885px !important;}
.iw890{width:890px !important;}.iw895{width:895px !important;}
.iw900{width:900px !important;}.iw905{width:905px !important;}
.iw910{width:910px !important;}.iw915{width:915px !important;}
.iw920{width:920px !important;}.iw925{width:925px !important;}
.iw930{width:930px !important;}.iw935{width:935px !important;}
.iw940{width:940px !important;}.iw945{width:945px !important;}
.iw950{width:950px !important;}.iw955{width:955px !important;}
.iw960{width:960px !important;}.iw965{width:965px !important;}
.iw970{width:970px !important;}.iw975{width:975px !important;}
.iw980{width:980px !important;}.iw985{width:985px !important;}
.iw990{width:990px !important;}.iw995{width:995px !important;}
.iw1000{width:1000px !important;}.iw1005{width:1005px !important;}

/* 비율 */
.float_left,.xcol_1,.xcol_2,.xcol_3,.xcol_4,.xcol_5,.xcol_6,.xcol_7,.xcol_8,.xcol_9,.xcol_10,.xcol_11,.xcol_12{float: left;}
.float_right{float: right;}
.xcol_1{width:8.33333333%;}
.xcol_2{width:16.66666667%;}
.xcol_3{width:25%;}
.xcol_4{width:33.33333333%;}
.xcol_5{width:41.66666667%;}
.xcol_6{width:50%;}
.xcol_7{width:58.33333333%;}
.xcol_8{width:66.66666667%;}
.xcol_9{width:75%;}
.xcol_10{width:83.33333333%;}
.xcol_11{width:91.66666667%;}
.xcol_12{width:100%;}

.wr100{width:100% !important;}.hr100{height:100% !important;}
.wr95{width:95% !important;}.hr95{height:95% !important;}
.wr90{width:90% !important;}.hr90{height:90% !important;}
.wr85{width:85% !important;}.hr85{height:80% !important;}
.wr80{width:80% !important;}.hr80{height:80% !important;}
.wr75{width:75% !important;}.hr75{height:75% !important;}
.wr70{width:70% !important;}.hr70{height:70% !important;}
.wr65{width:65% !important;}.hr65{height:65% !important;}
.wr60{width:60% !important;}.hr60{height:60% !important;}
.wr55{width:55% !important;}.hr55{height:55% !important;}
.wr50{width:50% !important;}.hr50{height:50% !important;}
.wr45{width:45% !important;}.hr45{height:45% !important;}
.wr40{width:40% !important;}.hr40{height:40% !important;}
.wr35{width:35% !important;}.hr35{height:35% !important;}
.wr30{width:30% !important;}.hr30{height:30% !important;}
.wr25{width:25% !important;}.hr25{height:25% !important;}
.wr20{width:20% !important;}.hr20{height:20% !important;}
.wr15{width:15% !important;}.hr15{height:15% !important;}
.wr10{width:10% !important;}.hr10{height:10% !important;}



.clearfix{clear:both;}

/* 옆에 버튼이 있는경우 */
.w120- {width:111px;}

/* 마진값 */
.mt0 {margin-top:0 !important;}
.mt1 {margin-top:1px !important;}
.mt2 {margin-top:2px !important;}
.mt3 {margin-top:3px !important;}
.mt4 {margin-top:4px !important;}
.mt5 {margin-top:5px !important;}
.mt6 {margin-top:6px !important;}
.mt7 {margin-top:7px !important;}
.mt8 {margin-top:8px !important;}
.mt9 {margin-top:9px !important;}
.mt10 {margin-top:10px !important;}
.mt11 {margin-top:11px !important;}
.mt12 {margin-top:12px !important;}
.mt13 {margin-top:13px !important;}
.mt14 {margin-top:14px !important;}
.mt15 {margin-top:15px !important;}
.mt16 {margin-top:16px !important;}
.mt17 {margin-top:17px !important;}
.mt18 {margin-top:18px !important;}
.mt19 {margin-top:19px !important;}
.mt20 {margin-top:20px !important;}
.mb0 {margin-bottom:0 !important;}
.mb1 {margin-bottom:1px !important;}
.mb2 {margin-bottom:2px !important;}
.mb3 {margin-bottom:3px !important;}
.mb4 {margin-bottom:4px !important;}
.mb5 {margin-bottom:5px !important;}
.mb6 {margin-bottom:6px !important;}
.mb7 {margin-bottom:7px !important;}
.mb8 {margin-bottom:8px !important;}
.mb9 {margin-bottom:9px !important;}
.mb10 {margin-bottom:10px !important;}
.mb11 {margin-bottom:11px !important;}
.mb12 {margin-bottom:12px !important;}
.mb13 {margin-bottom:13px !important;}
.mb14 {margin-bottom:14px !important;}
.mb15 {margin-bottom:15px !important;}
.mb16 {margin-bottom:16px !important;}
.mb17 {margin-bottom:17px !important;}
.mb18 {margin-bottom:18px !important;}
.mb19 {margin-bottom:19px !important;}
.mb20 {margin-bottom:20px !important;}
.ml0 {margin-left:0 !important;}
.ml1 {margin-left:1px !important;}
.ml2 {margin-left:2px !important;}
.ml3 {margin-left:3px !important;}
.ml4 {margin-left:4px !important;}
.ml5 {margin-left:5px !important;}
.ml6 {margin-left:6px !important;}
.ml7 {margin-left:7px !important;}
.ml8 {margin-left:8px !important;}
.ml9 {margin-left:9px !important;}
.ml10 {margin-left:10px !important;}
.ml11 {margin-left:11px !important;}
.ml12 {margin-left:12px !important;}
.ml13 {margin-left:13px !important;}
.ml14 {margin-left:14px !important;}
.ml15 {margin-left:15px !important;}
.ml16 {margin-left:16px !important;}
.ml17 {margin-left:17px !important;}
.ml18 {margin-left:18px !important;}
.ml19 {margin-left:19px !important;}
.ml20 {margin-left:20px !important;}
.mr0 {margin-right:0 !important;}
.mr1 {margin-right:1px !important;}
.mr2 {margin-right:2px !important;}
.mr3 {margin-right:3px !important;}
.mr4 {margin-right:4px !important;}
.mr5 {margin-right:5px !important;}
.mr6 {margin-right:6px !important;}
.mr7 {margin-right:7px !important;}
.mr8 {margin-right:8px !important;}
.mr9 {margin-right:9px !important;}
.mr10 {margin-right:10px !important;}
.mr11 {margin-right:11px !important;}
.mr12 {margin-right:12px !important;}
.mr13 {margin-right:13px !important;}
.mr14 {margin-right:14px !important;}
.mr15 {margin-right:15px !important;}
.mr16 {margin-right:16px !important;}
.mr17 {margin-right:17px !important;}
.mr18 {margin-right:18px !important;}
.mr19 {margin-right:19px !important;}
.mr20 {margin-right:20px !important;}
.iframe_popup{border:0; margin:0; width:100%; height:100%;}

/* padding */
.pl5{padding-left: 5px !important;}
.pr5{padding-right: 5px !important;}
.pt5{padding-top: 5px !important;}
.pb5{padding-bottom: 5px !important;}


/* 조회 조건 */
div
{
  color: #333333;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	/*display:block;*/
}
.grid_div{float:left;}

/* tab */
.tabc_div{float:left; display:none;}
.tabs_div{float:left;}
.tabs_nav{float:left; height:25px;}
.ctab_o {float:left; position:relative; top:-2px; height:21px; padding:2px 6px 3px 6px; margin:0px 0px 0px 3px; text-align:center; color:#999999; border-style: solid; border-radius: 0px 4px 0px 0px; border-width: 1px 1px 1px 1px; border-color: #ccc; cursor:pointer; background-color: #f9f9f9; z-index:1;}
.ctab_o:hover{border-width: 2px 1px 0px 1px; border-color: #df5702; color:#df5702;}
.ctab_o_a{float:left; position:relative; top:-2px; height:22px; padding:2px 6px 3px 6px; margin:0px 0px 0px 3px; font-weight:bold; text-align:center; color:#df5702; border-style: solid; border-radius: 0px 4px 0px 0px; border-width: 2px 2px 0px 2px; border-color: #df5702; cursor:pointer;  background-color: #ffffff; z-index:3;}
.ctab_o_line{float:left; position:relative; top:20px; width:100%; height:2px; width:100%; background-color: #f88b16;  z-index:2;
	background: -webkit-linear-gradient(left, #df5702, #f9f5f5); /* For Safari 5.1 to 6.0 */	/* c72127, ff7a4d ffa64d f88b16*/
	background: -o-linear-gradient(left, #df5702, #f9f5f5); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, #df5702, #f9f5f5); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #df5702, #f9f5f5); /* Standard syntax (must be last) */
}

.option_box
{
	float:left;
  /*min-width:1000px;*/
  overflow:hidden;
  margin-bottom: 6px;
  border-radius: 0px 0px 0px 0px;
  border:1px solid #c6c6c6;
 /*  border-style: solid; */
 /*  border-width: 2px 2px 2px 2px; */
  /* border-color: #6f8698; */
	border-collapse:collapse;
  background-color: #ffffff;
/*
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px #ccc;
		 -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px #ccc;
					box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px #ccc;
*/
}
.option_box2
{
	float:left;
  /*min-width:1000px;*/
  overflow:hidden;
  margin-top: 0px;
  margin-bottom: 4px;
  padding:0 0 10px 0;
  border-radius: 0px 0px 0px 0px;
  /* border: 2px 1px 1px 1px solid #c6c6c6; */
  border-style: solid;
  border-width: 2px 0px 2px 0px;
  /*border-color: #5b9adf #6f8698 #5b9adf #6f8698; */
  border-color: #867f79 #c6c6c6 #aba5a2 #c6c6c6;
	border-collapse:collapse;
  background-color: #f8f8f8;
/*
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px #ccc;
		 -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px #ccc;
					box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 2px 3px #ccc;
*/
}
.option_line
{
	float:left;
	border-top:1px solid #c6c6c6;
	border-collapse:collapse;
  	width:100%;
  	height:0px;
}
.option_line_500px
{
	float:left;
	border-top:1px solid #c6c6c6;
	border-collapse:collapse;
  width:500px;
  height:0px;
}
.option_label,
.option_label_check,
.option_label_left,
.option_label_left_check
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #c6c6c6;
  /* background-color: #deebfb;  */
	background: url(/Theme/images/option_label_bg.gif) repeat 0 0;
  margin:0;
  padding:0 5px 0 5px;
  /*width:100px;*/
  width:80px;
  height:25px;
  line-height:25px;
	font-weight:bold;
  text-align:right;
  color:#666633;
}
.option_label_check
{
  color:#ff0000;
}
.option_label_left
{
  width:80px;
}
.option_label_left_check
{
  width:80px;
  color:#ff0000;
}

.search_input_bg,
.option_input_bg
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #f8f8f8;
  margin:0;
  padding:3px 3px 0px 3px;
  height:25px;
  text-align:left;
  color:#999999;
  position:relative;
	/*vertical-align:middle;*/
}

.option_input_bg img.search_find_img {
  vertical-align: top;
}

.option_input,
.option_input_fix,
.option_input_last,
.option_input_fix_last,
.option_amt,
.option_date,
.option_yyyy,
.option_yymm,
.search_input,
.search_input_fix,
.search_input_last,
.search_input_fix_last,
.search_amt,
.search_date,
.search_yyyy,
.search_yymm
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #aab2bb;
  background-color: #ffffff;
  margin:0px 0px 0px 0px;
  padding:1px 0px 1px 2px;
  text-align:left;
  vertical-align:middle;
  color:#000000;
}
.option_date,
.search_date
{
  width:75px;
  text-align:center;
  padding:1px 1px 1px 1px;
}
.option_yyyy,
.search_yyyy
{
  width:45px;
  text-align:center;
  padding:1px 1px 1px 1px;
}
.option_yymm,
.search_yymm
{

  width:60px;
  text-align:center;
  padding:1px 1px 1px 1px;
}
.option_amt
{
  margin:0px 0px 0px 0px;
  padding:1px 2px 1px 0px;
  width:120px;
  text-align:right;
}
.option_input:focus,
.option_input_fix:focus,
.option_input_last:focus,
.option_input_fix_last:focus,
.option_date:focus,
.option_yyyy:focus,
.option_yymm:focus,
.option_amt:focus,
.search_date:focus,
.search_yyyy:focus,
.search_yymm:focus
{ border-color: #ff7f50;}


/* Freeform 입력 */
.detail_box
{
	float:left;
	border-top:2px solid #aab2bb;
	border-bottom:2px solid #b9cbd9;
	border-collapse:collapse;
  margin-top: 0px;
  margin-bottom: 1px;
	auto !important;
}
.detail_line
{
	float:left;
	border-top:1px solid #c6c6c6;
	border-collapse:collapse;
  width:100%;
  height:0px;
}
.detail_line2
{
	float:left;
	border-top:1px solid #f79e9c;
	border-collapse:collapse;
  width:100%;
  height:0px;
}
.detail_line3
{
	float:left;
	border-top:1px solid #5b9adf;
	border-collapse:collapse;
  width:100%;
  height:0px;
}
.detail_line_500px
{
	float:left;
	border-top:1px solid #c6c6c6;
	border-collapse:collapse;
  width:500px;
  height:0px;
}
.detail_box_lebel
{
	float:left;
	border-top:2px solid #f77573;
	border-bottom:2px solid #f77573;
	border-left:1px solid #aab2bb;
	background-color: #ffdbde;
	color: #ef1418;
	border-collapse:collapse;
	width:30px;
  margin-top: 0px;
  margin-bottom: 1px;
  text-align:center;
  vertical-align:middle;
	font-weight:bold;
  line-height:18px;
	auto !important;
}
.border_type2
{
	border-top:2px solid #f77573;
	border-bottom:2px solid #f77573;
}
.border_type3
{
	border-top:2px solid #5b9adf;
	border-bottom:2px solid #5b9adf;
}
.border_color2
{
	border-left:1px solid #f77573;
	/*border-color: #f77573 !important;*/
}
.border_color3
{
	border-left:1px solid #5b9adf;
	/*border-color: #5b9adf !important;*/
}

.bg_type2
{
	background-color: #ffdbde;
	color: #ef1418;
}
.bg_type3
{
	background-color: #c6dbf7;
	color: #105dd6;
}
.detail_label,
.detail_label2,
.detail_label3,
.detail_label_check,
.detail_label_check2,
.detail_label_check3,
.detail_label_left,
.detail_label_left2,
.detail_label_left3,
.detail_label_left_check,
.detail_label_left_check2,
.detail_label_left_check3
{
	float:left;
	border-style: solid;
	border-width: 0px 0px 0px 1px;
	overflow: hidden;
	border-color: #c6c6c6;
	/*background-color: #edeef0; */
	background: url(/Theme/images/detail_label_bg.gif) repeat 0 0;
	margin:0;
  padding:0 5px 0 5px;
	/*padding:0 4px;*/
	min-width:30px;
	height:25px;
	font-weight:bold;
	text-align:right;
	line-height:25px;
	color:#888888;
}
.detail_label_check,
.detail_label_left_check
{
  color:#ff7200;
}
.detail_label_left
{
  color:#888888;
}

.detail_label2,
.detail_label_check2,
.detail_label_left2,
.detail_label_left_check2
{
	background: url(/Theme/images/detail_label_bg2.gif) repeat 0 0;
	border-left:1px solid #f77573;
}

.detail_label3,
.detail_label_check3,
.detail_label_left3,
.detail_label_left_check3
{
	background: url(/Theme/images/detail_label_bg3.gif) repeat 0 0;
	border-left:1px solid #5b9adf;
}

.detail_input_bg,
.detail_input_bg2,
.detail_input_bg3
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #bfcfdf;  /* #c6c6c6; (2016.12.29) */
  margin:0px 0px 0px 0px;
  padding:3px 3px 3px 3px;
  height:25px;
  text-align:left;
  color:#999999;
  position:relative;
	/*vertical-align:middle;  */
}
.detail_input_bg2
{
	border-left:1px solid #f77573;
}
.detail_input_bg3
{
	border-left:1px solid #5b9adf;
}

.detail_input,
.detail_input_fix,
.detail_date,
.detail_amt,
.detail_number,
.detail_hhmm,
.detail_float1,
.detail_float2,
.detail_float3,
.detail_float4,
.detail_cust,
.detail_register,
.detail_zipcode,
.detail_hhmm
{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #aab2bb;
  background-color: #ffffff;
  margin:0px 0px 0px 0px;  
   /*padding:1px 0px 1px 2px;*/
  /*수정(2017.07.19 KYY)*/
  padding:0;
  text-align:left;
  vertical-align:middle;
  color:#000000;
}
textarea
{ color : #000000;
	border-color : #9cbed3;
	border-style : solid;
	border:1px;
     padding:2px 0px 0px 2px;
}

.detail_date
{
  width:80px;
  text-align:center;
   /*padding:1px 1px 1px 1px;*/
  /*수정(2017.07.19 KYY)*/
  padding:0;    
}
.detail_amt,
.detail_number,
.detail_float1,
.detail_float2,
.detail_float3,
.detail_float4
{
  width:120px;
  text-align:right;
  /*padding:1px 1px 1px 1px;*/
  /*수정(2017.07.19 KYY)*/
  padding:0;
}
.detail_cust
{
  width:70px;
  text-align:right;
}
.detail_register
{
  width:70px;
  text-align:right;
}
.detail_zipcode
{
  width:70px;
  text-align:center;
}
.detail_hhmm
{
  width:38px;
  text-align:center;
}

select {
	height:20px;
  margin:0px 0px 0px 0px;
  padding:1px 1px 1px 1px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #aab2bb;
  /*border-color: #c0dade;*/
	/*font-family:arial;*/

}


.detail_input:focus,
.detail_input_fix:focus,
.detail_date:focus,
.detail_amt:focus,
.detail_number:focus,
.detail_hhmm:focus,
.detail_float1:focus,
.detail_float2:focus,
.detail_float3:focus,
.detail_float4:focus,
.detail_cust:focus,
.detail_register:focus,
.detail_zipcode:focus,
.detail_hhmm:focus,
select:focus {
	border-color: #ff7f50;
  border-width: 1px 1px 1px 1px;
}

.detail_input:hover,
.detail_input_fix:hover,
.detail_date:hover,
.detail_amt:hover,
.detail_number:hover,
.detail_hhmm:hover,
.detail_float1:hover,
.detail_float2:hover,
.detail_float3:hover,
.detail_float4:hover,
.detail_cust:hover,
.detail_register:hover,
.detail_zipcode:hover,
.detail_hhmm:hover,
select:hover {
	border-color: #ff7f50;
  border-width: 1px 1px 1px 1px;
}

input[type="checkbox"] {
  position: relative;
  top: 3px;*/
  /* 수정(2016.01.20 KYY) top: 10px;*/
}

input[readonly="readonly"], input[readonly], input[disabled],
select[readonly="readonly"], select[readonly], select[disabled]
/*화살표 숨기기{
  -webkit-appearance: none;
},*/
textarea[readonly="readonly"], textarea[readonly], textarea[disabled],
input[type="text"][disabled],
input[type="text"][disabled="disabled"] {
  border-color: #d9d9d9;
	background: url(/Theme/images/input_disable_bg.gif) repeat 0 0;
  color: #222;
}

.option_date[disabled],.option_date[readonly="readonly"],.option_date[disabled],
.option_yyyy[disabled],.option_yyyy[readonly="readonly"],.option_yyyy[disabled],
.option_yymm[disabled],.option_yymm[readonly="readonly"],.option_yymm[disabled],
.option_amt[disabled],.option_amt[readonly="readonly"],.option_amt[disabled],
.search_date[disabled],.search_date[readonly="readonly"],.search_date[disabled],
.search_yyyy[disabled],.search_yyyy[readonly="readonly"],.search_yyyy[disabled],
.search_yymm[disabled],.search_yymm[readonly="readonly"],.search_yymm[disabled]
{
  border-color: #aab2bb;
  /*border-color: #c0dade;*/
}


#pageLayout {position:absolute; float:left; left:0; top:0; width:100%; height:100%; background-color:#ffffff; overflow-y:hidden; padding:7px 0 0 0; margin:0px; z-index:1; display:none;}

/* 상단 검색, 버튼 */
#topbar {float:left; position:relative; padding:5px 0 7px 0; width:100%; height:auto; min-width:1000px;}
#xsearch {float:left; *position:relative; display:table-cell; *display:inline-block; padding:5px; width:auto; *width:800px; text-align:left; vertical-align:top; border:1px solid #5c9ccc; border-radius:5px; white-space:nowrap;}
#userxbtns {float:right; height:25px; text-align:right; white-space:nowrap;margin:0 3px 0 0px;}
#xbtns {float:right; width:auto; height:auto; text-align:right; white-space:nowrap;margin-top:2px;margin-right:3px}

.search_find_img {cursor:pointer}
.btn_move {
	margin:1px 0px 1px 0px;
	cursor:pointer
}



/* 그리드 */
#grid {float:left; width:100%;}
#grid_default {float:left; width:100%;height:100%;}
#grid_row_1 {float:left; width:100%;}
#grid_row_2 {float:left; width:100%;}
#grid_row_3 {float:left; width:100%;}
#grid_row_4 {float:left; width:100%;}
#grid_row_5 {float:left; width:100%;}
#grid_row_6 {float:left; width:100%;}
#grid_row_7 {float:left; width:100%;}
#grid_row_8 {float:left; width:100%;}
#grid_row_9 {float:left; width:100%;}
#grid_col_1 {float:left; height:100%;}
#grid_col_2 {float:right; height:100%;}

/* 프리폼 */
/*#freefrom {position:absolute; bottom:0; width:100%; min-width:1000px;}*/
#freeform {float:left; bottom:0; width:100%;}

/* 그리드 여백 조정 */
.grid_row_space {float:left; width:100%;}
.grid_col_space {float:left; height:100%;}

/* 그리드, 프리폼 라인 카운트 */
.grid_line_0 {bottom:0;}
.grid_line_2 {bottom:75px;}
.grid_line_3 {bottom:101px;}
.grid_line_4 {bottom:127px;}
.grid_line_5 {bottom:153px;}
.grid_line_6 {bottom:179px;}
.form_line_2 {height:51px;}
.form_line_3 {height:77px;}
.form_line_4 {height:103px;}
.form_line_5 {height:129px;}
.form_line_6 {height:155px;}


/* 추가 클래스 */
.pr {position:relative;}
.pa {position:absolute; left:0; right:0;}
.ro {background-color:#f9f9f9;}

#buttons{
	padding: 0px;
	list-style: none;
  /*수정 (2016.12.27 KYY)*/
  margin-bottom: 0px;
}
#buttons li{
   width: 50px;
   height: 24px;
   padding-right:2px;
	 margin-left: 3px;
   float: left;
}

/* 버튼 수정(2018.06.28 KYY) */
#buttons li a{
	 display: block;
	 width: 51px;
	 height: 24px;
	 overflow:hidden;
	 text-indent: -999px;
	 background: url(/Theme/images/btn/buttons_201807.png);
}


/* 저장 */
#buttons li a.save {	background-position: 0px 0px; }
#buttons li a.save:hover {	background-position: -60px 0px ; }
#buttons li a.save:active {	background-position: -120px 0px; }
/* 조회 */
#buttons li a.retrieve {  background-position: 0px -30px; }
#buttons li a.retrieve:hover {  background-position: -60px -30px; }
#buttons li a.retrieve:active { background-position: -120px -30px; }
/* 삽입 */
#buttons li a.insert { background-position: 0px -60px; }
#buttons li a.insert:hover { background-position:  -60px -60px; }
#buttons li a.insert:active { background-position: -120px -60px; }
/* 추가 */
#buttons li a.append { background-position: 0px -90px;  }
#buttons li a.append:hover { background-position: -60px -90px;  }
#buttons li a.append:active { background-position:  -120px -90px;  }
/* 복제 */
#buttons li a.duplicate { background-position: 0px -120px; }
#buttons li a.duplicate:hover { background-position: -60px -120px; }
#buttons li a.duplicate:active { background-position: -120px -120px; }
/* 삭제 */
#buttons li a.delete {  background-position: 0px -150px; }
#buttons li a.delete:hover {  background-position: -60px -150px; }
#buttons li a.delete:active { background-position: -120px -150px; }
/* 인쇄 */
#buttons li a.print { background-position: 0px -180px; }
#buttons li a.print:hover { background-position: -60px -180px; }
#buttons li a.print:active { background-position: -120px -180px; }
/* 엑셀 */
#buttons li a.excel { background-position: 0px -210px; }
#buttons li a.excel:hover { background-position: -60px -210px; }
#buttons li a.excel:active { background-position: -120px -210px; }
/* 닫기 */
#buttons li a.close { background-position: 0px -240px; opacity: 1;}
#buttons li a.close:hover { background-position: -60px -240px; }
#buttons li a.close:active { background-position: -120px -240px; }

/* 저장 */
#buttons li a.c_save {  background-position: -60px -270px; width: 46px; height: 21px;}
#buttons li a.c_save:hover {  background-position: 0px -270px ; }
#buttons li a.c_save:active { background-position: -120px -270px; }
/* 조회 */
#buttons li a.c_retrieve {  background-position: -60px -300px; width: 46px; height: 21px;}
#buttons li a.c_retrieve:hover {  background-position: 0px -300px; }
#buttons li a.c_retrieve:active { background-position: -120px -300px; }
/* 삽입 */
#buttons li a.c_insert { background-position: -60px -330px; width: 46px; height: 21px;}
#buttons li a.c_insert:hover { background-position:  0px -330px; }
#buttons li a.c_insert:active { background-position: -120px -330px; }
/* 추가 */
#buttons li a.c_append { background-position: -60px -360px;  width: 46px; height: 21px;}
#buttons li a.c_append:hover { background-position: 0px -360px;  }
#buttons li a.c_append:active { background-position:  -120px -360px;  }
/* 복제 */
#buttons li a.c_duplicate { background-position: -60px -390px; width: 46px; height: 21px;}
#buttons li a.c_duplicate:hover { background-position: 0px -390px; }
#buttons li a.c_duplicate:active { background-position: -120px -390px; }
/* 삭제 */
#buttons li a.c_delete {  background-position: -60px -420px; width: 46px; height: 21px;}
#buttons li a.c_delete:hover {  background-position: 0px -420px; }
#buttons li a.c_delete:active { background-position: -120px -420px; }
/* 인쇄 */
#buttons li a.c_print { background-position: -60px -450px; width: 46px; height: 21px;}
#buttons li a.c_print:hover { background-position: 0px -450px; }
#buttons li a.c_print:active { background-position: -120px -450px; }
/* 엑셀 */
#buttons li a.c_excel { background-position: -60px -480px; width: 46px; height: 21px;}
#buttons li a.c_excel:hover { background-position: 0px -480px; }
#buttons li a.c_excel:active { background-position: -120px -480px; }
/* 닫기 */
#buttons li a.c_close { background-position: -60px -510px; width: 46px; height: 21px;}
#buttons li a.c_close:hover { background-position: 0px -510px; }
#buttons li a.c_close:active { background-position: -120px -510px; }

#buttons2{
	padding: 0px;
	list-style: none;
}

#buttons2 li{
   width: 50px;
   height: 24px;
   padding-right:2px;
	 margin-left: 3px;
   float: left;
}

#buttons2 li a{
	 display: block;
	 width: 55px;
	 height: 24px;
	 overflow:hidden;
	 text-indent: -999px;
	 background: url(/Theme/images/btn/buttons_hi4.jpg);
}

#buttons2 li a.reply { background-position: 0 0;  }
#buttons2 li a.reply:hover { background-position: -60px 0;  }
#buttons2 li a.reply:active { background-position:  0 -30px;  }

#buttons2 li a.modify { background-position: -60px -30px; }
#buttons2 li a.modify:hover { background-position: -60px -60px; }
#buttons2 li a.modify:active { background-position: 0 -60px; }

#buttons2 li a.listup {	background-position: -120px 0; }
#buttons2 li a.listup:hover { background-position: -120px -60px; }
#buttons2 li a.listup:active { background-position: -120px -30px; }

/*
삭제대상(2015.03.15 KYY)
*/

.detail_lbl
{
	float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0;
  margin:0;
  padding:0 5px 0 5px;
  width:100px;
	height:25px;
	text-align:right;
	line-height:25px;
	color:#333333;
	font-weight:bold;
	font-size:12px;
 }

.detail_lbl_check
{
	float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0;
  margin:0;
  padding:0 5px 0 5px;
  width:100px;
	height:25px;
	text-align:right;
	line-height:25px;
	color:#FF0000;
	font-weight:bold;
	font-size:12px;
 }

.detail_lbl_left
{
	float:left;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0;
  margin:0;
  padding:0 5px 0 5px;
  width:100px;
	height:25px;
	text-align:right;
	line-height:25px;
	color:#333333;
	font-weight:bold;
	font-size:12px;
 }

.detail_lbl_left_check
{
	float:left;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0;
  margin:0;
  padding:0 5px 0 5px;
  width:100px;
	height:25px;
	text-align:right;
	line-height:25px;
	color:#FF0000;
	font-size:12px;
 	font-weight:bold;
 }

.search_label
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0;
  margin:0;
  padding:0 5px 0 5px;
  width:100px;
  height:25px;
	font-weight:bold;
  text-align:right;
  line-height:25px;
  color:#333333;
}

.search_label_check
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0;
  margin:0;
  padding:0 5px 0 5px;
  width:100px;
  height:25px;
	font-weight:bold;
  text-align:right;
  line-height:25px;
  color:#ff0000;
}

.search_label_left
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  overflow: hidden;
  border-color: #c6c6c6;
  background-color: #edeef0;
  margin:0;
  padding:0 5px 0 5px;
  width:96px;
  height:25px;
	font-weight:bold;
  text-align:right;
  line-height:25px;
  color:#333333;
}

.search_label_left_check
{
  float:left;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  overflow: hidden;
  border-color: #c6c6c6
  background-color: #edeef0;
  margin:0;
  padding:0 5px 0 5px;
  width:96px;
  height:25px;
	font-weight:bold;
  text-align:right;
  line-height:25px;
  color:#ff0000;
}



button {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
input[type="button"].btn-block {
  width: 100%;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
button {
  align-items: flex-start;
  box-sizing: border-box;
}


.btn{display:inline-block;*display:inline;padding:2px 8px;margin-bottom:0;*margin-left:.3em;font-size:12px;line-height:14px;color:#333;text-align:center;text-shadow:0 1px 1px rgba(255,255,255,0.75);vertical-align:middle;cursor:pointer;background-color:#f5f5f5;*background-color:#e6e6e6;background-image:-moz-linear-gradient(top,#fff,#e6e6e6);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));background-image:-webkit-linear-gradient(top,#fff,#e6e6e6);background-image:-o-linear-gradient(top,#fff,#e6e6e6);background-image:linear-gradient(to bottom,#fff,#e6e6e6);background-repeat:repeat-x;border:1px solid #ccc;*border:0;border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);*zoom:1;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05)}
.btn:hover,.btn:focus,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{color:#333;background-color:#e6e6e6;*background-color:#d9d9d9}
.btn:active,.btn.active{background-color:#ccc ;}
.btn:first-child{*margin-left:0}
.btn:hover,.btn:focus{color:#333;text-decoration:none;background-position:0 -15px;-webkit-transition:background-position .1s linear;-moz-transition:background-position .1s linear;-o-transition:background-position .1s linear;transition:background-position .1s linear}
.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.btn.active,.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05)}
.btn.disabled,.btn[disabled]{cursor:default;background-image:none;opacity:.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.btn-large{padding:11px 19px;font-size:17.5px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}
.btn-large [class^="icon-"],.btn-large [class*=" icon-"]{margin-top:4px}
.btn-small{padding:2px 10px;font-size:11.9px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.btn-small [class^="icon-"],.btn-small [class*=" icon-"]{margin-top:0}
.btn-mini [class^="icon-"],.btn-mini [class*=" icon-"]{margin-top:-1px}
.btn-mini{padding:0 6px;font-size:10.5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.btn-block{display:block;width:100%;padding-right:0;padding-left:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.btn-block+.btn-block{margin-top:5px}
input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block{width:100%}
.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active{color:rgba(255,255,255,0.75)}
.btn-primary{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#006dcc;*background-color:#04c;background-image:-moz-linear-gradient(top,#08c,#04c);background-image:-webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));background-image:-webkit-linear-gradient(top,#08c,#04c);background-image:-o-linear-gradient(top,#08c,#04c);background-image:linear-gradient(to bottom,#08c,#04c);background-repeat:repeat-x;border-color:#04c #04c #002a80;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{color:#fff;background-color:#04c;*background-color:#003bb3}
.btn-primary:active,.btn-primary.active{background-color:#039 ;}
.btn-warning{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#faa732;*background-color:#f89406;background-image:-moz-linear-gradient(top,#fbb450,#f89406);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));background-image:-webkit-linear-gradient(top,#fbb450,#f89406);background-image:-o-linear-gradient(top,#fbb450,#f89406);background-image:linear-gradient(to bottom,#fbb450,#f89406);background-repeat:repeat-x;border-color:#f89406 #f89406 #ad6704;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450',endColorstr='#fff89406',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.btn-warning.disabled,.btn-warning[disabled]{color:#fff;background-color:#f89406;*background-color:#df8505}
.btn-warning:active,.btn-warning.active{background-color:#c67605 ;}
.btn-danger{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#da4f49;*background-color:#bd362f;background-image:-moz-linear-gradient(top,#ee5f5b,#bd362f);background-image:-webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));background-image:-webkit-linear-gradient(top,#ee5f5b,#bd362f);background-image:-o-linear-gradient(top,#ee5f5b,#bd362f);background-image:linear-gradient(to bottom,#ee5f5b,#bd362f);background-repeat:repeat-x;border-color:#bd362f #bd362f #802420;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b',endColorstr='#ffbd362f',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.btn-danger.disabled,.btn-danger[disabled]{color:#fff;background-color:#bd362f;*background-color:#a9302a}
.btn-danger:active,.btn-danger.active{background-color:#942a25 ;}
.btn-success{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#5bb75b;*background-color:#51a351;background-image:-moz-linear-gradient(top,#62c462,#51a351);background-image:-webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));background-image:-webkit-linear-gradient(top,#62c462,#51a351);background-image:-o-linear-gradient(top,#62c462,#51a351);background-image:linear-gradient(to bottom,#62c462,#51a351);background-repeat:repeat-x;border-color:#51a351 #51a351 #387038;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{color:#fff;background-color:#51a351;*background-color:#499249}
.btn-success:active,.btn-success.active{background-color:#408140 ;}
.btn-info{
	color: #fff;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	background-color:#49afcd;
	*background-color:#2f96b4;
	background-image:-moz-linear-gradient(top,#5bc0de,#2f96b4);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#5bc0de),to(#2f96b4));
	/* background-image:-webkit-linear-gradient(top,#5bc0de,#2f96b4); */
	background-image:-o-linear-gradient(top,#5bc0de,#2f96b4);
	background-image:linear-gradient(to bottom,#5bc0de,#2f96b4);
	/* background-image:linear-gradient(to bottom,#5bc0de,#2f96b4); */
	/* background-repeat:repeat-x; *//* border-color:#2f96b4 #2f96b4 #1f6377; */
	/* border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25); */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de',endColorstr='#ff2f96b4',GradientType=0);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
}
.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.btn-info.disabled,.btn-info[disabled]{color:#fff;background-color:#2f96b4;*background-color:#2a85a0}
.btn-info:active,.btn-info.active{background-color:#24748c ;}
.btn-inverse{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#363636;*background-color:#222;background-image:-moz-linear-gradient(top,#444,#222);background-image:-webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));background-image:-webkit-linear-gradient(top,#444,#222);background-image:-o-linear-gradient(top,#444,#222);background-image:linear-gradient(to bottom,#444,#222);background-repeat:repeat-x;border-color:#222 #222 #000;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444',endColorstr='#ff222222',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}
.btn-inverse:hover,.btn-inverse:focus,.btn-inverse:active,.btn-inverse.active,.btn-inverse.disabled,.btn-inverse[disabled]{color:#fff;background-color:#222;*background-color:#151515}
.btn-inverse:active,.btn-inverse.active{background-color:#080808 ;}
button.btn,input[type="submit"].btn{*padding-top:3px;*padding-bottom:3px}
button.btn::-moz-focus-inner,input[type="submit"].btn::-moz-focus-inner{padding:0;border:0}
button.btn.btn-large,input[type="submit"].btn.btn-large{*padding-top:7px;*padding-bottom:7px}
button.btn.btn-small,input[type="submit"].btn.btn-small{*padding-top:3px;*padding-bottom:3px}
button.btn.btn-mini,input[type="submit"].btn.btn-mini{*padding-top:1px;*padding-bottom:1px}
.btn-link,.btn-link:active,.btn-link[disabled]{background-color:transparent;background-image:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}
.btn-link{color:#08c;cursor:pointer;border-color:transparent;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.btn-link:hover,.btn-link:focus{color:#005580;text-decoration:underline;background-color:transparent}
.btn-link[disabled]:hover,.btn-link[disabled]:focus{color:#333;text-decoration:none}
.btn-group{position:relative;display:inline-block;*display:inline;*margin-left:.3em;font-size:0;white-space:nowrap;vertical-align:middle;*zoom:1}
.btn-group:first-child{*margin-left:0}
.btn-group+.btn-group{margin-left:5px}
.btn-toolbar{margin-top:10px;margin-bottom:10px;font-size:0}
.btn-toolbar>.btn+.btn,.btn-toolbar>.btn-group+.btn,.btn-toolbar>.btn+.btn-group{margin-left:5px}
.btn-group>.btn{position:relative;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.btn-group>.btn+.btn{margin-left:-1px}
.btn-group>.btn,.btn-group>.dropdown-menu,.btn-group>.popover{font-size:14px}
.btn-group>.btn-mini{font-size:10.5px}
.btn-group>.btn-small{font-size:11.9px}
.btn-group>.btn-large{font-size:17.5px}
.btn-group>.btn:first-child{margin-left:0;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-webkit-border-top-left-radius:4px;border-top-left-radius:4px;-moz-border-radius-bottomleft:4px;-moz-border-radius-topleft:4px}
.btn-group>.btn:last-child,.btn-group>.dropdown-toggle{-webkit-border-top-right-radius:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;-moz-border-radius-topright:4px;-moz-border-radius-bottomright:4px}
.btn-group>.btn.large:first-child{margin-left:0;-webkit-border-bottom-left-radius:6px;border-bottom-left-radius:6px;-webkit-border-top-left-radius:6px;border-top-left-radius:6px;-moz-border-radius-bottomleft:6px;-moz-border-radius-topleft:6px}
.btn-group>.btn.large:last-child,.btn-group>.large.dropdown-toggle{-webkit-border-top-right-radius:6px;border-top-right-radius:6px;-webkit-border-bottom-right-radius:6px;border-bottom-right-radius:6px;-moz-border-radius-topright:6px;-moz-border-radius-bottomright:6px}
.btn-group>.btn:hover,.btn-group>.btn:focus,.btn-group>.btn:active,.btn-group>.btn.active{z-index:2}
.btn-group .dropdown-toggle:active,.btn-group.open .dropdown-toggle{outline:0}
.btn-group>.btn+.dropdown-toggle{*padding-top:5px;padding-right:8px;*padding-bottom:5px;padding-left:8px;-webkit-box-shadow:inset 1px 0 0 rgba(255,255,255,0.125),inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 1px 0 0 rgba(255,255,255,0.125),inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 1px 0 0 rgba(255,255,255,0.125),inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05)}
.btn-group>.btn-mini+.dropdown-toggle{*padding-top:2px;padding-right:5px;*padding-bottom:2px;padding-left:5px}
.btn-group>.btn-small+.dropdown-toggle{*padding-top:5px;*padding-bottom:4px}
.btn-group>.btn-large+.dropdown-toggle{*padding-top:7px;padding-right:12px;*padding-bottom:7px;padding-left:12px}
.btn-group.open .dropdown-toggle{background-image:none;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);box-shadow:inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05)}
.btn-group.open .btn.dropdown-toggle{background-color:#e6e6e6}
.btn-group.open .btn-primary.dropdown-toggle{background-color:#04c}
.btn-group.open .btn-warning.dropdown-toggle{background-color:#f89406}
.btn-group.open .btn-danger.dropdown-toggle{background-color:#bd362f}
.btn-group.open .btn-success.dropdown-toggle{background-color:#51a351}
.btn-group.open .btn-info.dropdown-toggle{background-color:#2f96b4}
.btn-group.open .btn-inverse.dropdown-toggle{background-color:#222}
.btn .caret{margin-top:8px;margin-left:0}
.btn-large .caret{margin-top:6px}
.btn-large .caret{border-top-width:5px;border-right-width:5px;border-left-width:5px}
.btn-mini .caret,.btn-small .caret{margin-top:8px}
.dropup .btn-large .caret{border-bottom-width:5px}
.btn-primary .caret,.btn-warning .caret,.btn-danger .caret,.btn-info .caret,.btn-success .caret,.btn-inverse .caret{border-top-color:#fff;border-bottom-color:#fff}
.btn-group-vertical{display:inline-block;*display:inline;*zoom:1}
.btn-group-vertical>.btn{display:block;float:none;max-width:100%;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.btn-group-vertical>.btn+.btn{margin-top:-1px;margin-left:0}
.btn-group-vertical>.btn:first-child{-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0}
.btn-group-vertical>.btn:last-child{-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px}
.btn-group-vertical>.btn-large:first-child{-webkit-border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;border-radius:6px 6px 0 0}
.btn-group-vertical>.btn-large:last-child{-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px}


.btn_search {
  border: 1px solid transparent;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 25px;
  margin: 0;
  outline: none;
  padding: 0 0;
  width: 50px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #0f6ba8;
  vertical-align: top;
}

.gb_bg {
  background-image: url('/Theme/images/button/GroupButton_01.png');
  -webkit-background-size: 25px 2011px;
  background-size: 25px 2011px;
}

.gb_mag {
  background-position: 0px -1625px;
  display: inline-block;
  margin: -1px;
  height: 25px;
  width: 25px;
}

.FIND_CODE {
  border-style: solid;
  border-width: 2px 0px 2px 2px;
  border-color: #0f6ba8;
  /*border-color: #c0dade;*/
  background-color: #ffffff;
  height:19px;
  margin:0px 0px 0px 0px;
  padding:1px 0px 1px 4px;
  /*margin:0px 0px 2px 1px;  padding:0px 1px 1px 1px;*/
  text-align:left;
  vertical-align:middle;
  color:#000000;
}

.outer {
  display: table;
  width: 100%;
  height: 100%;
}
.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  /*display: none;*/
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .45);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .475);
     -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .475);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .475);

}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li {
  display: block;
  padding: 0px 0px;
  clear: both;
  font-weight: normal;
  line-height: 1.62857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > a {
  display: block;
  padding: 1px 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.62857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top,#08c,#0077b3);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#0077b3));
  background-image: -webkit-linear-gradient(top,#08c,#0077b3);
  background-image: -o-linear-gradient(top,#08c,#0077b3);
  background-image: linear-gradient(to bottom,#08c,#0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0077b3',GradientType=0);
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0,0,0,0.45);
  content: '';
}
.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
  content: '';
}




/* 2.0.2 ADD - Layout */
.grid_div.has_title {
  padding-top: 25px;
}


.grid_div .slick-grid {
  width: 100%;
  height: 100%;
}

.grid_div.has_button {
  padding-top: 25px;
}

.grid_div.has_button .child_button {
  height: 25px;
  margin-top: -25px;
}

.detail_box.ver2.has_title {
  padding-top: 25px;
}

.detail_box.ver2 {
  border-color: #cedcef;
  border-bottom: 0;
  border-right: 0;
  margin: 0;
}

.detail_box.ver2 div, .detail_box.ver2 label, .detail_input_bg {
  display: table-cell;
  float: none;
}

.detail_box.ver2 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.detail_box.ver2 ul li {
  padding: 4px 0;
}

.has_title label.sub_title, .detail_box.ver2 label.sub_title {
  display: block;
  margin-top: -25px;
  height: 25px;
  padding: 0;
  color: #4374D9;
  font-weight: bold;
  text-align: left;
  line-height: 25px;
  padding-left: 15px;
  background: url('/Theme/images/btn/tit_icon_pop.gif') no-repeat left 8px;
}

.detail_box.ver2 .detail_row, .detail_box.ver2 .dbox_row {
  display: table;
  width: 100%;
  border-top: 1px solid #d0d0d0; /* #bfcfdf #cedcef; (2017.01.07)*/
  border-bottom: 0;
  border-right: 1px solid  #d0d0d0; /* #bfcfdf #cedcef; (2017.01.07)*/
}

.detail_box.ver2 .detail_row_bb {
  border-bottom: 1px solid  #d0d0d0; /* #bfcfdf #cedcef; (2017.01.07)*/
 -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.05);
  box-shadow: 0 2px 2px rgba(0,0,0,.05);  
}

.detail_box.ver2 label {
  text-align: right;
  vertical-align: middle;
}

.detail_box.ver2 input[type=text], .detail_box.ver2 select, .detail_box.ver2 textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #e6e6e6;
}

.detail_box.ver2 textarea {
  height: 100%;
}

.detail_box.ver2 input[type=radio] {
  vertical-align: middle;
}

.detail_box.ver2 input[type=radio], .detail_box.ver2 input[type=checkbox] {
  margin-left: 5px;
}

.detail_label {
  padding: 0 5px 0 4px;
}

.detail_box .has_button {
  padding-right: 36px;
}

.detail_box .noborder {
  border-left: 0; /* 1px solid #fff; */
}

.text_left {
  text-align: left;
}
.text_right {
  text-align: right;
}
.text_center {
  text-align: center;
}

.detail_box .has_button button {
  position: absolute;
  top: 4px;
  right: 4px;
  background: url('/Theme/images/btn/btn_find.gif') no-repeat;
  border: 0;
  width: 28px;
  height: 19px;
}

.xtab_div {
  /* padding-top: 25px; */
  float: left;
}

.xtab_div .xtabs_nav {
  /* margin-top: -25px; */
  height: 25px !important;
}

.xtabc_div {
  width: 100%;
  height: 100%;
}

.xtabc_div .grid_div {
  /* padding-top: 25px; */
  /* margin-top: -25px; */
  width: 100%;
  height: 100%;
}

.xtabc_div .grid_div.has_button {
  padding-top: 25px;
}

.xtabc_div{float:left; display:none;}
.xtabs_div{float:left;}

.grid_div.has_img {
}

.has_img img.locate_img,  {
  display: block;
  margin-right: -18px;
  height: 18px;
  padding: 0;
  color: #4374D9;
  line-height: 18px;
}

.detail_box.ver2.has_img {
}

.has_img img.locate_img,  {
  display: block;
  margin-right: -18px;
  height: 18px;
  padding: 0;
  color: #4374D9;
  line-height: 18px;
}

/*추가(2017.08.28 KYY)*/
button.dn, div.dn, input.dn, select.dn{display: none !important;}

/*추가(2017.11.21 KYY)*/
.warning-label {
  float: right; 
  height: 20px; 
  color: #4374D9; 
  font-weight: bold; 
  color:red; 
  line-height: 23px; 
}
.warning-label-01 {
  float: right; 
  height: 20px; 
  color: #4374D9; 
  font-weight: bold; 
  color:red; 
  line-height: 23px; 
  margin-top: -25px; 
  margin-right: 5px;  
}
.warning-label-02 {
  height: 20px; 
  color: #4374D9; 
  font-weight: bold; 
  color:red; 
  line-height: 23px; 
  margin-top: -25px; 
  margin-right: 5px;  
}

.slick-cell.saturday {
    background-color: rgb(240, 240, 255) !important;
    /*border-bottom: 1px solid orange;*/
}
.slick-cell.sunday {
    background-color: rgb(255, 240, 240) !important;
    /*border-bottom: 1px solid orange;*/
}
