body {
  background-color: #f4f3ef;
}

hr {
  margin-top: 10px;
  margin-bottom: 30px;
  border: 1px dashed #ccc;  
}

.pt10 {
  padding-top: 10px;
}

#cust_code1 {
  width: 45px !important;
  display: inline-block;
}

#cust_code2 {
  width: 38px !important;
  display: inline-block;
}

#cust_code3 {
  width: 60px !important;
  display: inline-block;
}

.alert {
  margin: 100px 50px;
}