/*
  Css Name : com.css
  Description : 공통 CSS
  Modification Information

      수정일        수정자          수정내용
     ----------    --------    ---------------------------
     2008.10.15    	장동한          최초 생성
     2011.08.24		이기하			css 부족부분 추가

    author   : 공통컴포넌트 개발팀 장동한
    since    : 2008.10.15
*/
/*
a:link, a:visited, a:hover, a:active  { font-size:9pt; font-family:"맑은 고딕";color:#000000; text-decoration:none; }
body { margin-left:23px; margin-right:0px; margin-top:17px; margin-bottom:0px;}
*/

html, body, div,  ul, li, ol, p, img, fieldset, legend, form, input,  object, button, a
{margin:0;
padding:0;
font-family:나눔고딕,NanumGothic,'Nanum Gothic', Dotum, Gulim, verdana, arial, sans-serif; 
font-size:12px;}


td {font-size: 9pt; color:#333333; font-weight:normal;}
th {font-size: 9pt; color:#333333; font-weight:normal;}

h1 {font-size:12px;}
caption {visibility:hidden; font-size:0; height:0; margin:0; padding:0; line-height:0;}

img { border : 0; }
table { margin : 0; padding : 0; }
.t_strong { font-weight : bold; }

.noScriptTitle {
font-size : 17px;
color : blue;
text-align : center;
font-family : "맑은 고딕";
font-weight : bold;
padding-bottom : 12px;
}

.TopMenuBg {
background-image : url('/Theme/images/egovframework/menu_bg.jpg');
background-repeat : no-repeat;
}
.LeftMenuTitle {
font-size : 14px;
color : #fff;
text-align : center;
font-family : "맑은 고딕";
font-weight : bold;
padding-top : 20px;
padding-bottom : 3px;
}
.LeftMenuWelcome {
font-size : 12px;
color : #e6e6e6;
text-align : center;
font-family : "맑은 고딕";
padding-top : 6px;
}
.LeftMenuBg {
font-size : 12px;
color : #7f9db9;
text-align : left;
font-family : "맑은 고딕";
font-weight : bold;
padding-top : 3px;
padding-left : 50px;
background-image : url('/Theme/images/egovframework/left_menu_bg.gif');
}
.LeftMenuBtn {
text-align : center;
padding-top : 5px;
padding-bottom : 5px;
}
.LeftMenuBgList {
font-size : 12px;
color : #fff;
text-align : left;
font-family : "맑은 고딕";
padding-top : 3px;
padding-left : 60px;
background-image : url('/Theme/images/egovframework/left_bg.gif');
}
.QuickLink {
font-size : 11px;
color : #7794be;
text-align : right;
font-family : "맑은 고딕";
padding-top : 3px;
}
.PageTitle {
color : #000000;
text-align : left;
font-family : "맑은 고딕";
font-weight : bold;
padding-left : 45px;
background-image : url('/Theme/images/egovframework/page_title.gif');
}
.PageNumber {
text-align : center;
font-family : "맑은 고딕";
font-size : 12px;
}
.checkbox {
background-color : #fff;
}
.BottomStyle {
font-size : 11px;
color : #999999;
font-family : dotum;
}
.LoginIdText {
margin-top : 80px;
margin-left : 400px;
font-size : 12px;
font-family : dotum;
width : 190px;
}
.LoginPassText {
margin-left : 400px;
font-size : 12px;
font-family : dotum;
width : 180px;
}
.LoginJoinBtn {
margin-top : 5px;
margin-left : 400px;
font-size : 12px;
font-family : dotum;
width : 180px;
}

/* -----------------TopMenuBg------------ */
.TopMenuBg { font-size: 12px; color: #888888 ;  font-family: "맑은 고딕"}
.TopMenuBg  a:link { font-size: 12px; color: #888888;  font-family: "맑은 고딕"}
.TopMenuBg  a:visited { font-size: 12px; color: #888888 ; font-family: "맑은 고딕"}
.TopMenuBg  a:hover { font-size: 12px; color: #4791a5 ;  font-weight:bold}
.TopMenuBg  a:active { font-size: 12px; color: #86cd00 ; font-weight:bold}

/* -----------------LeftMenuBgList------------ */
.LeftMenuBgList { font-size: 12px; color: #fff ;  font-family: "맑은 고딕"}
.LeftMenuBgList  a:link { font-size: 12px; color: #fff;  font-family: "맑은 고딕"}
.LeftMenuBgList  a:visited { font-size: 12px; color: #fff ; font-family: "맑은 고딕"}
.LeftMenuBgList  a:hover { font-size: 12px; color: #fff ;  font-weight:bold}
.LeftMenuBgList  a:active { font-size: 12px; color: #fff ; font-weight:bold}

/* -----------------LeftMenuBg------------ */
.LeftMenuBg { font-size: 12px; color: #8594a8 ;  font-family: "맑은 고딕"}
.LeftMenuBg  a:link { font-size: 12px; color: #8594a8;  font-family: "맑은 고딕"}
.LeftMenuBg  a:visited { font-size: 12px; color: #8594a8 ; font-family: "맑은 고딕"}
.LeftMenuBg  a:hover { font-size: 12px; color: #445b7b ;  font-weight:bold}
.LeftMenuBg  a:active { font-size: 12px; color: #445b7b ; font-weight:bold}

/* -----------------QuickLink------------ */
.QuickLink { font-size: 11px; color: #7794be ;  font-family: "맑은 고딕" }
.QuickLink  a:link { font-size: 11px; color: #7794be;  font-family: "맑은 고딕" }
.QuickLink  a:visited { font-size: 11px; color: #5877a4 ; font-family: "맑은 고딕" }
.QuickLink  a:hover { font-size: 11px; color: #5877a4 ;  font-weight:bold}
.QuickLink  a:active { font-size: 11px; color: #5877a4 ; font-weight:bold}

/* board_list */
.table_listA	{margin-top:20px; margin-left:8px; padding:0 3px 0 3px; height:20px; font:11px Dotum; color:#626262;}
.table_listA	th	{margin-top:10px; height:30px; font:11px Dotum; font-weight:bold; color:#4f657d; background:url('../../../../images/egovframework/com/bg_list_th.gif')}
.table_listA	tbody {height:25px; font:11px Dotum; color:#828282;}

/* -----------------board_list------------ */
.table_listA  a:link { font-size: 11px; color: #828282;  text-decoration:none}
.table_listA  a:visited { font-size: 11px; color: #828282 ; text-decoration:none}
.table_listA  a:hover { font-size: 11px; color: #a7a7a7 ;  text-decoration:none}
.table_listA  a:active { font-size: 11px; color: #828282 ; text-decoration:none}

/* Black 텍스트 Hyperlink Style */
A:link { font-size:9pt; color:#000000; text-decoration:none; }
A:visited { font-size:9pt; color:#000000; text-decoration:none; }
A:active { font-size:9pt; color:red; text-decoration:none; }
A:hover { font-size:9pt; color:red;text-decoration:none;}


/* Gray 텍스트 Hyperlink Style */
A.gr:link { font-size:9pt; color:#58595B; text-decoration:none; }
A.gr:visited { font-size:9pt; color:#58595B; text-decoration:none; }
A.gr:active { font-size:9pt; color:red; text-decoration:none; }
A.gr:hover { font-size:9pt; color:red ;text-decoration:none;}


/* Black 텍스트 Hyperlink Style_언더라인 */
A.underline:link { font-size:9pt; color:#000000; text-decoration:underline; }
A.underline:visited { font-size:9pt; color:#000000; text-decoration:underline; }
A.underline:active { font-size:9pt; color:red; text-decoration:underline; }
A.underline:hover { font-size:9pt; color:red;text-decoration:underline;}

/* 링크 점선 제거 */
a {selector-dummy: expression(this.hideFocus=true);}

/* 스크롤 & margin */
body {
	scrollbar-face-color: #F6F6F6;
	scrollbar-highlight-color: #bbbbbb;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-shadow-color: #bbbbbb;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #bbbbbb;
	margin-left:"23px"; margin-right:"0px"; margin-top:"17px"; margin-bottom:"0px";
}

/*  흰색배경 inputbox  */
 textarea, input, select {
 	padding-left:2px color:#000000; border:1px solid #c4c4c4;font-size: 9pt; color:#000000;
 }
 
.detail_input:focus { border-color: #ff7f50;}

/*list_text*/
.lt_text { font-size:9pt; color:#000000; height:14px; text-align:left; vertical-align:middle; padding-left:10px; padding-right:10px;}
.lt_text2 { font-size:9pt; color:#444444; height:20px; text-align:left; vertical-align:middle; padding-left:10px; padding-right:10px; font-weight: bold;}
.lt_text3 { font-size:9pt; color:#000000; height:14px; text-align:center; vertical-align:middle;}
.lt_text4 { font-size:9pt; color:#000000; text-align:center; vertical-align:middle;}
.lt_text5 { font-size:9pt; color:#000000; height:14px; text-align:left; vertical-align:top; padding-left:10px; padding-right:10px; padding-top:10px; padding-bottom:10px;}

.button {
	border-style : none;
	background-color : transparent;
	font-size : 12px;
}

  /*------------------------------- textarea ------------------------------------------------*/

textarea { color : #000000; border-color : #9cbed3; border-style : solid; }

 /*  콤보박스에 테두리선 빼기  */
input.cb {background-color:transparent;border:0x;}

/*  금액_흰색바탕_우측정열 inputbox  */
.input-r{border:1px solid #9BBED2; text-align:right;}

/* 멀티그리드의 border style */
  multilinegrid:data
  { border-style:solid;
    focus-rect:visible;
     border-color:#C2CCD7;
     border-left-style:none;
     border-top-style:none; }

/* 멀티그리드의 데이타 영역 */
  multilinegrid:fixed
  { border-style:solid;
     border-left-color:#E4EFF8;
     border-top-color:#E4EFF8;
     border-right-color:#C2CCD7;
     border-bottom-color:#C2CCD7;
     background-color:#E4EFF8; }

/* 멀티그리드의 상단 caption 영역 */
  multilinegrid
  {  width:780px;
  border-color:#9F9F9F!important;
  border-style:solid!important;
  focuscolor:#D6E2EC;
  backcoloralternate:#F2F2F2;
  vscroll.margin-top:23;}

  select   { color:#000000; padding-left:2; border-color:#9CBED3; border-style:solid; }
  select1  { color:#000000; padding-left:2; border-color:#9CBED3; border-style:solid; }
 .select12 { color:#000000; padding-left:2; border-color:#9CBED3; border-style:solid; }

 select1[appearance="full"]
 { color:#000000; padding-left:2; border-color:#9CBED3; border-style:solid;}

 select[appearance="full"]
 { color:#000000; padding-left:2; border-color:#9CBED3; border-style:solid;}

 .check2
  { color:#000000;
     padding-left:2;
     border-color:#9CBED3;
     background-color:transparent!important;
     border-style:none !important;}

 .radio2
  { color:#000000;
     padding-left:2;
     border-color:#9CBED3;
     background-color:#EAEAEA!important;
     border-style:none !important;}

/*페이징관련 버튼*/

 .group_pagenav
{ vertical-align:middle;
   focus-rect:visible;
   background-color:transparent!important;
   border-style:none; }

 .page_prevend
 { width:13px; height:13px; top:3px;
    focus-rect:visible;
    background-color:transparent;
    background-image:url(/Theme/images/bbs/icon_prevend.gif);
    border-style:none; }

 .page_prev
 { width:13px; height:13px;  top:3px;
    focus-rect:visible;
    background-color:transparent;
    background-image:url(/Theme/images/bbs/icon_prev.gif);
    border-style:none; }

 .page_nextend
 { width:13px; height:13px; top:3px;
    focus-rect:visible;
    background-color:transparent;
    background-image:url(/Theme/images/bbs/icon_nextend.gif);
    border-style:none; }

 .page_next
 { width:13px; height:13px; top:3px;
    focus-rect:visible;
    background-color:transparent;
    background-image:url(/Theme/images/bbs/icon_next.gif);
    border-style:none; }

  .page_no
 { width:30px; height:13px!important; top:3px;
    focus-rect:visible;
    text-align:center;
    background-color:transparent;
    border-style:none; }

 .page_sep
 { width:13px; height:13px!important; top:3px;
    focus-rect:visible;
    text-align:center;
    background-color:transparent;
    border-style:none; }

  .group_pagenav>caption
  {vertical-align:top!important;
     focus-rect:visible;
    background-color:transparent!important;
    border-style:none!important;
    padding-left:2px!important;
    padding-top:1px!important;
    text-align:left!important;}

/****************************************** 텍스트   ************************************************************/
/* 로케이션_텍스트 */
.location{ font-family:"맑은 고딕"; font-size:8pt; color:#6d6d6d ;padding-top:1px; padding-left:3px;
           vertical-align: middle}

/* 타이틀_볼드 */
.title{ font-family:"맑은 고딕"; font-size:9pt; color:#000000 ;
        font-weight: bold ; vertical-align: middle}

/* 타이틀_볼드_좌측정렬 */
.title_left{ font-family:"맑은 고딕"; font-size:9pt; color:#000000 ;
        font-weight: bold ; vertical-align: left; text-align:left }

/* 타이틀_볼드_좌측정렬 */
.title_right{ font-family:"맑은 고딕"; font-size:9pt; color:#000000 ;
        font-weight: bold ; vertical-align: middle; text-align:right }

/* 팝업_타이틀_볼드 */
.title_wh{ font-family:"맑은 고딕"; font-size:9pt; color:#ffffff ;
           font-weight: bold ; vertical-align: middle}

/* 버튼메뉴_타이틀_화이트_볼드 */
.title_wh_b{ font-family:"맑은 고딕"; font-size:9pt; color:#ffffff ;
           font-weight: bold ; vertical-align: middle}

/* 필수 입력 항목 캡션 */
.required_text { font-family:"맑은 고딕"; font-size:9pt; color:#333333 ;
           font-weight: bold ; padding-right:3; text-align: right ; vertical-align: middle}


.text1{color:#FF8903; }
.text2{color:#A2A2A2; }

/****************************************** 테이블 & 텍스트   ************************************************************/

/* 리스트 테이블 */
.table-line{BORDER-TOP: #7095b2 2px solid; BORDER-bottom: #b9cbd9 1px solid; border-collapse: collapse;}
  .table-line th{BORDER-bottom: #c6c6c6 1px solid; padding-left:2;padding-right:2;background-color: #edeef0; height:17px;}
  .table-line td{BORDER-bottom: #E0E0E0 1px solid; padding-left:2;padding-right:2;background-color: #ffffff; height:17px;}

/* 생략  처리용 */
.table-list{BORDER-TOP: #7095b2 2px solid; BORDER-bottom: #BABABA 1px solid; border-collapse: collapse; table-layout:fixed; }
  .table-list th{BORDER-bottom: #A3A3A3 1px solid; padding-left:2;padding-right:2;background-color: #E4EAF8; height:17px;}
  .table-list td{BORDER-bottom: #E0E0E0 1px solid; padding-left:2;padding-right:2;background-color: #F7F7F7; height:17px; word-break:break-all; white-space: -moz-pre-wrap; overflow:hidden; text-overflow:ellipsis; }

/* readonly 처리 */
*[readonly] {background-color:#EEF1F7;}
.readOnlyClass {background-color:#EEF1F7;}
.textarea_only { color : #000000; border-color : #EEF1F7; border-style : solid; }

/* 등록 테이블 */
.table-register{BORDER-TOP: #b9cbd9 1px solid;BORDER-bottom: #b9cbd9 1px solid;BORDER-left: #c6c6c6 1px solid;BORDER-right: #c6c6c6 1px solid; border-collapse: collapse;}
  .table-register th{ padding-left:2px;padding-right:5px;background-color: #eaeff2; Text-align: right ;}
  .table-register tr{ border-bottom:1px solid #c6c6c6;padding-top:2;padding-bottom:2;}
  .table-register td{ padding-left:2px;padding-right:5;background-color: #ffffff;}

/*신사고 하이테크 등록테이블*/
.generalTable{
    BORDER-TOP: #b9cbd9 1px solid;
    BORDER-bottom: #b9cbd9 1px solid;
    BORDER-left: #c6c6c6 1px solid;
    BORDER-right: #c6c6c6 1px solid;
    border-collapse: collapse;
    } 
    
  .generalTable th{
    padding-left: 2px;
    padding-right: 5px;
    background-color: #eaeff2;
    text-align: right;
    font-weight: bold;
    width:10%;
    }
    
    tr{
      BORDER-bottom: #b9cbd9 1px solid;
    }
    
    table{
      border-spacing: 0px;
      }
    
  
  #nttCn{
    width:99%;
  }

/* 조회 테이블 */
.table-search{border-collapse: collapse; border:0;}
  .table-search th{ padding-left:2;padding-right:2; Text-align: center ; }
  .table-search td{ padding-left:2;padding-right:2; vertical-align:middle}
  .table-search td img { vertical-align:middle}


/* 투명 테이블 */
.table-trans  {BORDER-LEFT: 0px solid;BORDER-RIGHT:0px solid; BORDER-BOTTOM:0px solid; BORDER-TOP:0px solid; border-collapse:collapse;}
.table-trans td{border:0px solid;padding-top:0;padding-bottom:0;padding-left:0;padding-right:0;border:0px solid;border-collapse: collapse;}

.divDotText {overflow : hidden;}
.error      {color : #ff0000;}
.txaClass   {width : 95%;}
.txaIpt     {width : 95%;}
.txaIpt60   {width : 60px;}

/* 버튼 이미지 */
.btnBackground {background-image : url('/Theme/images/bbs/bu2_bg.gif');}

.btnNew {
border : 0 solid #000;
color : #000000;
background-image : url(/Theme/images/egovframework/btn/bu2_bg.gif);
cursor : pointer;
}
/* border */

.detail_box
{
	float:left;
	border-top:2px solid #7095b2;
	border-bottom:2px solid #b9cbd9;
	border-collapse:collapse;
	auto !important;
}


.search_date{
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #aab2bb;
  /*border-color: #c0dade;*/
  background-color: #ffffff; 
  height:16px;
  margin:0px 0px 0px 0px;
  padding:1px 0px 1px 2px;
  /*margin:0px 0px 2px 1px;  padding:0px 1px 1px 1px;*/
  text-align:left;
  vertical-align:middle;
  color:#000000; 
}

.detail_date
{
  width:80px;
  text-align:center;
  padding:1px 1px 1px 1px;
}

button {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.listTable td, .listTable th {
  padding: 10px 0;
}

#bbs_cn {
  line-height: 160%;
  min-height: 300px;
}

.generalTable td {
  padding: 8px !important;
}

.table-search td {
  padding: 15px;
}

#searchWrd {
  height: 16px;
  padding: 1px;
}