/*
  Css Name : button.css
  Description : 버튼 CSS
  Modification Information

      수정일        수정자          수정내용
    ----------     --------    ---------------------------
    2008.10.15		장동한			최초 생성
    2011.08.24		이기하			이미지 경로 수정

    author   : 공통컴포넌트 개발팀 장동한
    since    : 2008.10.15
*/

.bbsbutton, .bbsbutton a, .bbsbutton button, .bbsbutton input {
position : relative;
margin : 0;
display : inline-block;
border : 0;
white-space : nowrap;
vertical-align : middle;
overflow : visible;
}

.bbsbutton {
height : 20px;
padding : 0;
text-align : center;
margin-right : 2px;
background-position : left top;
}

.button, .button a, .button button, .button input {
position : relative;
margin : 0;
display : inline-block;
border : 0;
white-space : nowrap;
vertical-align : middle;
overflow : visible;
}

.button {
height : 20px;
padding : 0;
text-align : center;
margin-right : 2px;
background-position : left top;
}
.button a, .button button, .button input {
left : 2px;
cursor : pointer;
}
.button a, .button button, .button input {
height : 20px;
padding : 0 8px 0 8px;
line-height : 20px;
background-position : right top;
}
.button, .button a, .button button, .button input {
background-image : url(/Theme/images/bbs/bu2.jpg);
color : black;
}
.button *:hover, .button *:active, .button *:focus {
color : red;
}
.button a {
padding : 0 10px 0 10px;
}
.link, .link a, .link button, .link input {
border-style : none;
background-color : transparent;
cursor : pointer;
}
.link, .link a, .link button, .link input {
color : black;
}
.link *:hover, .link *:active, .link *:focus {
color : red;
}

.btnNew {
border : 0 solid #000;
color : #000000;
background-image : url(/Theme/images/bbs/bu2_bg.gif);
cursor : pointer;
}
form {
margin : 0;
}

.invisible {
width:0px;
height:0px;
visibility: hidden;
}


button {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
input[type="button"].btn-block {
  width: 100%;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
button {
  align-items: flex-start;
  box-sizing: border-box;
}
