/*
/**
  * @Class Name : com.css
  * @Description : 공통 CSS
  * @Modification Information
  * @
  * @  수정일        		 수정자                   수정내용
  * @ -------    --------    ---------------------------
  * @ 2013.03.03    박영찬        최초 생성
  * @
  */


body {margin:0; padding:0; font-family:'Nanum Gothic'; font-size:12px; color:#666; scroll:auto;}
table, tr, td, th {font-family:나눔고딕,NanumGothic,'Nanum Gothic', Dotum, Gulim, verdana, arial, sans-serif; font-size:11px; color:#333333;}

td {font-family:나눔고딕,NanumGothic,'Nanum Gothic', Dotum, Gulim, verdana, arial, sans-serif !important; font-size: 9pt; color:#595959; font-weight:normal;}
th {font-family:나눔고딕,NanumGothic,'Nanum Gothic', Dotum, Gulim, verdana, arial, sans-serif !important; font-size: 9pt; color:#000000; font-weight:normal;}

img { border : 0; }
table { margin : 0; padding : 0; }

.checkbox {
background-color : #fff;
}
.check2
 { color:#000000;
    padding-left:2;
    border-color:#9CBED3;
    background-color:transparent!important;
    border-style:none !important;}

.radio
 { color:#000000;
    padding-left:2;
    border-color:#9CBED3;
    background-color:#EAEAEA!important;
    border-style:none !important;}

.radio2
 { color:#000000;
    padding-left:2;
    border-color:#9CBED3;
    background-color:#EAEAEA!important;
    border-style:none !important;}

.LoginIdText {
margin-top : 80px;
font-size : 12px;
font-family:나눔고딕,NanumGothic,'Nanum Gothic', Dotum, Gulim, verdana, arial, sans-serif !important;
width : 180px;
}

.LoginPassText {
font-size : 12px;
font-family:나눔고딕,NanumGothic,'Nanum Gothic', Dotum, Gulim, verdana, arial, sans-serif !important;
width : 180px;
}

.LoginJoinBtn {
margin-top : 5px;
margin-left : 400px;
font-size : 12px;
font-family : 나눔고딕,NanumGothic,'Nanum Gothic', Dotum, Gulim, verdana, arial, sans-serif;
width : 180px;
}

#header {height:74px;}
#footer{clear:both;width:100%;font-size:100%;border-top:2px solid #dddddd;}
#topmargin { width:100%; height:0px;}
#topmenu { width:100%; *width:2000px; height:50px; background:url("/Theme/images/menu/menu_bg.jpg") repeat-x; display:inline-block;}
#mainmenu { position:absolute; top:0; left:154px; margin:0 ; padding:0; width:1020px;height:50px; display:inline-block;overflow:hidden;}
#complogo { position:absolute; top:0; left:0; margin:0; padding:0; text-align:left; vertical-align:center; width:154px; height:50px; display:inline-block;}
#mymenu { position:absolute; top:49px; left:-2px; margin:0; padding:0; width:179px; height:26px; z-index:30;}
#userinfo { position:absolute; top:0; right:0; margin:0; padding:0; text-align:center; vertical-align:top; width:435px; height:16px;}
#userinfo2 { position:absolute; top:-35px; right:0px; margin:0; padding:0; width:43px; height:27px; vertical-align:middle; display:inline-block;z-index:10;}
#userinfo3 { position:absolute; top:0px; right:0px; margin:0px; padding:0px; width:423px; height:15px;display:block;z-index:20;overflow: hidden; background:url("/Theme/images/menu/dot_bg.png") 0 0 no-repeat;}
#userinfo4 { margin:0; padding:0; width:100%; display:inline-block;overflow: hidden;color:#000; font-size: 0.95em; text-align: center;}
#userinfo4 a {display:inline-block;color:#043db1;padding:0 5px; font-size: 0.95em;}
#userinfo4 span {margin:0 5px;color:#000; font-size: 0.95em;}
#userinfo4 .userId {color:#00297b;}
#username { margin:0; padding:0; text-align:center; background:url("/Theme/images/menu/top_bg.png") repeat-x; vertical-align:top; width:150px; height:16px; display:inline-block;}
#wrap{margin-left:0px;width:100%;background: url("/Theme/images/error/background_sky.jpg") no-repeat 0 0;height:59px;}
#content_pop {float:left; text-align:left; /*overflow:hidden;*/width:680px; background-color:#ffffff; padding:10px 10px 10px 10px;}
#container{float:left;width:100%; margin-top:0px;min-height:440px; height:auto !important; height:440px;}
#mopaslogo{padding-top:10px;padding-left:10px;overflow: hidden;}
#copyright{float:left;font-size:90%;padding-top:20px;padding-left:20px; letter-spacing: -1px;}
#logoarea{float:left;padding-left:10px;}
#languagearea{width:890px;padding-top:20px}
#langImg{float:right;padding-left:10px;}
#mdimenu{float:left;width:100%; margin-top:0px; height:auto !important; height:40px;}
#mdimenu .tabName {color:#fff;font-weight:bold;padding-left:8px}
#project_title{float:left;padding-top:7px;padding-left:14px;font-size:130%;letter-spacing:-1px;}
#project_title .maintitle{color:#e68c0d;font-weight:bold;}
#logo {margin:0; padding:0; text-align:left; /*overflow:hidden;*/ width:910px;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	#userinfo4 { margin-top: -2px;}
}

.menu_mid 
{
	font-size:12px; font-family: 'NanumGothic', '나눔고딕','NanumGothic', '맑은 고딕', 'Malgun Gothic', 'Dotum'; 
	color:#000; text-decoration:none; 
	font-weight:bold; line-height:100%; 
	padding:7px 8px 0; text-align:left; 
	min-width:50px; min-height:15px;
}
.menu_mid:hover 
{
	cursor:pointer;
}
.menu_mid > img
{
	border:0;
	margin-top:-1px;
	margin-left:5px;
	visibility:hidden;
}
.menu_btm	
{
	list-style:none;
	background-color:#ffffff;
	width:100%;
	font-weight:normal;  
	min-width:160px;
	word-wrap:normal;
}
.menu_btm	>	li 
{
	font-size:12px; font-family: 'NanumGothic', '나눔고딕','NanumGothic', '맑은 고딕', 'Malgun Gothic', 'Dotum'; 
	color:#777777; text-decoration:none; 
	line-height:100%; 
	min-height:14px; padding:5px 0px 0px 3px;
    min-width:160px; 
	border-style:solid;
	border-width:1px;
	border-color:#ffffff;
	border-bottom-color:#b7dcb7; 
}
.menu_btm	>	li:hover 
{
	cursor:pointer;
	color:#333;
	background-color:#effdea;
}

.menu_btm > li	> ul 						
{ 
	list-style: none; 
	background-color:#ffffff;
	width:100%;	
	min-width:160px; 
	visibility: hidden; 
	word-wrap:normal;
	position: absolute; 
	top: 100%; 
	left: 0; 
	border:2px solid #01a300;	
}

.menu_btm > li	> ul > li				
{ 
	font-size:12px; font-family: 'NanumGothic', '나눔고딕','NanumGothic', '맑은 고딕', 'Malgun Gothic', 'Dotum'; 
	color:#777777; text-decoration:none; 
	font-weight:normal; 
	line-height:100%; 
	min-height:14px; padding:5px 0px 0px 3px;
	min-width:160px; 
	border-style:solid;
	border-width:1px;
	border-right: none; 
	border-color:#ffffff;
	border-bottom-color:#b7dcb7; 
	
}

/* IE 6 & 7 Needs Inline Block */
.menu_btm > li	> ul > li > a
{ 
	border-right: none; 
	width: 100%; 
	display: inline-block; 
} 

.menu_btm > li > ul
{
	top: -2px;
	left: 100%; 
}
.menu_btm  > li:hover > ul
{ 
	visibility: visible; 
}

.menu_btm >	li	> ul >	li:hover 
{
	cursor:pointer;
	color:#333;
	background-color:#effdea;
}

