@charset "utf-8";
/* Type Selector */
*{margin:0; padding:0;margin:0; padding:0;}
img, fieldset, button{border:none;}
li{list-style-type:none;}
hr, button img{display:none;}
a{text-decoration:none;}
a:hover, a:active, a:focus{text-decoration:none;}
textarea{overflow:auto;}
legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;} /* For Screen Reader */
caption{display:none;}
img{border:0; vertical-align: middle;}
html, body{margin:0; padding:0; height: 100%;width: 100%;}
body, input, button, select, input, textarea, td, th {
    color: #666666;
    font: 12px Malgun Gothic,Gulim,Tahoma,Sans-serif;
}
h1{font-family:"Malgun Gothic", Gulim, AppleGothic, Sans-serif; font-size:13pt;}
h2{  color: #727272;
    font-size: 1.4em;
    line-height: 1.125em;
    margin: 1.125em 0 0.208em;}
    
h3 {font-size: 1.333em;
    line-height: 1.125em;
    margin: 1.688em 0 0.3125em;
}
input.text {
    border-color: #ACACAC #D9D9D9 #D9D9D9 #ACACAC;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    color: #848484;
    font-size: 11px;
    height: 15px;   
    padding: 3px 0 0 3px;}

input{
    color: #67625C;
    font-family: Malgun Gothic;
    font-size: 1em;
    vertical-align: middle;
}
select {
    color: #444444;
    font-size: 100%;
    height: 21px;
    vertical-align: middle;
}

#LoginStatus fieldset{border:3px solid #C9E8F3;padding:5px;width:160px;margin-left:12px;margin-top:20px;height:60px;;display:inline;}
#LoginStatus ul li{padding-bottom:5px;}
.t2_leftdiv{float:left;}
.t2_rightdiv{float:right;padding-right:25px;}
/* Main wrap */
#mainview_title_img{padding-top:10px;padding-left:10px;}
#main_container{clear:both;width: 996px; height: 535px;}
#mainview_wrap{float:left;height:302px;}

/* Main left board */
#main_leftcontent{width:400px;float:left;margin-left:10px;margin-top:20px;display:inline; height:100px;}
#main_leftcontent .left_board01{background: url("/Theme/images/index/bg_board01.gif") no-repeat ; float:left;width:408px; height:111px; display:block;}
#main_leftcontent .left_board01 ul{list-style-type:none;padding-left:10px;}
#main_leftcontent .left_board01 li{padding-bottom:10px;}

#main_leftcontent .left_board02{background: url("/Theme/images/index/bg_board02.gif") no-repeat ;float:left; width:408px; margin-top:8px; height:186px;}
#main_leftcontent .left_board02 ul{list-style-type:none; padding-left: 10px; padding-bottom:2px;}
#main_leftcontent .left_board02 ul li{line-height:20px; display:inline; vertical-align: middle;}

.dot_bl{float:left; background: url("/Theme/images/bl_dotblack.gif") no-repeat ; background-position: 0px 8px; padding-left:8px; vertical-align: middle; width:270px; text-align: left;}
.lcount{float:right; padding-right: 20px;}
.dot_bl2{float:left; background: url("/Theme/images/bl_grayarrow.gif") no-repeat ; background-position: 0px 3px; padding-left:8px;  vertical-align: middle; width:310px;  text-align: left; padding-bottom:10px;}
.rwriter{float:left; width:80px;}
.rdate{float:left;color:#959595}
.new{float:left; padding-left:10px;width: 40px;}

.board_title{padding-left:10px;padding-top:10px; height:34px; }
.board_title2{background: url("/Theme/images/bl_underline2.gif") no-repeat ; background-position: 0px 30px;padding-top:10px; height:34px; }
.more{float:right; padding-right: 5px;}

/* Layout */
#pop_wrap{margin-left:0px;width:100%;background: url("/Theme/images/egovframework/body/background_sky.jpg") repeat-y scroll 0 0;height:37px;}
#pop_container{float:left;width:100%; margin-top:0px;min-height:180px; height:auto !important; height:180px;}

/* Main right board */
#main_rightcontent_wrap{float:left;padding-left:18px;}
#main_rightcontent{background: url("/Theme/images/index/bg_board03.gif") no-repeat ;float:left;width:545px; height:302px; margin-top:20px;padding-left:10px; vertical-align: middle;display:inline;} 
#main_rightcontent ul{list-style-type: none; padding-bottom:5px;} 
#main_rightcontent li{display:inline;}

#main_container a:link {
    color: #666666;
    letter-spacing: -1px;
    text-decoration: none;
}
#main_container a:visited {
    color: #666666;
    letter-spacing: -1px;
    text-decoration: none;
}

#main_container a:active {
    color: #155AC6;
    letter-spacing: -1px;
    text-decoration: none;
}
#main_container a:hover {
    color: #155AC6;
    text-decoration: none;
}

#header{padding-top:5px;}
#logoarea{float:left;padding-left:10px;}
#project_title{float:left;padding-top:7px;padding-left:14px;font-size:130%;letter-spacing:-1px;}
#project_title .maintitle{color:#e68c0d;font-weight:bold;}
#list_div {}
#list_div th{font-size:100%;}
#list_div td{font-size:100%;}

#search_field{clear:both;float:left;width:400px;padding-left:5px;}
#search_field_loc{padding-top:5px;padding-bottom:5px;}
#search_field h1{display:inline;padding-top:40px;background: url("/Theme/images/bbs/bg_h2.gif") no-repeat;
background-position: left center;padding-left:10px;padding-top:2px;letter-spacing:-1px;}

#search_field fieldset{border:1px solid #E1E1E1;padding:7px;}
.sf_start{padding-bottom:5px;padding-top:5px;}
/* Layout */
#wrap{margin-left:0px;width:100%;background: url("/Theme/images/body/background_sky.jpg") no-repeat left top transparent;height:59px;}
#topnavi{float:left;background-color:#0f438a; width:100%;height:40px;margin-top:10px;}
#topnavi ul{list-style-type:none;padding-top:13px;padding-left:0px;}
#topnavi li{display:inline;font-size:13px;color:#727272;font-weight:bold;padding-right:10px;padding-left:10px;}
#topnavi a{color:#a7ccff;}
#topnavi a:hover{color:#ffffff;}
#container{float:left;width:1100px; margin-top:0px;min-height:440px; height:auto !important; height:440px;}
#leftmenu{float:left;width:200px;min-height:440px; height:auto !important; height:100%; }
#content{float:left;min-height:441px; height:auto !important; height:441px;padding-left:15px;padding-bottom:10px; border-left:1px solid #dddddd; width:600px; }
#footer{clear:both;width:100%;font-size:100%;border-top:2px solid #dddddd;}
#mopaslogo{float:left;padding-top:10px;padding-left:10px;}
#copyright{float:left;font-size:90%;padding-top:20px;padding-left:20px; letter-spacing: -1px;}

/* content area */
#cur_loc{clear:both;float:left;border-bottom:1px solid #e1e1e1;width:800px;}
#cur_loc_align{float:right; }
#cur_loc ul{list-style-type:none;padding-top:13px;padding-right:10px; letter-spacing: -1px;}
#cur_loc li{display:inline;font-size:90%;color:#727272;padding-right:1px;padding-left:1px;}

#nav{margin-left:10px;margin-top:10px;margin-bottom:10px;background: url("/Theme/images/leftmenu/leftmenu_repeat.gif") repeat-y scroll 0 0 transparent; margin-bottom: 10px;}
.bottom{ 
   background: url("/Theme/images/leftmenu/leftmenu_bottom.gif") no-repeat scroll left bottom transparent;
    padding: 0px 3px 3px 15px;height:10px;}
.top{
   background: url("/Theme/images/leftmenu/leftmenu_top.gif") no-repeat scroll left top transparent;
    padding: 0px 3px 3px 15px;height:10px;}	
#nav ul{list-style-type:none;}
#nav a{}
#nav ul li{
	background: url("/Theme/images/leftmenu/bl_depth01.gif") no-repeat 140px 8px;
    border-top: 1px solid #EAEAEA;
    padding: 4px 6px 1px;} 
#nav ul li ul{border-top: 1px solid #EAEAEA;}
#nav ul li ul li {
background: url("/Theme/images/leftmenu/snbmenu_brd.gif") no-repeat scroll 0 11px transparent;
border: medium none;
font-size: 0.92em;
line-height: 1.27em;
margin: 0; background-color:#f2f2f2;
}
.nav_style{width:150px;padding-left:14px;min-height:420px}
.leftmenu_dept01 a{font-weight:bold;}

.leftmenu_dept01 a:link {
    color: #666666;
    letter-spacing: -1px;
    line-height: 180%;
    text-decoration: none;
}
.leftmenu_dept01 a:visited {
    color: #666666;
    letter-spacing: -1px;
    line-height: 180%;
    text-decoration: none;
}

.leftmenu_dept01 a:active {
    color: orange;
    letter-spacing: -1px;
    line-height: 180%;
    text-decoration: none;
}
.leftmenu_dept01 a:hover {
    color: orange;
    letter-spacing: -1px;
    line-height: 180%;
    text-decoration: none;
}

.dept02 a{font-weight:normal;}
.dept02 a:link {
    color: #666666;
    font-size: 11px;
    letter-spacing: -1px;
    line-height: 180%;
    text-decoration: none;
}
.dept02 a:visited {
    color: #666666;
    font-size: 11px;
    letter-spacing: -1px;
    line-height: 180%;
    text-decoration: none;
}

.dept02 a:active {
    color: blue;
    font-size: 11px;
    letter-spacing: -1px;
    line-height: 180%;
    text-decoration: none;
}
.dept02 a:hover {
    color: blue;
    font-family: "Malgun Gothic";
    font-size: 11px;
    letter-spacing: -1px;
    line-height: 180%;
    text-decoration: none;
}

#h2_topnav{padding-top:10px;}
#login_title_div{clear:both;float:left;padding-top:20px;padding-bottom:10px;}
#paging_div{clear:both;position:relative;width:650px;}
#paging_div .paging_align{
	clear: both;
    margin: 0 auto;
    padding-top: 16px;
    text-align: center;
    width: 650px;}
.paging_align .first{border:medium none;padding:0px;}
.paging_align li{display:inline;border-right:1px solid #dddddd;padding-left:3px;padding-right:10px; vertical-align:middle;}
.paging_align li a{color:#666666;}
.paging_align li a:hover{color:#0958A5;font-weight:bold;}
.paging_align a:active{color:#0958A5;} 
.paging_align a:visited{color:#0958A5;}

.btn_style01{font-family:"Malgun Gothic", Gulim, AppleGothic, Sans-serif; font-size:13pt;background:none;}

#search_first_ul {padding-bottom:5px;padding-left:5px;}
#search_first_ul li{display:inline;padding-right:5px;}
#search_first_ul label{font-weight:bold;color:#666666;font-size:100%;}
#search_first_ul input{margin-right:2px;}
#search_second_ul {padding-left:5px;}
#search_second_ul li{display:inline;}
#search_second_ul label{font-weight:bold;color:#666666;font-size:100%;}
#search_second_ul input{margin-right:3px;}

#page_info{clear:both;width:800px;padding-top:5px;padding-bottom:3px;} 
#page_info_align{float:right;}
.default_tablestyle {
	clear:both;
    color: #666666;
    float: left;
    line-height: 18px;
    padding-top: 4px;
}
.default_tablestyle table {
	font-size:90%;
    table-layout: fixed;
    text-align: center;
    width: 800px;
}
.default_tablestyle table th {
    border-bottom: 1px solid #c6c6c6;
    border-top: 2px solid #7095b2;
    color:#000;
 	background-color: #edeef0;
    height: 26px;
}
.default_tablestyle table td {
    border-bottom: 1px solid #dddddd;
    line-height: 28px;
    overflow: hidden;
    padding-left: 0px;
    white-space: nowrap;
    width: 100%;
}
.default_tablestyle a {
    color: #666666;
}
.default_tablestyle a:link, a:visited {
    color: #666666;
}
.default_tablestyle a:hover {
    color: #1F58B1;
    text-decoration: underline;
}
.default_tablestyle .align_left_text {
    float: left;
    padding-left: 3px;
}
.modify_user table{clear:both; width:375px;    border: 0px solid #dddddd;
    line-height: 28px;
    overflow: hidden;
    padding-top:10px;
    padding-left:10px;
    padding-bottom:10px;
white-space: nowrap;}
.modify_user table th {background-color:#f2f2f2;border:1px solid #dddddd;
    color:#0f438a;
    height: 26px;
}
.modify_user table td{background-color:#ffffff;border:1px solid #dddddd;
    color:#0f438a;
    height: 26px;padding-left:10px;}

.modify_user table td input{background-color:#ffffff;border:1px solid #dddddd;
    height: 18px; border: 1px solid #CCCCCC; margin: 0px; padding: 0px; }

/* btn */
.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dddddd;
    font-size:110%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons a:hover{color:#4786AD;}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

.popop_detail table{clear:both; width:600px;    border: 1px solid #dddddd;
    line-height: 28px;
    overflow: hidden;
    white-space: nowrap;}
.popop_detail table th {background-color:#f2f2f2;border:1px solid #dddddd;
    color:#0f438a;
    height: 26px;
}
.popop_detail table td{background-color:#ffffff;border:1px solid #dddddd;
    color:#0f438a;
    height: 26px;padding-left:10px;}
    
.invisible {
width:0px;
height:0px;
visibility: hidden;
}    