﻿body, html, div, a, * {
  /* color: #494949; */
  font-family: 'Malgun Gothic', 'NanumGothic';
}

html, body, div, span, ul, li, ol, p, img, fieldset, legend, form, input, select, textarea, object, button, a, table, th, td, dl, dt, dd, h1, h2, h3, h4, h5,
.slick-cell, .slick-cell p {
  font-family: 'Malgun Gothic', 나눔고딕, NanumGothic,'Nanum Gothic', Dotum, Gulim, verdana, arial, sans-serif !important;
}

/* Auth Button */
/*
#buttons li a.save      { background: url(/theme/images/btn/buttons_hitech.png) no-repeat; }
#buttons li a.retrieve  { background: url(/theme/images/btn/buttons_hitech.png) no-repeat; }
#buttons li a.insert    { background: url(/theme/images/btn/buttons_hitech.png) no-repeat; }
#buttons li a.append    { background: url(/theme/images/btn/buttons_hitech.png) no-repeat; }
#buttons li a.duplicate { background: url(/theme/images/btn/buttons_hitech.png) no-repeat; }
#buttons li a.delete    { background: url(/theme/images/btn/buttons_hitech.png) no-repeat; }
#buttons li a.print     { background: url(/theme/images/btn/buttons_hitech.png) no-repeat; }
#buttons li a.excel     { background: url(/theme/images/btn/buttons_hitech.png) no-repeat; }
#buttons li a.close     { background: url(/theme/images/btn/buttons_hitech.png) no-repeat; }
*/

#xbtns {
  margin-top: 2px;
}

#userxbtns {
  padding-top: 2px;
}

#buttons li {
  width: auto;
  padding-left: 2px;
  padding-right: 0px;
  margin: 0px;
}

#buttons .btn-circle-help {
  width: 20px !important;
  height: 20px !important;
  text-align: center !important;
  padding: 0 !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  border-radius: 8px !important;
  margin-top: 2px !important;
}

.option_box, .option_box2 {
  border-width: 1px;
  border-color: #e7e7e7;
}

.option_label, .option_label_check, .option_label_left, .option_label_left_check {
	text-align: center;
  background-image: none;
  background-color: #f7f7f7;
  border-color: #e7e7e7;
  color: #494949;
}

.search_input_bg, .option_input_bg {
  background-color: #fff;
  border-color: #e7e7e7;
}

.option_input, .option_input_fix, .option_input_last, .option_input_fix_last, .option_amt, .option_date, .option_yyyy, .option_yymm, .search_input, .search_input_fix, .search_input_last, .search_input_fix_last, .search_amt, .search_date, .search_yyyy, .search_yymm, select {
  border-color: #d5d5d5;
}

.detail_row {
  height: 27px !important;
  margin-bottom: 0px;
}

.detail_box {
  border-color: #d0d0d0; /* #bfcfdf #cedcef; (2017.01.07) */
  border-top: 1px solid #d0d0d0; /* #bfcfdf #cedcef; (2017.01.07) */
  border-bottom: 1px solid #d0d0d0; /* #bfcfdf #cedcef; (2017.01.07) */
  margin: 0;
}

.detail_line {
  border-color: #bfcfdf; /* #cedcef; (2016.12.29) */
}

.detail_label, .detail_label2, .detail_label3, .detail_label_check, .detail_label_check2, .detail_label_check3, .detail_label_left, .detail_label_left2, .detail_label_left3, .detail_label_left_check, .detail_label_left_check2, .detail_label_left_check3 {
  color: #555;
  background-image: none;
  background-color: #f3f5f3;  /* #f7f7ef; (2016.12.29) */
  border-color: #d0d0d0; /* #bfcfdf #DFE0E0; (2017.01.07) */
  height: 26px;
}

input[readonly="readonly"], input[readonly], input[disabled], select[readonly="readonly"], select[readonly], select[disabled], textarea[readonly="readonly"], textarea[readonly], textarea[disabled], input[type="text"][disabled], input[type="text"][disabled="disabled"] {
  background: none;
  background-color: #fafafa;
}

.detail_box.ver2 input[type="text"], .detail_box.ver2 select { 
  height: 20px;
}

.detail_box input[type="checkbox"], .detail_box input[type="radio"] {
  margin-top: 0 !important;
}

.detail_input, .detail_input_fix, .detail_date, .detail_amt, .detail_hhmm, .detail_float1, .detail_float2, .detail_float3, .detail_float4, .detail_cust, .detail_register, .detail_zipcode, .detail_hhmm {
  border-color: #d5d5d5;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: none;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
}

.ui-button .ui-button-text {
  font-family: Dotum !important;
  font-size: 11px;
  color: #454545;
}

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
    padding: .45em 1em .4em 2.1em;
}

.ui-button.ui-state-hover, .ui-button.ui-state-focus {
  background: none;
  border-color: #cfcfcf;
  box-shadow: none;
}

/* FREEFORM 관련 - 나중에 모둘로 빼나? - start */
.detail_box {
  border: 0;
}

.detail_box .dbox_row {
  display: table;
  width: 100%;
  margin-bottom: 6px;
}

.detail_box div, .detail_box label {
  display: table-cell;
}

.detail_box label {
  text-align: right;
}

.detail_box input[type=text], .detail_box select {
  width: 100%;
  border: 1px solid #e6e6e6;
}

.panel {
  margin-bottom: 10px !important;
}

.panel-body {
  padding: 10px 15px 5px 10px !important;
}
/* FREEFORM 관련 - 나중에 모둘로 빼나? - end */

.btn-group-sm > .btn {
  /* padding: 2px 8px !important; */
  font-size: 11px !important;
}

.btn-sm {
  padding: 2px 8px !important;
  font-size: 12px !important;
}

.ui-dialog .ui-dialog-titlebar-close span { display: block; }


.thumb-item{border:1px solid #ddd;border-radius:4px;background:#fff;margin:0px 10px 10px 0px;list-style-type:none;float:left;font-size:15px;text-align:center;overflow:hidden;position:relative;-webkit-transition:all 500ms ease-out;-moz-transition:all 500ms ease-out;-ms-transition:all 500ms ease-out;-o-transition:all 500ms ease-out;transition:all 500ms ease-out;}
.thumb-item:hover{-webkit-box-shadow:0px 3px 7px 0px rgba(50,50,50,0.4);-moz-box-shadow:0px 3px 7px 0px rgba(50,50,50,0.4);box-shadow:0px 3px 7px 0px rgba(50,50,50,0.4);}
.thumb-item::before{content:none!important;}
.thumb-item .thumb-title{position:absolute;text-align:left;font-size:17px;font-weight:500;left:0;bottom:0;width:100%;background:#f9f9f9;padding:7px 10px;min-height:50px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.thumb-item .thumb-title a{color:#777;}
.thumb-item img{width:95%;margin-top:5px;}


.slick-group-totals p {
  font-weight: bold;
}


/* 합계 트릭 */
.slick-footer-columns p {
  line-height: 20px !important;
}
.slick-footer-columns>.slick-header-column.ui-state-default.slick-2line {
  line-height: 20px !important;
}

