body {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}

#pageLayout {
  margin-top: 74px;
}

#pageLayout, #div_cont {
  background-color: #ebeff2;
}

nav.navbar {
  height: 82px;
  background-color: #fff;
}

nav.navbar .container.top-line {
  height: 6px;
  background: url(/Theme/images/menu/bg_brand_noframe.gif) no-repeat top left;
}

nav.navbar.navbar-default {
  background: url(/Theme/images/menu/bg_noframe.gif) repeat-x top #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

nav.navbar .navbar-nav a {
  font-size: 1.1em;
  color: #403e3f;
  font-weight: 700;
  background-color: transparent;
}

nav .navbar-brand {
  padding: 0;
  margin: 8px 0 18px 6px;
}

nav .navbar-collapse {
  background-color: #f0f0f0;
}

#main-menu {
  margin-top: 10px;
  margin-left: 10px;
}

#main-menu li a.dropdown-toggle {
  font-size: 16px;
}

.navbar-right {
  margin-top: 10px;
}

.navbar-toggle {
  margin-top: 18px;
}

.panel {
  border-radius: 0;
}

.form-group-sm select.form-control, select.form-control.input-sm {
  padding: 3px 5px;
  height: 26px;
}

.page-header {
  margin: 25px 0 0;
  /* padding-bottom: 6px;
  border-bottom: 1px solid #ccc; */
}

.page-header h4 {
  font-weight: 700;
}

body { font-size: 13px; }
#div_cont .container { /* background: url(/Theme/images/menu/bg_left.gif) repeat-y left; */ height: 100%; min-height: 720px; }
#div_cont .table th, #div_cont .table td { text-align: center; vertical-align: middle; }
#div_cont .table th { background-color: #fcf8e3; }
#div_cont .table td.active { background-color: #fcfcfc; color: #666; font-weight: 700; }
#div_cont .table td.active2 { background-color: #e9e9e9; color: #999; }
#div_cont input[type="checkbox"].form-control { width: auto; }
#div_cont .table td.text-left { text-align: left; }
#div_cont .table td.text-right { text-align: right; }
#div_cont .table td.notice-title { padding-left: 20px; }
#xbtns { margin-top: -8px; }
.checkbox input { margin-left: -16px !important; }
.panel-heading { color: #3c763d; font-size: 14px;  }
.panel-body { min-height: 360px; padding: 20px !important; }

#div_cont .col-sm-2 h5 { color: #fff; margin-top: 70px; }
#div_cont .col-sm-2 h5 i { color: #fff; }
#div_cont .col-sm-10 { padding-top: 40px; }

#div_cont .yyyymm-title { float: left; margin-right: 15px; }
#div_cont .form-inline label { margin-right: 15px; }

.modal-footer { text-align: center; }
#amtconfModal .modal-body span.buy-amt { display: inline-block; width: 100px; font-weight: 700; text-align: right; }
#amtconfModal .modal-body #mdetail-list th { text-align: center; }
#amtconfModal .modal-body #mdetail-list .item-print { font-weight: 700; padding-right: 10px; }
#amtconfModal .modal-body #mdetail-list .item-roll { font-weight: 700; text-align: center; }
#amtconfModal .modal-body #mdetail-list .item-board { font-weight: 700; text-align: center; }
#amtconfModal .modal-body #mdetail-list .item-qty { font-weight: 700; text-align: center; }
#amtconfModal .modal-body #mdetail-list .item-ucost { font-weight: 700; text-align: right; }
#amtconfModal .modal-body #mdetail-list .item-amt { font-weight: 700; text-align: right; }
#amtconfModal .modal-body #mdetail-list .tr-sum td { border-bottom: 1px solid #ddd; font-weight: 700; }

#mdetail-list .item-title { width: 100px; font-weight: 700; text-align: right; }

#div_cont .detail-table td.ditem-no, #div_cont .detail-table th.ditem-no { width: 40px; text-align: right; }
#div_cont .detail-table td.ditem-div, #div_cont .detail-table th.ditem-div { }
#div_cont .detail-table td.ditem-amt, #div_cont .detail-table th.ditem-amt { width: 160px; }
#div_cont .detail-table td.ditem-info, #div_cont .detail-table th.ditem-info { width: 300px; padding-left: 20px; }
#div_cont .table td.odate, #div_cont .table th.odate { width: 90px; }
#div_cont .table td.oitem_name, #div_cont .table th.oitem_name { width: 80px; }
#div_cont .table td.oitem_material, #div_cont .table td.oitem_qty { width: 80px; }
#div_cont .table td.oitem_ucost, #div_cont .table th.oitem_ucost { width: 100px; text-right; }
#div_cont .table td.deliv-no { width: 30px; text-align: center; }
#div_cont .table td.deliv-date { width: 80px; text-align: center; }
#div_cont .table td.deliv-item { width: 70px; text-align: center; }
#div_cont .table td.deliv-type { width: 70px; text-align: center; }
#div_cont .table td.deliv-from { width: 220px; text-align: left; }
#div_cont .table td.deliv-to { width: 220px; text-align: left; }
#div_cont .table td.deliv-amt { width: 120px; text-align: right; }

#div_cont .table tr.detail-info td { border-top: 1px dotted #ccc; background-color: #f5f5f5; }

.dropdown-menu:before {
  display: none;
}
.input-sm {
  height: 26px;
  padding: 3px 10px;
}

@media (min-width: 768px) {
  nav .navbar-collapse {
    background-color: transparent;
    margin-top: 3px;
  }
}

@media (min-width: 768px) {
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -8px;
  }
}

@media (min-width: 992px ) and (max-width: 1200px) {
  #div_cont .container {
    background-position: -30px 0;
  }
}

@media (min-width: 768px ) and (max-width: 991px) {
  #div_cont .container {
    background-position: -66px 0;
  }
}

@media (max-width: 767px) {
  #div_cont .container {
    background-position: -1000px 0;
  }
  #div_cont .container .col-sm-2 {
    text-align: left;
  }
  #div_cont .container .col-sm-2 h5, #div_cont .container .col-sm-2 i {
    color: #999;
    margin-top: 10px;
  }
  #div_cont .container .col-sm-10 {
    padding-top: 10px;
  }
}