h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Muli", "Helvetica", Arial, sans-serif, "Malgun Gothic";
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.badge-danger {
  background-color: #ac2925;
}

.main-panel {
  width: calc(100% - 220px);
}

.sidebar-wrapper {
  background-color: #2a3f54;
  box-shadow: inset -1px 0px 0px 0px #DDDDDD;
}

.sidebar .sidebar-wrapper {
  width: 220px;
}

.sidebar, .off-canvas-sidebar {
  /* width: 220px; */
}

.sidebar .logo {
  /*padding: 10px 0;*/
  width: 190px;
  height: 74px;
  background-color: #FFFFFF;
  margin: 0px 0px 0px 0px;
}

.off-canvas-sidebar .logo {
  padding: 10px 0;
}


.sidebar-wrapper ul.nav li > a, .sidebar-wrapper ul.nav li.active > a {
  line-height: 20px;
  margin-bottom: 0;
  padding-bottom: 6px;
}

.sidebar-wrapper ul.nav li:not(.active) > a p {
  color: #fff;
}

.sidebar-wrapper ul.nav li.level3 > a, .sidebar-wrapper ul.nav li.active.level3 > a {
  line-height: 20px;
  margin: 0;
  padding: 6px 0 6px 10px;
}

.sidebar-wrapper ul.nav li.level3 > a:before, .sidebar-wrapper ul.nav li.active.level3 > a:before,
.sidebar-wrapper ul.nav li.level3 > a:after, .sidebar-wrapper ul.nav li.active.level3 > a:after {
  top: 0;
}

.sidebar-wrapper ul.nav li.level3 i {
  font-size: 14px;
  width: 20px;
  margin-right: 6px;
  line-height: 20px;
}

.sidebar-wrapper ul.nav li p {
  font-size: 14px;
  font-weight: 400;
}

.sidebar-wrapper ul.nav li.active p {
  font-size: 14px;
  font-weight: 700;
}

.sidebar-wrapper ul.nav li.level3 p {
  line-height: 20px;
}

.navbar .navbar-brand {
  padding-top: 25px;
}

.main-panel > .content {
  padding: 30px 0;
}

.content .panel {
  margin-bottom: 0;
}

.content .panel-heading {
  padding: 8px 12px;
}

.content .panel-heading h5 {
  margin: 0;
  font-size: 1em;
  font-weight: 700;
}

.content h5 {
  margin: 0;
  font-size: 1.2em;
  font-weight: 700;
}

.content .panel-body dl {
  margin-bottom: 0;
}

.content .panel-body dl dt, .content .panel-body dl dd {
  margin-bottom: 3px;
}

.content .panel-body dl dt {

}

.content .panel-body dl dd {
  font-size: 13px;
}

.content .panel-body dl dd.multi_rows {
  min-height: 36px;
}

.content .card .small {
  font-size: 12px;
  color: #999;
  margin-top: 4px;
}

/*
.content .table {
  table-layout: fixed;
}
*/

.content .card .table .small {
  font-size: 0.8em;
}

.content .table .long-text {
  white-space: nowrap;
  word-wrap:normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content .w40 { width: 40px; min-width: 40px; }
.content .w50 { width: 50px; min-width: 50px; }
.content .w60 { width: 60px; min-width: 60px; }
.content .w70 { width: 70px; min-width: 70px; }
.content .w80 { width: 80px; min-width: 80px; }
.content .w90 { width: 90px; min-width: 90px; }
.content .w100 { width: 100px; min-width: 100px; }
.content .w110 { width: 110px; min-width: 110px; }
.content .w120 { width: 120px; min-width: 120px; }
.content .w130 { width: 130px; min-width: 130px; }
.content .w140 { width: 140px; min-width: 140px; }
.content .w150 { width: 150px; min-width: 150px; }
.content .w160 { width: 160px; min-width: 160px; }
.content .w170 { width: 170px; min-width: 170px; }
.content .w180 { width: 180px; min-width: 180px; }
.content .w190 { width: 190px; min-width: 190px; }
.content .w200 { width: 200px; min-width: 200px; }
.content .w250 { width: 250px; min-width: 250px; }

.content .mw150 { min-width: 150px; }

.content .card,
.content .card .table th, .content .card .table td,
.modal-content .modal-body .table th, .modal-content .modal-body .table td {
  font-size: 14px;
  color: #666;
}

.content .card .text-danger,
.content .card .table td.text-danger,
.modal-content .modal-body .table td.text-danger {
  color: #B33C12;
  font-size: 13px !important;
  font-weight: bold;
}

.content .card .table > thead > tr > th,
.modal-content .modal-body .table th {
  font-weight: 700;
}

.content .style-number {
  min-width: 70px;
}

.content .style-wrap-date {
  width: 120px;
  min-width: 120px;
}


.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
  padding: 8px;
}

.datepicker .table-condensed>tbody>tr>td, .datepicker .table-condensed>tbody>tr>th,
.datepicker .table-condensed>tfoot>tr>td, .datepicker .table-condensed>tfoot>tr>th,
.datepicker .table-condensed>thead>tr>td, .datepicker .table-condensed>thead>tr>th {
  padding: 5px;
  font-size: small;
}

.content .card .btn,
.modal-content .btn {
  border-radius: 6px;
  border-width: 1px;
}

.content .card .btn {
  /* margin-bottom: 6px */
}

.content .card .wrap-btn {
  margin-top: 30px;
  margin-bottom: 30px;
}

.content .card .wrap-btn .btn {
  padding: 4px 12px;
  margin: 0 5px;
}

.content .card td .btn-sm {
  padding: 3px 10px;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.content .card td .btn-sm.btn-default {
  padding: 3px 6px;
  margin: 0;
}

.btn-info, .btn-warning, .btn-success, .btn-primary {
  color: #fff;
}

.modal-content .modal-footer {
  text-align: center;
}

.datepicker {
  opacity: 1;
  visibility: visible;
  border: 1px solid #ddd;
}

.wrap-cond-retrieve {
  padding: 6px 0 15px 0;
}

.wrap-cond-retrieve input.form-control[type=checkbox] {
  height: auto !important;
}

.form-inline .form-group {
  margin-bottom: 0;
}

#S_PROJ_CD {
  width: calc(100% - 66px);
  display: inline-block;
}
#S_FROM, #S_TO {
  width: 90px;
  text-align: center;
  display: inline-block;
}
#S_YYMM, #S_FROM_YYMM, #S_TO_YYMM {
  width: 80px;
  text-align: center;
}
.wrap-btn-months {
  display: inline-block;
}

label h5 {
  margin: 0;
}

.form-control.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-info.disabled, .btn-info.disabled.active, .btn-info.disabled.focus, .btn-info.disabled:active, .btn-info.disabled:focus, .btn-info.disabled:hover, .btn-info[disabled], .btn-info[disabled].active, .btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled]:focus, .btn-info[disabled]:hover, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info.active, fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:hover {
  background-color: #2aabd2;
}
.btn-warning.disabled, .btn-warning.disabled.active, .btn-warning.disabled.focus, .btn-warning.disabled:active, .btn-warning.disabled:focus, .btn-warning.disabled:hover, .btn-warning[disabled], .btn-warning[disabled].active, .btn-warning[disabled].focus, .btn-warning[disabled]:active, .btn-warning[disabled]:focus, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning.active, fieldset[disabled] .btn-warning.focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:hover {
  background-color: #eb9316;
}
.btn-success.disabled, .btn-success.disabled.active, .btn-success.disabled.focus, .btn-success.disabled:active, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled], .btn-success[disabled].active, .btn-success[disabled].focus, .btn-success[disabled]:active, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success.active, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
  background-color: #419641;
}


@media (min-width: 992px) {
  .modal-lg {
    width: 1200px;
  }
  .table-responsive {
    overflow: auto;
  }
}

@media (max-width: 991px) {
  .main-panel {
    width: 100%;
  }
  .sidebar-wrapper ul.nav li.level3 > a, .sidebar-wrapper ul.nav li.active.level3 > a {
    padding-left: 15px;
  }
  .wrap-btn-months {
    display: block;
    margin-top: 6px;
    padding-left: 90px;
  }
  .wrap-btn-retrieve {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .form-inline .form-group {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .dl-horizontal dt {
    width: 110px;
  }

  .dl-horizontal dd {
    margin-left: 125px;
  }
}

.grid-div {
  width: 100%;
  min-height: 100px;
  margin-top: 20px;
  margin-bottom: 0;
}

.grid-div-footer {
  overflow: hidden
}

.grid-div-footer table {
  table-layout: fixed;
  width: 2600px;
}

.grid-div-footer td {
  font-size: 14px;
  font-weight: 700;
  padding: 6px 8px 2px 8px;   /* 수정(2018.01.29 kyy) */
}

.grid-div-footer td.visible_col {
  background-color: #dadada;
  border-top: 1px solid #ccc;
}


.alert {
  font-size: 12px;
}



/* handson table custom color */
.handsontable table thead th{
  background-color: #dadada;
  font-weight:bold;
  font-size: 13px;
}

.handsontable table tbody td{
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.handsontable table td,
.handsontable table th {
  /* padding-top: 6px;
  padding-bottom: 6px; */
  padding: 6px 8px 2px 8px;   /* 수정(2018.01.29 kyy) */
  border-right: 0 !important;
  border-left: 0 !important;
}

.handsontable table td textarea {
  padding: 6px 8px 2px 8px;   /* 수정(2018.01.29 kyy) */
}

/* handson table custom color */
.handsontable table .fBold{
  font-weight:bold !important;
}

.handsontable table .cDark{
  color: #666 !important;
}

.handsontable table td.hst-bg-readonly {
  background-color: #eee !important;
}

.handsontable table th #select-all {
  width: 16px;
  height: 16px;
  padding: 1px;
}

.handsontable table th #select-all i {
  position: absolute;
  top: 7px;
  left: -2px;
  line-height: 0;
  vertical-align: top;
}

