body {
  font-size: 12px;
}

.navbar {
  border-radius: 0;
  border: 0;
}

.navbar-default {
  background-image: url();
  background-color: #fff;

}

.navbar-default .navbar-nav>li>a {
  color: #DDD;
  font-weight: 700;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #dedede;
}

#main-container {
  min-width: 1300px;
  background-color: #ffffff;
}

.x-mdi-wrap {
  padding: 0;
}

#mdimenu ul.nav-tabs {
  padding-left: 4px;
  border-bottom: 1px solid #b7b6b6;
  /* 전체닫기 버튼용  padding-right: 60px; */
}

#mdimenu .btn-mdiallclose {
  margin-top: 6px;
  margin-right: 3px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav-tabs>li>a {
  padding: 4px 30px 4px 10px;
  border-color: #d7d7d7;
  color: #818b97;
}

#w_relogin {
  z-index: 99999999;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.nav-tabs>li>a>button {
  top: 9px;
  position: absolute;
  right: 6px;
  width: 9px;
  height: 8px;
  background: url(/Theme/images/menu/btn_mdi_close.gif) no-repeat;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: #48ac2e;
  border-color: #649136;
  color: #fff;
  font-weight: 700;
}

.nav-tabs>li.active>a>button {
  background: url(/Theme/images/menu/btn_mdi_close_on.gif) no-repeat;
}

.nav-tabs>li>a>button i:before {
  content: "";
}

.nav-tabs>li>a .btn-xs, .nav-tabs>li.active>a .btn-xs {
  padding: 0;
  border-radius: 0;
  border: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>li>a:hover {
  color: #44444e;
  background-color: transparent;
  background-image: url();
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
}

/* header CUSTOM */
.navbar-depth-2 {
  min-width: 1300px;
}

.navbar-depth-2 .menu-depth-0 {
  height: 41px;
  background: url(/Theme/images/menu/bg_01.gif) bottom center repeat-x;
}

.navbar-depth-2 .menu-depth-1 {
  height: 45px;
  background: url(/Theme/images/menu/bg_10.gif);
  background-color: #2A3F54;
}

.menu-depth-0 .btn-util-home {
  /* margin-top: 8px; */
  margin-left: -15px;
}

.menu-depth-0 .btn-utils {
  margin-top: 8px;
}

.menu-depth-0 .btn-utils a {
  margin-right: 15px;
}

.menu-depth-0 .btn-utils a, .menu-depth-0 .btn-utils a:link, .menu-depth-0 .btn-utils a:visited {
  color: #fff;
}

.navbar-depth-2 .menu-depth-2 .navbar-nav {
  margin-left: 210px;
}

.navbar-depth-2 .menu-depth-2 {
  height: 25px;
  background: url(/Theme/images/menu/bg_11.gif);
  background-color: #2d89ef;
}

.navbar-depth-2 .menu-depth-2 .navbar-nav a.dropdown-toggle:hover,
.navbar-depth-2 .menu-depth-2 .navbar-nav .open a.dropdown-toggle {
  color: #fff;
  background-color: #2b5797;
}

.navbar-depth-2 .menu-depth-2 .navbar-nav .dropdown-submenu a.dropdown-toggle:hover,
.navbar-depth-2 .menu-depth-2 .navbar-nav .open .dropdown-submenu a.dropdown-toggle {
  background-color: #fff;
  font-weight: 400;
  color: #333;
  padding-top: 3px;
}

.navbar-brand {
  width: 180px;
  height: 45px;
  padding: 0;
  background-color: #FFFFFF;
}

.navbar-brand img {
  height: 45px;
}

.navbar-nav > li > a {
  padding: 15px 15px 15px 20px;
  font-size: 14px;
}

#main-menu {
  padding-left: 20px;
}

#main-menu li a {
  background-position: 7px 18px;
  background-repeat: no-repeat;

  display:block;width:auto;height:45px;padding:0 30px;
  border-right:1px solid #696a7b;
  font-weight:bold;font-size:14px;line-height:45px;
  color:#e4e4e4;
  letter-spacing:-1px;vertical-align:top
}

#main-menu li.active a {
	padding-right:45px;border-right:0 none;background:#fff url('/Theme/images/menu/img_cnb_bg.gif') no-repeat 100% 0;color:#333; outline:0px;
}

#right-menu li a {
  background-position: 7px 18px;
  background-repeat: no-repeat;

  display:block;width:auto;height:45px;padding:0 30px;
  font-weight:bold;font-size:14px;line-height:45px;
  color:#e4e4e4;letter-spacing:-1px;vertical-align:top
}

#right-menu .dropdown-menu>li>a {
  height:20px;
  font-size:13px;
  line-height: 1.42857143;
  padding:3px 20px;
  color:#333;
}

#main-menu li.sys-ea a { background-image: url(/Theme/images/menu/mbtn_ea.png); }
#main-menu li.sys-bm a { background-image: url(/Theme/images/menu/mbtn_bm.png); }
#main-menu li.sys-cm a { background-image: url(/Theme/images/menu/mbtn_cm.png); }
#main-menu li.sys-mm a { background-image: url(/Theme/images/menu/mbtn_mm.png); }
#main-menu li.sys-om a { background-image: url(/Theme/images/menu/mbtn_om.png); }
#main-menu li.sys-im a { background-image: url(/Theme/images/menu/mbtn_im.png); }
#main-menu li.sys-mr a { background-image: url(/Theme/images/menu/mbtn_mr.png); }
#main-menu li.sys-sm a { background-image: url(/Theme/images/menu/mbtn_sm.png); }

#main-menu li.sys-ea.active a { background-image: url(/Theme/images/menu/mbtn_ea_on.png); color: #2a7b08; }
#main-menu li.sys-bm.active a { background-image: url(/Theme/images/menu/mbtn_bm_on.png); color: #2a7b08; }
#main-menu li.sys-cm.active a { background-image: url(/Theme/images/menu/mbtn_cm_on.png); color: #2a7b08; }
#main-menu li.sys-mm.active a { background-image: url(/Theme/images/menu/mbtn_mm_on.png); color: #2a7b08; }
#main-menu li.sys-om.active a { background-image: url(/Theme/images/menu/mbtn_om_on.png); color: #2a7b08; }
#main-menu li.sys-im.active a { background-image: url(/Theme/images/menu/mbtn_im_on.png); color: #2a7b08; }
#main-menu li.sys-mr.active a { background-image: url(/Theme/images/menu/mbtn_mr_on.png); color: #2a7b08; }
#main-menu li.sys-sm.active a { background-image: url(/Theme/images/menu/mbtn_sm_on.png); color: #2a7b08; }

#main-menu li.sys-ea a:hover { background-image: url(/Theme/images/menu/mbtn_ea_over.png); color: #53b629; }
#main-menu li.sys-bm a:hover { background-image: url(/Theme/images/menu/mbtn_bm_over.png); color: #53b629; }
#main-menu li.sys-cm a:hover { background-image: url(/Theme/images/menu/mbtn_cm_over.png); color: #53b629; }
#main-menu li.sys-mm a:hover { background-image: url(/Theme/images/menu/mbtn_mm_over.png); color: #53b629; }
#main-menu li.sys-om a:hover { background-image: url(/Theme/images/menu/mbtn_om_over.png); color: #53b629; }
#main-menu li.sys-im a:hover { background-image: url(/Theme/images/menu/mbtn_im_over.png); color: #53b629; }
#main-menu li.sys-mr a:hover { background-image: url(/Theme/images/menu/mbtn_mr_over.png); color: #53b629; }
#main-menu li.sys-sm a:hover { background-image: url(/Theme/images/menu/mbtn_sm_over.png); color: #53b629; }

.navbar-nav > li > a, .navbar-nav > li > a:link, .navbar-nav > li > a:visited, .navbar-nav > li > a:hover {
  color: #44444e;
}

.navbar-nav > li > a:hover {
 text-decoration:underline;
}

.sidebar {
  width: 250px !important;
}

.x5-side-panel-pleft.x5-side-panel-opened {
  padding-left: 250px;
  padding-right: 0px;
}

.x5-side-panel-pright.x5-side-panel-opened {
  padding-left: 0px;
  padding-right: 250px;
}

.sidebar-header {
    border-bottom: 0;
    font-size: 18px;
    margin-top: 46px
}
.sidebar-header:first-of-type {
    margin-top: 0
}
/*.sidebar-header {
  padding-top: 12px;
  height: 56px;
  text-align: center;
  background-color: #3a3941;
  color: #f2f3a1;
  font-size: 18px;
}

.sidebar-header small {
  color: #fff;
  font-size: 80%;
}
*/
.x5-side-panel .pull-right {
  margin-top: 0;
}

.x5-side-panel .navbar-nav li a {
  padding: 10px;
  padding-left: 28px !important;
}

.x5-side-panel .sub-menu-panel .navbar-nav li span {
  display: none;
}

.x5-side-panel .sub-menu-panel .navbar-nav li a {
  background: url(/Theme/images/menu/side_bul_down.gif) 10px 15px no-repeat;
  color: #fff;
  font-weight: 500;
  background-color: #626262;
  border-bottom: 1px solid #fff;
}

.x5-side-panel .sub-menu-panel .navbar-nav li a.collapsed {
  background: url(/Theme/images/menu/side_bul.gif) 10px 15px no-repeat;
  background-color: #a5a5a5;
}

.x5-side-panel .sub-menu-panel .navbar-nav .sub-menu-dl li a {
  color: #454545;
  font-weight: 500;
  background-color: #f0f0f0;
  border-bottom: 1px solid #fff;
  background: url(/Theme/images/menu/side_sub_bul.gif) 30px 18px no-repeat;
  padding-left: 40px !important;
}

#side-container {
  background-color: #f0f0f0;
}

#side-container .fa-chevron-right:before {
  content: "";
}

/* Hitech header CUSTOM */

#mdimenu ul.nav-tabs li {
  padding-top: 10px;
}

.x-mdi-wrap.wrap-PM, .x-mdi-wrap.wrap-CM, .x-mdi-wrap.wrap-SM, .x-mdi-wrap.wrap-PT,
.x-mdi-wrap.wrap-HR, .x-mdi-wrap.wrap-AC,
.x-mdi-wrap.wrap-IM, .x-mdi-wrap.wrap-MM, .x-mdi-wrap.wrap-BM, .x-mdi-wrap.wrap-OM,
.x-mdi-wrap.wrap-MR, .x-mdi-wrap.wrap-DM{
  padding: 6px;
}

.dropdown-menu {
  background-color: #fff;
  color: #666;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a {
  background-color: #fff;
  color: #666;
  background-image: url();
}

.carousel-control {
  padding-top: 160px;
  font-size: 5em;
  filter: alpha(opacity=10);
  opacity: .1;
}

.carousel-control:hover {
  filter: alpha(opacity=70);
  opacity: .7;
}

.main-photo-wrap {
  width: 100%;
  background-color: #f2f2f2;
  margin-top: 1px;
}

.main-photo {
  background-color: #f2f2f2;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.main-more-wrap {
  width: 1000px;
  margin: 30px auto;
}


.main-more-wrap .main-more1, .main-more-wrap .main-more2, .main-more-wrap .main-more3 {
  float: left;
  width: 300px;
  margin-right: 50px;
}

.main-more-wrap .main-more3 {
  margin-right: 0;
}

/*
.main-more-wrap ul li img {
  width: 300px;
}
*/
.option_label, .option_label_check, .option_label_left, .option_label_left_check {
  background-image: url() !important;
  background-color: #e3e0dd !important;
}

.slick-header, .slick-header-columns, .slick-header-column, .slick-headerrow .slick-headerrow-column {
  background: #d2dbe9 !important;	*/
  background: #dfe3e8 !important;
}

.cell-selection {
  background: #EBEEF3 !important;
}

.detail_label, .detail_label2, .detail_label3, .detail_label_check, .detail_label_check2, .detail_label_check3,
.detail_label_left, .detail_label_left2, .detail_label_left3, .detail_label_left_check, .detail_label_left_check2, .detail_label_left_check3 {
  background-image: url() !important;
  background-color: #eaeff2 !important;
}

input[readonly="readonly"], input[readonly], input[disabled], select[readonly="readonly"], select[readonly], select[disabled], textarea[readonly="readonly"], textarea[readonly], textarea[disabled], input[type="text"][disabled], input[type="text"][disabled="disabled"] {
  background-image: url() !important;
  background-color: #fbfbfb !important;
}

.main-wrap {
  width: 1050px;
  margin: 0 auto;
}

.main-wrap>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -50px;
}

.main-wrap>ul>li {
  float: left;
  width: 300px;
  margin-left: 50px;
}

.main-mid-bar {
  width: 300px;
  height: 35px;
  padding: 7px 0;
  margin-top: -3px;
  border-bottom: 1px solid #cccccc;
  font-size: 1.2em;
  font-weight: bold;
  list-style: none;
}

.main-more {
  position: absolute;
  top: 8px;
  right: 3px;
  width: 43px;
  height: 13px;
}

.main-mid-bar .more-title {
  width: 260px;
  float: left;
}

.main-mid-bar .more-link {
  width: 40px;
  height: 20px;
  float: left;
  position: relative;
}

#findmodal iframe {
  width: 100%;
  height: 100%;
}

#main-menu-cm {
  margin-left: 50px !important;
}
#main-menu-pm {
  margin-left: 120px !important;
}
#main-menu-sm {
  margin-left: 400px !important;
}


/*



#mdimenu ul.nav-tabs {
  padding-left: 5px;
}

#pageLayout {
  padding: 6px;
}
*/

#search-pgmcode {
	padding-top: 9px !important;
}

#search-pgmcode span .typeahead {
	height:28px  !important;
	line-height:28px  !important;
	padding: 2px 6px   !important;
	font-size: 13px  !important;
}

@media (min-width: 1371px) and (max-width: 1500px) {
  #search-pgmcode {
    width: 100px;
  }
  #find-pgmname {
    width: 100px;
  }
  .typeahead, .tt-query, .tt-hint {
    width: 100px !important;
  }
}

@media (max-width: 1370px) {
  #search-pgmcode {
    display: none;
  }
}
