/* Border */
div#border {
	width: 860px;  border-collapse: collapse;
}

/* 리스트 테이블 */
.listTable{BORDER-TOP: #7095b2 2px solid; BORDER-bottom: #b9cbd9 1px solid; border-collapse: collapse;}
.listTable th{BORDER-bottom: #c6c6c6 1px solid; padding-left:2px;padding-right:2px;background-color: #edeef0; height:20px;}
.listTable td{BORDER-bottom: #E0E0E0 1px solid; padding-left:2px;padding-right:2px;background-color: #ffffff; height:20px;}

/* 리스트 타이틀 */
.listTitle{color:#000000 ; font-weight: bold ; vertical-align: middle}

/* 리스트 내용 */
.listCenter { color:#000000; height:24px; text-align:center; vertical-align:middle;}
.listLeft { color:#000000; height:24px; text-align:left; vertical-align:middle;}
.listRight { color:#000000; height:24px; text-align:right; vertical-align:middle;}

/* 일반 테이블 */
.generalTable{BORDER-TOP: #b9cbd9 1px solid;BORDER-bottom: #b9cbd9 1px solid;BORDER-left: #c6c6c6 1px solid;BORDER-right: #c6c6c6 1px solid; border-collapse: collapse;}
  .generalTable th{ padding-left:2px;padding-right:5px;background-color: #eaeff2; Text-align: right ;}
  .generalTable tr{ border-bottom:1px solid #c6c6c6;padding-top:2;padding-bottom:2;}
  .generalTable td{ padding-left:2px;padding-right:5px;background-color: #ffffff;}

/* 강조 내용 */
.emphasisCenter { font-size:9pt; color:#000000 ; font-weight: bold ; padding-right:3px; text-align: center ; vertical-align: middle}
.emphasisLeft { font-size:9pt; color:#000000 ; font-weight: bold ; padding-right:3px; text-align: left ; vertical-align: middle}
.emphasisRight { font-size:9pt; color:#000000 ; font-weight: bold ; padding-right:3px; text-align: right ; vertical-align: middle}

/* 리스트 테이블 */
.imageTable{BORDER-TOP: #7095b2 2px solid; BORDER-bottom: #b9cbd9 1px solid; border-collapse: collapse;}

.contents {float:left;width:960px; BORDER-TOP: #7095b2 2px solid; BORDER-bottom: #b9cbd9 1px solid; border-collapse: collapse;}

ul    { list-style : none; margin : 0; padding : 0;  font-size : 9pt;}
ol    { list-style : none; margin : 0; padding : 0;  font-size : 9pt;}
li    { list-style : none; margin : 0; padding : 0; font-size : 9pt;}
dl    { list-style : none; margin : 0; padding : 0; font-size : 9pt;}
dt    { list-style : none; margin : 0; padding : 0;  font-size : 9pt;}
dd    { list-style : none; margin : 0; padding : 0;  font-size : 9pt;}

.photolist								{float:left;width:860px;padding:0 0 0 5px ;}
.photolist	li							{float:left;padding:0 0 15px 0 ;width:215px;}
.photolist	li	dl						{float:left;width:190px ;padding:0 0 0 10px;height:178px;}
.photolist	li	dl dt					{float:left;width:179px;height:119px;background:url(/Theme/images/bbs/img_bg.gif) left top no-repeat ;padding:5px 5px 5px 5px}

.photolist	li	dl dd ul				{float:left;padding:2px 0 0 0 ;width:170px ;}
.photolist	li	dl dd ul li				{float:left;width:60px ;padding: 0px 0px 10px ;background:url(/Theme/images/bbs/arrow.gif) left no-repeat ;color:#444444 ;font-family:"맑은 고딕";font-size:8pt;}
.photolist	li	dl dd ul .lietc			{float:left;width:160px ;padding:0px 0px 0px 10px ;background:url(/Theme/images/bbs/arrow.gif) left no-repeat ;color:#444444 ;font-family:"맑은 고딕";font-size:8pt ;}
.photolist	li	dl dd ul .lietca		{float:left;width:85px ;padding:0px 0px 0px 10px ;background:url(/Theme/images/bbs/arrow.gif) left no-repeat ;color:#444444 ;font-family:"맑은 고딕";font-size:8pt ;}
.photolist	strong					    {float:left;width:160px;padding:0px 0px 5px 0;color:#ffffff ;}
.photolist	strong	a:link				{color:#ffffff}
.photolist	strong	a:visited			{color:#ffffff}
.photolist	strong	a:hover				{color:#eef368}
.photolist	strong	a:active			{color:#ffffff}