/*
/**
  * @Class Name : error.css
  * @Description : error CSS
  * @Modification Information
  * @
  * @  수정일        		 수정자                   수정내용
  * @ -------    --------    ---------------------------
  * @ 2013.03.03    박영찬        최초 생성
  * @
  */


* {margin:0;padding:0;}
* html {height:1px;}
body {margin:0; padding:0; font-family:"맑은 고딕"; font-size:12px; color:#666; scroll:auto;}
table, tr, td, th {font-family:"맑은 고딕"; font-size:11px; color:#333333;}
caption{visibility:hidden}
th {background-color:#F3F5E0; background:url(/Theme/images/egovframework/rte/th_bg.gif) 0 0 repeat; height:26px; text-align:center; vertical-align:middle; color:#003366;}
p { height:20px; margin:0; padding:5 0 0 0;}

a:link { font-size:11px; font-family:"맑은 고딕"; color:#3A5870; text-decoration:none; line-height:100%;}
a:visited { font-size:11px; font-family:"맑은 고딕"; color:#3A5870; text-decoration:none}
a:active { font-size:11px; font-family:"맑은 고딕"; color:#339999; text-decoration:none;}
a:hover { font-size:11px; font-family:"맑은 고딕"; color:#339999; text-decoration:none;}

#logo {margin:0; padding:0; text-align:left; /*overflow:hidden;*/ width:910px;}
#header {height:74px;}
#top {width:910px;}
#content {float:left; text-align:left; /*overflow:hidden;*/width:680px; background-color:#FFFFFF; padding:10px 0px 10px 0px;}
#content_pop {float:left; text-align:left; /*overflow:hidden;*/width:680px; background-color:#FFFFFF; padding:10px 10px 10px 10px;}
#foot {margin:0; padding:0 0 0 0; text-align:left; /*overflow:hidden;*/ height:40px; clear:both; background-color:#F7F7F7; border-top:1px solid #e5e5e5; font-family:Tahoma; font-size:11px; color:#999999;}
#table {float:left; margin:0 0 10px 0; padding:0 0 0 0; width:680px;}
input { height:20px; font-family:"맑은 고딕"; font-size:12px; color:#000000; padding:2px 2px 0px 2px; margin-top:0px; _margin-top:-1px;}
select {font-family:'맑은 고딕'; font-size:12px; margin-top:0px; height:20px; padding-top:0px;}
input.txt               {height:18px; background-color:#FFF; border:1px solid #BCC8D8; padding-top:2px; color:#5e5e5e; cursor:text;}
input.essentiality  {height:18px; background-color:#ebebeb; border:1px solid #BCC8D8; padding-top:2px; color:#000; cursor:text;}
input.textarea {width: 100%; height: 500px}
#footer{clear:both;width:100%;font-size:100%;border-top:2px solid #dddddd;}
#header{padding-top:5px;}
#container{float:left;width:1100px; margin-top:0px;min-height:440px; height:auto !important; height:440px;}
#mopaslogo{float:left;padding-top:10px;padding-left:10px;}
#copyright{float:left;font-size:90%;padding-top:20px;padding-left:20px; letter-spacing: -1px;}
#logoarea{float:left;padding-left:10px;}
#project_title{float:left;padding-top:7px;padding-left:14px;font-size:130%;letter-spacing:-1px;}
#project_title .maintitle{color:#e68c0d;font-weight:bold;}
border: medium none;
font-size: 0.92em;
line-height: 1.27em;
margin: 0; background-color:#f2f2f2;
}
