/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
body, html {
    height: 100%;
    background-repeat: no-repeat;
  	background: url(/Theme/images/login/partner_bg_w.jpg) top center;	
    /* background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33)); */
    
}                                                                                                                

.container-wrap {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding-top: 200px;
  background: url(/Theme/images/login/partner_login_logo.png) left top no-repeat ;
}

.container {
  width: 1280px;
  height: 100%;
  background: url(/Theme/images/login/partner_login_main.png) left 0 no-repeat ;
}

.footer {
	height:50px;
}

.card-container.card {
    max-width: 350px;
    padding: 0;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    margin-top: -3px;
}

/*
 * Card component
 */
.card {
    /* background-color: #F7F7F7; */
    /* just in case there no content*/
    padding: 0;
    margin-left: 880px;
    margin-top: 268px;
    /*background-color:#F7F7F7;*/
    /* shadows and rounded borders */
    /*-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
}

.wrap-form-login .col-xs-8, .wrap-form-login .col-xs-4 {
    float: none;
}

.wrap-form-login .col-xs-8 #id, .wrap-form-login .col-xs-8 #password {
    width: 200px;
    margin-bottom: 28px;
    margin-left: 40px;
    color: #fff;
    border: none;
    background-color: transparent;
}

.wrap-btn-login {
    padding-left: 22px;
}

.wrap-link-join {
    padding-top: 8px;
}

.wrap-link-join a {
    color: #fff;
}


.form-signin .form-control:focus {
    box-shadow: none;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.checkbox, .radio {
    margin-bottom: 0px;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    font-size:13px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin input[type=text],
.form-signin input[type=password]{
	padding: 0 5px;
	border-radius: 0px;
	margin-bottom: 3px;
}
.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
   
}

.btn.btn-signin {
   background: url(/Theme/images/login/partner_btn_login.png) -5px -5px;
   width: 282px;
   height: 42px;
   float: block;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: transparent;
}