/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
body, html {
    /*height: 100%;*/
    /*background-repeat: no-repeat;*/
    /*background: url(/Theme/images/login/gts_login_bg_201602.png) top center no-repeat;*/
    background: url(/Theme/images/login/gts_login_bg_201602.png) repeat-x;
    /*background: url(/Theme/images/login/gts_login_20160216.png) no-repeat; margin-left:165px;*/
    /*background-color:#3f3e46*/
    /* background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33)); */

}

.container-wrap {
  width: 100%;
  height: 100%;
  /*background: url(/Theme/images/login/login_bg8.png) center top no-repeat ;*/
}

.container {
  height: 100%;
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  /*background: url(/Theme/images/login/login_bottom_2.png) center bottom no-repeat ;*/
}

.row.wrap-form-login {
  padding:11px 0px 0px 33px;
}

.footer {
	height:50px;
}

.card-container.card {
    /*max-width: 550px;*/
    padding: 35px 30px 40px 20px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    margin-top: -3px;
}

/*
 * Card component
 */
.card {
    /* background-color: #F7F7F7; */
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 20px;
    margin-top: 220px;
    /*background-color:#F7F7F7;*/
    /* shadows and rounded borders */
    /*-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 12px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    font-size:12px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin input[type=text],
.form-signin input[type=password]{
	padding: 0 5px;
	border-radius: 0px;
	margin-bottom: 3px;
}
.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;

}

.btn.btn-signin {
	background: url(/Theme/images/login/gts_login_btn_201602.png);
	width: 68px;
	height: 47px;
	margin:-1px 0px 0px 40px;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}
