/**
  * @Class Name : main.css
  * @Description : 대쉬보드 메인 화면 CSS
  * @Modification Information
  * @
  * @  수정일        		 수정자                   수정내용
  * @ -------    --------    ---------------------------
  * @ 2015.04.14    김성한        최초 생성
  * @
  */

#mdi_main {
	/*height: 100%;*/
	/*overflow-y: scroll;*/
	background-color: #ffffff;
	padding-top: 5px;
	/*padding-bottom: 30px;*/
}

.wrap-main .row {
	padding: 10px 10px 6px 10px;
}

.wrap-main .col-lg-6 {
	padding-right: 10px;
}

.wrap-main .page-header {
  padding-bottom: 0;
  margin: 20px 0 15px;
  border-bottom: 1px solid;
  border-bottom-color: #c0ccd1;
}

.wrap-main .page-header h5 {
  font-weight: 700;
  color: #2a7b08; /* #666; */
}



.wrap-main .panel {
	border: 0;
}

.wrap-main .panel-heading {
	background-color: #4caf50;
	background-image: none;
	padding: 1px 20px;
}

.wrap-main .panel-heading h5 {
	color: #fff;
	font-weight: 700;
}

.wrap-main .panel-body {
	/* min-height: 300px; */
}


.wrap-main .tabs {
	display: table;
  width: 100%;
}
.wrap-main .tabs .nav-tabs {
  border-color: #cfd8dc;
}
.wrap-main .tabs .nav-tabs {
  position: relative;
  border-bottom: none;
  margin-bottom: -1px;
}
.wrap-main .tabs.tabs-left>.nav-tabs {
  width: 180px;
  display: table-cell;
}


.wrap-main .nav>li {
  position: relative;
  display: block;
}
.wrap-main .nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}
.wrap-main .tabs .nav-tabs>li {
  margin-bottom: 0;
}
.wrap-main .tabs.tabs-left>.nav-tabs>li, .tabs.tabs-right>.nav-tabs>li {
  float: none;
}



.wrap-main .list-tabs.nav>li>a {
  position: relative;
  display: block;
  padding: 5px 15px !important;
}
.wrap-main .nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.wrap-main .nav>li>a:focus, .wrap-main .nav>li>a:hover {
  text-decoration: none;
  background-color: #eee;
}
.wrap-main .nav-tabs>li>a:hover {
  border-color: #eee #eee #ddd;
}
.wrap-main .tabs .nav-tabs>li a {
  border: 1px solid;
  margin-right: -2px;
  border-radius: 0;
}
.wrap-main .tabs .nav-tabs>li a {
  border-color: #cfd8dc;
  background: #fbfbfc;
  color: #080b0d;
  transition: none;
}
.wrap-main .tabs .nav-tabs>li:first-child a {
  border-top-left-radius: 2px;
}
.wrap-main .tabs.tabs-left>.nav-tabs>li>a, .wrap-main .tabs.tabs-right>.nav-tabs>li>a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 0;
  border-radius: 0;
}
.wrap-main .tabs.tabs-left>.nav-tabs>li a {
  margin-right: -1px;
  margin-bottom: -1px;
}
.wrap-main .tabs .nav-tabs>li a:hover {
  background: #e9edef;
}
.wrap-main .tabs.tabs-left>.nav-tabs>li:first-child a {
  border-top-left-radius: 2px;
}
.wrap-main .tabs .nav-tabs>li.active>a, .wrap-main .tabs .nav-tabs>li.active>a:focus, .wrap-main .tabs .nav-tabs>li.active>a:hover {
  color: #080b0d;
  border-color: #cfd8dc;
  background: #fff;
  border-right: 0;
}


.wrap-main .tabs .tab-content {
  border: 1px solid;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.wrap-main .tabs .tab-content {
  border-color: #cfd8dc;
  background: #fff;
}
.wrap-main .tabs.tabs-left .tab-content {
  display: table-cell;
  vertical-align: top;
}
.wrap-main .tabs.tabs-left .tab-content {
  border-top-left-radius: 0;
}


.wrap-main .fade {
  opacity: 0;
  transition: opacity .15s linear;
}
.wrap-main .fade.in {
  opacity: 1;
}
.wrap-main .tab-content>.tab-pane {
  display: none;
}
.wrap-main .tab-content>.active {
  display: block;
}
.wrap-main .tabs .tab-content .tab-pane {
  padding: 0;
  margin-top: -23px;
}


.wrap-main .tab-content table tr:first-child td, .wrap-main .tab-content table tr:first-child th {
	border: 0;
}

.wrap-main .tab-content .btn {
	background-color: #eee;
	color: #666;
  margin-top: -2px;
}


.wrap-main .title-tab {
  border-bottom: 0;
}

.wrap-main .title-tab li {
  margin-left: 10px;
}

.wrap-main .title-tab.nav-tabs>li>a:hover {
  border-color: #48ac2e;
}
.wrap-main .title-tab.nav>li>a:focus, .wrap-main .title-tab.nav>li>a:hover {
  background: url(/Theme/images/main/bg_title_tab.gif) top center repeat-x;
}

.wrap-main .title-tab.nav-tabs>li>a {
  background: url(/Theme/images/main/bg_title_tab.gif) top center repeat-x;
  padding: 5px 20px !important;
}

.wrap-main .tab-pane ul.latest-list {
  display: block;
  clear: both;
  padding: 0;
  margin: 0 10px;
  list-style: none;
}

.wrap-main .tab-pane li {
  padding: 0 0 0 8px;
  height: 28px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px dotted #ccc;
}

.wrap-main .tab-pane .wrap-more {
  margin-bottom: 3px;
}

.wrap-main .tab-pane .item-title {
  line-height: 2em;
  margin-right: 100px;
  line-height: 2em;
  height: 28px;
  text-overflow: ellipsis;
}

.wrap-main .tab-pane .item-title a, .wrap-main .tab-pane .item-title a:hover {
  color: #333;
}

.wrap-main .tab-pane .item-date {
  position: absolute;
  width: 90px;
  top: 4px;
  right: 0;
  text-align: right;
}

.wrap-main .tabs .list-tabs.nav-tabs>li a {
  border-left: 0;
}

.wrap-main .tabs .list-tabs.nav-tabs>li div.pull-right {
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 18px;
  cursor: pointer;
  color: #999;
  z-index: 3;
}

.wrap-main .tabs.tabs-left .tab-content {
  border-right: 0;
  border-bottom: 0;
}

