/**
  * @Class Name : main_cfms.css
  * @Description : 대쉬보드 메인 화면(협력업체) CSS
  * @Modification Information
  * @
  * @  수정일        		 수정자                   수정내용
  * @ -------    --------    ---------------------------
  * @ 2015.04.14    김성한        최초 생성
  * @
  */

/*메인 배경 이미지*/
#main_img {
	position: relative; 
	width: 1145px; 
	height: 570px; 
	background: url('/Theme/images/main/board_bg.jpg') 0 0 no-repeat;
	margin: 10px;
}

/*오늘의 날씨 위젯*/
#main_weather {
	position: absolute; 
	top: 26px; 
	right: 45px; 
	width: 350px; 
	height: 80px;
}

#weather_today {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 180px; 
	height: 80px; 
}

#weather_icon {
	position: absolute; 
	top: 11px; 
	right: 30px; 
	width: 63px; 
	height: 67px; 
	background: url('/Theme/images/weather/DB01.png') 0 0 no-repeat;
}

.w_title {
	height: 42px;
	line-height: 42px;
	font-size: 15px;
	font-weight: bold;
	color: #043db1;
	text-align: left;
	vertical-align: middle;
	padding-left: 16px;
}

.w_body {
	height: 18px;
	line-height: 18px;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-align: left;
	vertical-align: middle;
	padding-left: 3px;
}

/*공지사항 위젯*/
#main_board {
	position: absolute; 
	top: 200px; 
	right: 45px; 
	width: 541px; 
	height: 260px;
}

#board_more {
	position: absolute; 
	top: 11px; 
	right: 0; 
	width: 37px; 
	height: 8px; 
	background: url('/Theme/images/main/more.png') 0 0 no-repeat;
	cursor: pointer;
}

#board_list {
	position: absolute; 
	top: 25px; 
	left: 0; 
	width: 541px; 
	height: 237px; 
}

.b_title {
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
}

.b_body {
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-align: center;
	vertical-align: middle;
}

.b_subject {
	width: 270px;
	padding: 0 10px;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
