  #pageLayout { overflow-x: hidden; }
  #search-pgmcode { padding-top: 0px; }
  #search-pgmcode .twitter-typeahead { width: 100%; }
  #search-pgmcode .typeahead { padding: 6px 12px; height: 28px; line-height: 20px; width: 100%; }
  .tab-content textarea { font-size: 12px; white-space:nowrap; }
  .row-1 { height: 23%; max-height: 170px; }
  .row-2 { height: 72%; }
  .row-3 { margin-bottom: 10px; }
  .form-group { margin-bottom: 10px; }

  .typeahead, .tt-query, .tt-hint { font-size: 12px; }

  .nav>li>a { padding: 4px 10px; }
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover { font-weight: 700; }
  
  .nav-tabs>li.modgrid.active>a, .nav-tabs>li.modgrid.active>a:focus, .nav-tabs>li.modgrid.active>a:hover { background-color: #d9edf7; border-color: #bce8f1; border-bottom: 1px solid #d9edf7; }
  /*

  .nav-tabs>li.newgrid.active>a, .nav-tabs>li.newgrid.active>a:focus, .nav-tabs>li.newgrid.active>a:hover { background-color: #fcf8e3; border-color: #faebcc; border-bottom: 1px solid #fcf8e3; }
  */

  .panel { border-radius: 0; }
  .btn-group-sm>.btn, .btn-sm {
    padding: 4px 8px;
    font-size: 11px;
    border-radius: 2px;
  }
  .btn-info, a:visited.btn-info, a:link.btn-info {
    color: #fff;
  }

  ul#tab-spec li:first-child { margin-left: 20px !important; }
  ul#tab-spec.nav-tabs { border-bottom: 0px;}
  ul#tab-spec .panel { margin-bottom: 10px; }

  .panel-info .panel-body { background-color: #d9edf7; padding-bottom: 5px; }
  .panel-warning .panel-body { background-color: #fcf8e3; padding-bottom: 5px; }

  ul.tab-title { margin-left: 6px; }
  ul.tab-title.nav>li>a { padding: 2px 5px; }

  .col-xs-10 { padding-left: 0px; }

  .option_box2 { height: 28px; }
  .hi-buttons { padding: 5px 0;}
  .border-left-info { border-left: 1px dashed #5bc0de; }

  .nav-pills>li>a {
    padding: 15px 8px;
  }

  #tab-content-spec .col-xs-1, #tab-content-spec .col-xs-11 {
    padding-left: 5px;
    padding-right: 5px;
  }

  #tab-content-spec .tab-pane .panel-body {
    min-height: 170px;
    max-height: 209px;
  }

  #tab-spec-detail a {
    padding: 4px 0;
    text-align: center;
  }

  .spec-right, .print-right {
    border-left: 1px dotted #ccc;
  }

  .spec-right { padding: 80px 0 40px 15px !important; }
  .spec-right a { margin: 0 auto; }
  .print-right { padding-left: 0 !important; }
  .print-right a { margin-bottom: 2px; border-radius: 0 3px 3px 0; }
  .spec-right a.btn, .print-right a.btn.btn-warning { color: #fff !important; }
  .print-right a.btn span { font-size: 1.5em; color: #fff; font-weight: 700; }
  .print-right a.btn.btn-primary { border-radius: 3px; margin-left: 2px; margin-right: 1px; }

  .ux-col-left, .ux-col-mid, .ux-col-mid-left, .ux-col-mid-right { float: left; padding-left: 5px; padding-right: 5px; }
  .ux-col-left { width: 60px; }
  .ux-col-mid  { width: 810px; }
  .ux-col-mid-left  { width: 720px; }
  .ux-col-mid-right { width: 80px; }

  #wrap-print-right {
    width: 100%;
    height: 120px;
    overflow-y: auto;
  }

  /* TOP-SEARCH 관련 - 나중에 모둘로 빼나? - start */
  .option_box2 {
    width: 100%;
  }

  .option_box2 input:not(.option_date), .option_box2 select {
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 0;
  }

  #buttons li a {
    height: 22px;
  }
  /* TOP-SEARCH 관련 - 나중에 모둘로 빼나? - end */

  .nav-tabs>li.modspec.active>a, .nav-tabs>li.modspec.active>a:focus, .nav-tabs>li.modspec.active>a:hover { background-color: #dff0d8; border-color: #d6e9c6; border-bottom: 1px solid #d9edf7; color: #3c763d; }

/*!
 * bootstrap-vertical-tabs - v1.1.0
 * https://dbtek.github.io/bootstrap-vertical-tabs
 * 2014-06-06
 * Copyright (c) 2014 Ä°smail Demirbilek
 * License: MIT
 */
.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}
.vertical-text.tabs-left {
  left: -50px;
}
.wrap-btn-estim {
  margin-top: -5px;
  margin-bottom: -20px;
}

.close {
  float: right;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  color: #337ab7;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .8;
}

#freeform i.fa {
  position: absolute;
  color: #337ab7;
  width: 16px;
  height: 20px;
}

#freeform, #freeform .panel {
  overflow-y: hidden;
}
